<template>
	<Group label="IPTV" name="vdr-plugin-iptv" :enable="enable">
		<Option label="Devices">
			<q-select dark dense class="w25" v-model="$settings.vdr.plugins.iptv.count" :label="$t('Count')" :options="counts" @input="setDevices" />
		</Option>
		<Option label="m3u lists">
			<template v-slot:top>
				<q-btn color="grey-9" size="sm" :label="$t('Add')" @click="editM3uList('')" class="q-ml-md q-mb-sm"/>
				<q-btn v-if="m3u.upload.available" color="grey-9" size="sm" :label="$t('Upload')" :title="$t('Upload description')" @click="m3u.upload.show = true" class="q-ml-md q-mb-sm"/>
				<q-btn color="grey-9" size="sm" :label="$t('Edit')" @click="m3u.select.show = true" class="q-ml-md q-mb-sm"/>
			</template>
		</Option>
		<Option label="Utilities">
			<q-checkbox v-model="ytdlp" :label="$t('Install ytdlp')" @input="setYtdlp"/><br>
		</Option>

		<q-dialog v-model="m3u.select.show">
			<q-card style="min-width: 350px">
				<q-card-section class="q-pb-sm q-mx-xs">
					<div class="text-h5"><t>Select m3u list</t></div>
				</q-card-section>

				<q-card-section class="q-py-none q-mx-xs">
					<q-select dark dense v-model="m3u.select.list" :options="m3u.select.lists" @filter="getM3uLists">
						<template v-slot:option="{ itemProps, itemEvents, opt, selected }">
							<q-item v-bind="itemProps" v-on="itemEvents">
								<q-item-section>
									<q-item-label v-html="opt"></q-item-label>
								</q-item-section>
								<q-item-section side>
									<q-btn size="xs" icon="clear" round flat style="margin:-4px 0" @click.stop="deleteM3uList(opt)"/>
								</q-item-section>
							</q-item>
						</template>
					</q-select>
				</q-card-section>

				<q-card-actions align="right" class="q-ma-sm q-mx-md q-px-xs">
					<q-btn color="grey-9" :label="$t('Cancel')" v-close-popup />
					<q-btn :disabled="!m3u.select.list" color="grey-9" :label="$t('Edit')" @click="editM3uList(m3u.select.list)"  v-close-popup />
				</q-card-actions>
			</q-card>
		</q-dialog>

		<q-dialog v-model="m3u.upload.show">
			<q-card style="min-width: 350px">
				<q-card-section class="q-pb-sm q-mx-xs">
					<div class="text-h5"><t>Upload m3u file</t></div>
				</q-card-section>

				<q-card-section class="q-py-none q-mx-xs">
					<q-file dark dense v-model="m3u.upload.file" accept=".m3u" :label-color="m3u.upload.file ? '' : 'negative'" :label="$t('m3u file')">
						<template v-slot:append>
							<q-icon name="folder_open"/>
						</template>
					</q-file>
					<q-input dark dense v-model="m3u.upload.name" :label-color="m3u.upload.name ? '' : 'negative'" :label="$t('m3u name')" />
				</q-card-section>

				<q-card-actions align="right" class="q-ma-sm q-mx-md q-px-xs">
					<q-btn color="grey-9" :label="$t('Cancel')" v-close-popup />
					<q-btn :disabled="!m3u.upload.file || !m3u.upload.name" color="grey-9" :label="$t('Save')" @click="saveM3uFile" />
				</q-card-actions>
			</q-card>
		</q-dialog>

		<q-dialog v-model="m3u.edit.show" persistent content-class="m3ulist-edit">
			<q-card>
				<q-card-section class="q-pb-sm q-mx-xs">
					<div class="text-h5"><t>Edit m3u list</t></div>
				</q-card-section>

				<q-card-section class="q-py-none q-mx-xs">
					<q-input dense borderless v-model="m3u.edit.list" :label-color="m3u.edit.list ? '' : 'negative'" :label="$t('m3u list')" type="textarea" />
				</q-card-section>

				<q-card-actions align="right" class="text-primary q-pt-none q-my-sm q-mx-md q-px-xs">
					<span class="name">
						<q-input dark dense v-model="m3u.edit.name" :label-color="m3u.edit.name ? '' : 'negative'" :label="$t('m3u name')" class="q-mr-md" />
					</span>
					<q-btn color="grey-9" :label="$t('Cancel')" v-close-popup />
					<q-btn :disabled="!m3u.edit.list || !m3u.edit.name" color="grey-9" :label="$t('Save')" @click="saveM3uList" />
				</q-card-actions>
			</q-card>
		</q-dialog>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.VDR.Plugins.IPTV',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			counts: Array.from({length: 8}, (_, i) => i + 1),
			m3u: {
				select: {
					show: false,
					lists: [],
					list: ''
				},
				upload: {
					available: window.location.hostname != 'localhost' || true,
					show: false,
					file: null,
					name: ''
				},
				edit: {
					show: false,
					list: '',
					name: ''
				}
			},
			ytdlp: false
		}
	},

	watch: {
		'm3u.upload.file': function() {
			if (!this.m3u.upload.name) {
				this.m3u.upload.name = this.m3u.upload.file.name.replace(/\.[^.]*$/, '')
			}
		}
	},

	async created() {
		this.ytdlp = await this.$settings.vdr.plugins.iptv.ytdlp
	},

	methods: {
		setDevices() {
			this.$root.$emit('menu.add', {label: this.$t('Restart VDR'), handler: () => {this.$settings.services.restart('vdr')}})
		},
		
		async getM3uLists(val, done, abort) {
			this.m3u.select.lists = await this.$settings.vdr.plugins.iptv.getM3uLists()
			done()
		},

		async editM3uList(name) {
			this.m3u.edit.list = name ? await this.$settings.vdr.plugins.iptv.getM3uList(name) : ''
			this.m3u.edit.name = name
			this.m3u.edit.show = true
		},

		deleteM3uList (name) {
			this.$q.notify({
				position: 'top',
				icon: 'announcement',
				message: this.$t('Delete m3u list {name}?', {name}),
				actions: [{ label: this.$t('Delete'), handler: () => {
					this.$settings.vdr.plugins.iptv.deleteM3uList(name)
					this.m3u.select.list = ''
				}}]
			})
		},

		saveM3uList() {
			this.$settings.vdr.plugins.iptv.setM3uList(this.m3u.edit.name, this.m3u.edit.list)
			this.m3u.edit.show = false
		},

		saveM3uFile() {
			let reader = new FileReader()
			reader.onerror = (event) => {
				this.$q.notify({
					position: 'top',
					icon: 'announcement',
					message: this.$t('Save failed'),
				})
			}
			reader.onload = async (event) => {
				if (!await this.$settings.vdr.plugins.iptv.setM3uList(this.m3u.upload.name, event.target.result)) {
					reader.onerror()
				} else {
					this.m3u.upload.show = false
				}
			}
			reader.readAsBinaryString(this.m3u.upload.file)
		},

		async setYtdlp() {
			this.$settings.vdr.plugins.iptv.ytdlp = this.ytdlp
		}
	},

	i18n: {}
}
</script>

<style lang="scss">
.m3ulist-edit {
	.q-card {
		max-width: none;
	}
	textarea {
		width: 80vw;
		height: calc(80vh - 8em);
		margin-top: 8px;
		font-family: monospace;
		white-space: pre;
	}
	.name {
		flex: 1 1 auto;
		label {
			max-width: 30em;
		}
	}
}
</style>
