<template>
	<Group label="MPV" name="vdr-plugin-mpv" :enable="enable">
		<Option label="Decoder">
			<q-select dark dense class="w33" :value="$settings.vdr.plugins.mpv.decoder" :options="noPromise($settings.vdr.plugins.mpv.decoders)" @input="$settings.vdr.plugins.mpv.decoder = $event || ''">
				<template v-slot:selected-item="scope">
					<q-item v-if="!scope.opt" class="text-grey"><t>auto</t></q-item>
					<q-item v-else>{{scope.opt}}</q-item>
					</template>
			</q-select>
		</Option>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.VDR.Plugins.Mpv',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	i18n: {}
}
</script>
