<template>
	<Group label="SatIP" name="vdr-plugin-satip" :enable="enable">
		<Option label="Devices">
			<div v-for="(device, key) in $settings.vdr.plugins.satip.devices" :key="key" class="row">
				<q-select dark dense use-input new-value-mode="add" type="text" class="w50" :class="!key ? 'q-field--float' : ''" :label-color="device.server || $settings.vdr.plugins.satip.devices.length == 1 && !$settings.vdr.plugins.satip.devices[0].type ? '' : 'negative'" v-model="device.server" emit-value :label="$t('Server')" :options="servers" @filter="getServers" @input="set()">
					<template v-slot:selected>
						<q-item v-if="!key && !device.server" class="text-grey hide-on-focus"><t>auto</t></q-item>
						<q-item v-if="device.server">{{ device.server }}</q-item>
					</template>
					<template v-slot:option="scope">
						<q-item v-if="scope.opt.value" v-bind="scope.itemProps" v-on="scope.itemEvents">
							{{ scope.opt.value }} &ndash; {{ scope.opt.label }}
						</q-item>
						<q-item v-else v-bind="scope.itemProps" class="text-grey">
							<t>{{ scope.opt.label }}</t>
						</q-item>
					</template>
					<template v-slot:no-option>
						<q-item class="text-grey"><t>No satip servers found</t></q-item>
					</template>
				</q-select>
				<q-select dark dense class="w25" :class="!key ? 'q-field--float' : ''" :label-color="device.type || $settings.vdr.plugins.satip.devices.length == 1 && !$settings.vdr.plugins.satip.devices[0].server ? '' : 'negative'" v-model="device.type" :label="$t('Type')" :options="types" @input="set()">
					<template v-slot:selected-item="scope">
						<q-item v-if="!key && !scope.opt" class="text-grey"><t>auto</t></q-item>
						<q-item v-if="key || scope.opt">{{scope.opt}}</q-item>
					</template>
				</q-select>
				<q-select dark dense class="w25" :label-color="device.count ? '' : 'negative'" v-model="device.count" :label="$t('Count')" :options="counts" @input="set()" />
				<q-btn round icon="close" class="close" size="xs" color="grey-9" @click="removeDevice(key)"/>
			</div>
			<div class="float-right q-my-sm">
				<q-btn color="grey-9" size="sm" :label="$t('Add')" @click="addDevice"/>
			</div>
		</Option>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.VDR.Plugins.SatIP',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			servers: [],
			types: ['S2', 'T2', 'T', 'C'],
			counts: Array.from({length: 16}, (_, i) => i + 1)
		}
	},

	async created() {
		if (!await this.$settings.vdr.plugins.satip.devices || !(await this.$settings.vdr.plugins.satip.devices)?.[0]) {
			this.$settings.vdr.plugins.satip.devices = [{server: '', type: '', count: 2}]
		}
	},

	methods: {
		async getServers(val, done, abort) {
			this.servers = (await this.$settings.vdr.plugins.satip.servers()).map(server => ({label: server.name, value: server.ip}))
			done()
		},
		async addDevice() {
			(await this.$settings.vdr.plugins.satip.devices).push({server: '', type: '', count: null})
			this.set()
		},
		async removeDevice(key) {
			this.$settings.vdr.plugins.satip.devices.splice(key, 1)
			if ((await this.$settings.vdr.plugins.satip.devices).length == 0) {
				(await this.$settings.vdr.plugins.satip.devices).push({server: '', type: '', count: 2})
			}
			this.set()
		},
		set() {
			this.$root.$emit('menu.add', {label: this.$t('Restart VDR'), handler: () => {this.$settings.services.restart('vdr')}})
		},
	},

	i18n: {}
}
</script>

<style lang="scss" scoped>
.q-select.w25 {
	width: calc(25% - 46px) !important;
}
.close {
	margin: 12px 0 auto auto;
}
.hide-on-focus {
	position: absolute;
	+ input:focus {
		background-color: #000;
		min-height: 22px;
		z-index: 1;
	}
}
</style>