<template>
	<Group label="StreamdevClient" name="vdr-plugin-streamdev-client" :enable="enable">
		<Option label="Server">
			<q-select dark dense clearable use-input new-value-mode="add" type="text" v-model="$settings.vdr.plugins.streamdev_client.server_ip" :options="noPromise(servers)" @filter="getServers" @input="set()">
				<template v-if="!$settings.vdr.plugins.streamdev_client.server_ip" v-slot:selected>
					<q-item class="text-grey hide-on-focus"><t>auto</t></q-item>
				</template>
				<template v-slot:no-option>
					<q-item class="text-grey"><t>No streamdev servers found</t></q-item>
				</template>
			</q-select>
			<q-checkbox v-model="$settings.vdr.plugins.streamdev_client.start_server" :label="$t('Start server')"/><br>
			<q-checkbox v-model="$settings.vdr.plugins.streamdev_client.wait_for_server" :label="$t('Wait for server')" class="q-mb--sm"/>
		</Option>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.VDR.Plugins.StreamdevClient',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			servers: null,
		}
	},

	watch: {
		enable() {
			this.setServerChannellist()
		}
	},

	async created() {
		this.setServerChannellist()
	},

	methods: {
		setServerChannellist() {
			if (this.enable) {
				this.$settings.vdr.plugins.streamdev_client.setServerChannellist(this.enable.includes('vdr-plugin-streamdev-client'))
			}
		},
		async getServers(val, done, abort) {
			this.servers = await this.$settings.vdr.plugins.streamdev_client.servers()
			done()
		},
		set(name) {
			this.$root.$emit('menu.add', {label: this.$t('Restart VDR'), handler: () => {this.$settings.services.restart('vdr')}})
		},
	},

	i18n: {}
}
</script>

<style lang="scss">
.hide-on-focus {
	position: absolute;
	+ input:focus {
		background-color: #000;
		min-height: 22px;
		z-index: 1;
	}
}
</style>