<template>
	<Group label="StreamdevServer" name="vdr-plugin-streamdev-server" :enable="enable">
		<p><t>Resampling</t></p>
		<Option label="Encoder">
			<span>MPV</span>
		</Option>
		<Option label="Speed">
			<span>DSL</span>
		</Option>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.VDR.Plugins.StreamdevServer',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
		}
	},

	created() {
	},

	methods: {
	},

	i18n: {}
}
</script>
