<template>
	<Group label="" name="vdr-plugin-wirbelscan" :enable="enable">
		<Option label="" style="margin: -60px 0 -16px 0">
			<template v-slot:top>
				<q-btn color="grey-9" size="sm" :label="$t('Scan')" @click="showDialog"/>
			</template>
		</Option>

		<q-dialog v-model="show">
			<q-card>
				<q-card-section class="row items-center q-py-sm q-pr-sm q-mx-xs">
					<div class="text-h5"><t>Scan channellist</t></div>
					<q-space />
          <q-btn icon="close" flat round dense v-close-popup class="q-ml-md"/>
				</q-card-section>

				<q-card-section class="q-py-xs q-mx-xs">
					<div><t>New channels will be append to the current channelllist.</t></div>
				</q-card-section>

				<q-card-section class="q-py-xs q-mx-xs">
					<q-select :disable="scaning" :loading="!types.length" v-model="type" :options="types" emit-value map-options :label="$t('Type')" :label-color="type ? '' : 'negative'" dark dense />
				</q-card-section>
				<q-card-section v-if="type < 2" class="q-py-xs q-mx-xs">
					<q-select :disable="scaning" :loading="!countries.length" v-model="country" :options="countries" emit-value map-options :label="$t('Country')" :label-color="country ? '' : 'negative'" dark dense />
				</q-card-section>
				<q-card-section v-if="type == 2" class="q-py-xs q-mx-xs">
					<q-select :disable="scaning" :loading="!satellites.length" v-model="satellite" :options="satellites" emit-value map-options :label="$t('Satellite')" :label-color="satellite ? '' : 'negative'" dark dense />
				</q-card-section>
				<q-card-section class="q-py-none q-mx-xs">
					<q-checkbox :disable="scaning" v-model="freeOnly" :label="$t('Only free tv')"/>
				</q-card-section>
				<q-card-section v-if="scaning || progress" class="q-py-none q-mx-xs">
					<q-linear-progress :value="progress" stripe size="10px" class="q-mt-md" />
					<div class="absolute-full flex flex-center text-caption" style="margin-top:-4px">{{ progress*100+'%' }}</div>
				</q-card-section>

				<q-card-actions align="right" class="q-ma-sm q-mx-md q-px-xs">
					<q-btn color="grey-9" :label="$t('Cancel')" @click="stopScan" v-close-popup />
					<q-btn :disable="scaning || !type || (type == 2 && !satellite) || (type < 2 && !country)" :loading="scaning" color="grey-9" :label="$t('Start')" @click="startScan" />
				</q-card-actions>
			</q-card>
		</q-dialog>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.VDR.Plugins.Wirbelscan',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			show: false,
			scaning: false,
			progress: 0,
			statusInterval: 0,
			type: null,
			country: '',
			satellite: '',
			freeOnly: false,
			types: [],
			countries: [],
			satellites: [],
		}
	},

	watch: {
		type() {
			this.$settings.vdr.plugins.wirbelscan.type = this.type
		},
		country() {
			this.$settings.vdr.plugins.wirbelscan.country = this.country
		},
		satellite() {
			this.$settings.vdr.plugins.wirbelscan.satellite = this.satellite
		},
		freeOnly() {
			this.$settings.vdr.plugins.wirbelscan.freeOnly = this.freeOnly
		}
	},
	
	async created() {
	},

	methods: {
		async showDialog() {
			this.show = true
			this.type = await this.$settings.vdr.plugins.wirbelscan.type
			this.country = await this.$settings.vdr.plugins.wirbelscan.country
			this.satellite = await this.$settings.vdr.plugins.wirbelscan.satellite
			this.freeOnly = await this.$settings.vdr.plugins.wirbelscan.freeOnly || false
			this.types = (await this.$settings.vdr.plugins.wirbelscan.types).map(type => ({value: type.id, label: this.$t(type.name)}))
			this.countries = (await this.$settings.vdr.plugins.wirbelscan.countries).map(country => ({value: country.id, label: country.name.split(' ').map(word => {return word[0] + word.slice(1).toLowerCase()}).join(' '), lc: country.lc}))
			this.countries.unshift(...this.countries.filter(country => ['AT', 'CH', 'DE', 'DK'].includes(country.lc)))
			this.satellites = (await this.$settings.vdr.plugins.wirbelscan.satellites).map(satellite => ({value: satellite.id, label: satellite.name, code: satellite.code}))
			this.satellites.unshift(...this.satellites.filter(satellite => ['S13E0', 'S19E2', 'S23E5', 'S28E2', 'S42E0'].includes(satellite.code)))
		},

		async startScan() {
			this.scaning = true
			this.progress = 0
			await this.$settings.vdr.plugins.wirbelscan.scan()
			this.statusInterval = setInterval(async () => {
				let status = await this.$settings.vdr.plugins.wirbelscan.status
				this.progress = parseInt(status.progress) / 100
				this.scaning = status.status == 'scaning'
				if (!this.scaning) {
					clearInterval(this.statusInterval)
				}
			}, 5000)
		},

		async stopScan() {
			if (this.scaning) {
				await this.$settings.vdr.plugins.wirbelscan.stop()
				this.scaning = false
				this.progress = 0
			}
			clearInterval(this.statusInterval)
		}
	},

	i18n: {}
}
</script>
