<template>
	<div>
		<Wirbelscan :enable="enable"/>
		<IPTV :enable="enable"/>
		<SatIP :enable="enable"/>
		<StreamdevClient :enable="enable"/>
		<StreamdevServer :enable="enable"/>
		<EpgDaemon :enable="enable"/>
		<Mpv :enable="enable"/>
	</div>
</template>

<script>
import Group from 'components/SettingsGroup'
import EpgDaemon from 'components/Settings/EpgDaemon'
import IPTV from 'components/Settings/VDR/Plugins/IPTV'
import Mpv from 'components/Settings/VDR/Plugins/Mpv'
import SatIP from 'components/Settings/VDR/Plugins/SatIP'
import StreamdevClient from 'components/Settings/VDR/Plugins/StreamdevClient'
import StreamdevServer from 'components/Settings/VDR/Plugins/StreamdevServer'
import Wirbelscan from 'components/Settings/VDR/Plugins/Wirbelscan'

export default {
	name: 'Settings.VDR.Plugins',

	components: {
		Group,
		EpgDaemon,
		IPTV,
		Mpv,
		SatIP,
		StreamdevClient,
		StreamdevServer,
		Wirbelscan,
	},

	props: {
		enable: Array,
	},

	i18n: {}
}
</script>
