<template>
	<div class="q-my-lg q-mx-xl">
		<h3>MiniDVBLinux</h3>
		<p>MiniDVBLinux (MLD) is a media center distribution. For more information visit the MiniDVBLinux website <a href="http://minidvblinux.de" target="mld">http://minidvblinux.de</a></p>
		<h4>Authors</h4>
		<ul>
			<li>
				Claus Muus<br>
					<a href="mailto:claus@minidvblinux.de">claus@minidvblinux.de</a><br>
					Sen. Maintainer
			</li>
			<li>
				Peter Pfeifer (P3f)<br>
				<a href="mailto:p3f@minidvblinux.de">p3f@minidvblinux.de</a><br>
				Contributor/Developer
			</li>
			<li>
				Roland Fehr (rfehr)<br>
				<a href="mailto:rfehr@minidvblinux.de">rfehr@minidvblinux.de</a><br>
				Contributor/Developer
			</li>
			<li>
				Jürgen (skippy)<br>
				Wiki<br>
				Quality assurance
			</li>
			<li>
				Markus (MarMic)<br>
				Hurrier<br>
				Quality assurance
			</li>
			<li>
				Klaus (Franky)<br>
				Quality assurance
			</li>
		</ul>

		<h4>Former Authors</h4>
		<ul>
			<li>
				Mario Fenneis (mafe68)<br>
				<a href="mailto:mafe68@minidvblinux.de">mafe68@minidvblinux.de</a><br>
				Quality assurance
			</li>
			<li>
				Christian Winkler<br>
				<a href="mailto:Winkler_chr@yahoo.de">Winkler_chr@yahoo.de</a><br>
				VDR Plugins
			</li>
			<li>
				Andreas McPherson (MegaX)<br>
				<a href="mailto:megax@minidvblinux.de">megax@minidvblinux.de</a><br>
				Jr. Maintainer
			</li>
			<li>
				Paul Briesch (pbriesch)<br>
				<a href="mailto:pbriesch@minidvblinux.de">pbriesch@minidvblinux.de</a><br>
				Contributor<br>
				Quality assurance
			</li>
			<li>
				Gerhard (gkd-berlin)<br>
				<a href="mailto:gkd@minidvblinux.de">gkd@minidvblinux.de</a><br>
				Quality assurance
			</li>
			<li>
				Matthias<br>
				Quality assurance
			</li>
		</ul>

		<h4>Licence</h4>
		<p>All Rights Reserved! Copyright (C) 2000-2022 by MiniDVBLinux(TM)</p>
		<p>This distribution is free software; you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation; either version 2.1 of the License, or (at your option) any later version.</p>
		<p>This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.</p>
		<p>You should have received a copy of the GNU Lesser General Public License along with this program; if not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA Or, point your browser to <a href="https://www.gnu.org/licenses/gpl-2.0.html" target="license">https://www.gnu.org/licenses/gpl-2.0.html</a></p>

		<h3>All Licences</h3>
		<p>The MLD uses many components that are under different licenses. Here we provide a list of all offered components and their license conditions.</p>
		<q-btn color="grey-9" size="sm" :label="$t('All licenses')" href="https://mld6.minidvblinux.de/nightbuild/licenses/" target="licenses"/>
	</div>
</template>

<script>
export default {
	name: 'About',

	i18n: {}
}
</script>

<style lang="scss" scoped>
li {
  margin-bottom: $space-base;
}
</style>