<template>
	<div>
		<h3 class="q-mx-xl q-pt-lg"><t>Apps</t></h3>
		<p class="q-px-xl"><t>Apps are programms, that are shown on the tv screen.</t></p>

		<q-list class="q-px-lg">
			<q-item v-for="app in apps" :key="app.title" tag="label" class="q-px-lg cursor-inherit focus" @click.prevent tabindex="-1">
				<q-item-section>
					<q-item-label class="text-h5">
						{{app.title}}
						<q-icon v-if="app.running" name="check_circle_outline" color="positive" class="q-ml-xs q-mb-xs" title="running"/>
					</q-item-label>
					<q-item-label caption>{{app.description}}</q-item-label>
				</q-item-section>
				<q-item-section side >
					<div class="row">
						<q-btn v-if="app.running" color="grey-9" class="q-ml-md" size="sm" :label="$t('stop')" @click="$settings.apps.stop()"/>
						<q-btn v-if="app.running" color="grey-9" class="q-ml-md" size="sm" :label="$t('restart')" @click="$settings.apps.restart()"/>
						<q-btn v-if="!app.running" color="grey-9" class="q-ml-md" size="sm" :label="$t('start')" @click="$settings.apps.start(app.title)"/>
					</div>
				</q-item-section>
			</q-item>
		</q-list>
	</div>
</template>

<script>
import { Portal } from "portal-vue";

export default {
	name: 'Apps',

	components: {
		Portal
	},

	data() {
		return {
			timeout: null,
			apps: [],
		}
	},

	watch:{
		async '$settings.apps.active'() {
			this.apps = await this.$settings.apps.all()
		}
	},

	async created() {
		this.$root.$emit('loading', true)
		await this.updateApps()
		this.$root.$emit('loading', false)
	},

	beforeDestroy() {
		clearTimeout(this.timeout)
	},

	methods: {
		async updateApps() {
			this.apps = (await this.$settings.apps.all()).filter(app => !app.hide)
			this.timeout = setTimeout(this.updateApps, 2000)
		}
	},

	i18n: {}
}
</script>

<style lang="scss" scoped>
	.focus:focus-within {
		background-color: $grey-10;
	}
</style>
