<template>
	<Banner :label="$t('Welcome')">
		<template v-slot:info>
			<qrcode-vue :value="$settings.system?.url.toString()" :size="60" level="L" render-as="svg" foreground="#444" class="qrcode" />
			<div v-html="$t('Welcome info', {url: $settings.system?.url})"></div>
		</template>

		<AuthCheck class="q-mx-lg" requiredClass="q-mx-lg">
			<q-stepper ref="stepper" v-model="step" vertical flat animated>
				<q-step :name="1" :title="$t('Language')" icon="language" :done="step > 1">
					<p class="text-h5"><t>Select your Language</t></p>
					<Language />

					<q-stepper-navigation>
						<q-btn color="grey-9" :label="$t('continue')" @click="setKeymap(); step++"/>
					</q-stepper-navigation>
				</q-step>

				<q-step :name="2" :title="$t('Select features')" icon="extension" :done="step > 2">
					<Collection @change="collection=$event"/>

					<q-stepper-navigation>
						<q-btn color="grey-9" :label="$t('continue')" @click="step++"/>
						<q-btn color="grey-9" class="q-ml-md" :label="$t('back')" @click="step--"/>
					</q-stepper-navigation>
				</q-step>

				<q-step :name="3" :title="$t('Configure')" icon="settings" :done="step > 3">
					<Settings :enable="collection.length ? collection : [false]" class="q-ml-sm" />

					<q-stepper-navigation>
						<q-btn color="grey-9" :label="$t('continue')" @click="step++"/>
						<q-btn color="grey-9" class="q-ml-md" :label="$t('back')" @click="step--"/>
					</q-stepper-navigation>
				</q-step>

				<q-step :name="4" :title="$t('Trail or Install')" icon="input" :done="step > 4">
					<p class="text-h5"><t>Trail or installation on disk.</t></p>

					<div>
						<q-radio v-model="install.trail" :val="true" :disable="!collection.length" :label="$t('Trail')">
							<q-tooltip v-if="!collection.length" :offset="[20, -5]">{{$t('No features selected')}}</q-tooltip>
						</q-radio>
					</div>
					<div><q-radio v-model="install.trail" :val="false" :label="$t('Install')"/></div>

					<install v-if="install.trail === false" v-model="install.settings" class="q-ml-lg q-pl-md q-mt-sm"/>

					<q-stepper-navigation>
						<q-btn color="grey-9" :disable="!(install.trail || install.settings)" :label="$t('continue')" @click="doInstall()"/>
						<q-btn color="grey-9" class="q-ml-md" :label="$t('back')" @click="step--"/>
					</q-stepper-navigation>
				</q-step>

				<q-step :name="5" :title="$t(install.trail ? 'Install collection' : 'Install system')" icon="system_update_alt" :done="step > 5">
					<q-linear-progress stripe size="10px" :value="install.progress" />
					<p v-if="!install.failed" class="q-mt-md q-mb-none">{{install.action}}&nbsp;</p>
					<p v-if="install.failed" class="q-mt-md q-mb-none text-negative"><t>The installation failed.</t></p>

					<q-stepper-navigation v-if="install.failed">
						<q-btn color="grey-9" :label="$t('back')" @click="install.failed = false; step--"/>
					</q-stepper-navigation>
				</q-step>

				<q-step :name="6" :title="$t('Finish')" icon="logout" :done="step > 6">
					<template v-if="install.trail">
						<t>The installation is compleated.</t>
						<q-stepper-navigation>
							<q-btn v-if="collection.includes('vdr')" color="grey-9" :label="$t('start VDR')" @click="startApp('VDR')"/>
							<q-btn v-if="collection.includes('squeezeplay')" color="grey-9" :label="$t('start Squeeze')" @click="startApp('SqueezePlay')"/>
							<q-btn v-if="collection.includes('kodi')" color="grey-9" :label="$t('start Kodi')" @click="startApp('Kodi')"/>
						</q-stepper-navigation>
					</template>
					<template v-else>
						<t>The first step of installation is compleated. Now you must reboot your system.</t>
						<q-stepper-navigation>
							<q-btn color="grey-9" icon="replay" :label="$t('Reboot')" @click="reboot"/>
							<q-btn color="grey-9" icon="power_settings_new" :label="$t('Shutdown')" @click="shutdown" class="q-ml-md"/>
						</q-stepper-navigation>
					</template>
				</q-step>
			</q-stepper>

			<q-dialog v-model="install.showConfirm">
				<q-card>
					<q-card-section class="row items-center" v-if="install.settings">
						<q-avatar icon="launch"/>
						<div class="q-mx-sm">
							<div v-html="$t('Install on device {device}?', {device: install.settings.system.device && install.settings.system.device.label})"/>
							<div v-html="$t('Delete data device {device}?', {device: install.settings.data.device && install.settings.data.device.label})" v-if="install.settings.data.delete"/>
							<div class="q-mt-sm text-negative"><t>All data will lost.</t></div>
						</div>
					</q-card-section>

					<q-card-actions align="right">
						<q-btn :label="$t('Cancel')" color="grey-9" v-close-popup />
						<q-btn :label="$t('Install')" color="grey-9" v-close-popup @click="doInstall(true)" />
					</q-card-actions>
				</q-card>
			</q-dialog>

			<q-dialog :value="install.rebooting || install.stopping" persistent>
				<q-card>
					<q-card-section class="row items-center q-mr-md">
						<div class="col-1 q-mr-md">
						<q-avatar icon="restart_alt" />
						</div>
						<div class="col">
							<span v-if="install.rebooting"><t>The system is rebooting now.</t></span>
							<span v-if="install.stopping"><t>The system shutdown now.</t></span>
						</div>
					</q-card-section>
					<q-card-section style="padding: 1px 2px">
						<q-linear-progress indeterminate size="xs" color="grey-6"/>
					</q-card-section>
				</q-card>
			</q-dialog>
		</AuthCheck>
	</Banner>
</template>

<script>
import AuthCheck from 'components/AuthCheck'
import Banner from 'components/Banner'
import Collection from 'components/Collection'
import Install from 'components/Install'
import Language from 'components/Settings/Language'
import QrcodeVue from 'qrcode.vue'
import Settings from 'components/Settings'

export default {
	name: 'Assistant',

	components: {
		AuthCheck,
		Banner,
		Collection,
		Install,
		Language,
		QrcodeVue,
		Settings,
	},

	data() {
		return {
			step: 1,
			collection: [],
			install: {
				trail: null,
				settings: null,
				confirmed: false,
				showConfirm: false,
				failed: false,
				rebooting: false,
				stopping: false,
				progress: 0,
				action: ''
			},
		}
	},

	watch:{
		$route() {
			this.step = this.$route.params.step * 1 || 1
		},
		step() {
			if (this.$route.params.step != this.step) {
				this.$router.push('/assistant/' + this.step)
			}
			setTimeout(() => {
				this.$refs.stepper.$el.getElementsByClassName('q-stepper__step')[this.step - 1].scrollIntoView({behavior: 'smooth'})
			}, 600)
		},
		'$settings.layout.showAssistant'(showAssistant) {
			if (!showAssistant && this.step == 1) {
				this.$router.push({path: '/'})
			}
		},
		collection() {
			this.install.trail = this.collection.length ? this.install.trail : null
		}
	},

	created() {
		if (!this.$route.params.step) {
			this.step = top.trailInstalled ? 4 : 1
			this.install.trail = top.trailInstalled ? false : null
			this.$router.replace('/assistant/' + this.step)
		} else {
			this.step = this.$route.params.step * 1 || 1
		}
		this.$root.$emit('menu.add.disable')

		this.$socket.on('start', () => {
			if (this.install.rebooting) {
				this.$router.push({path: '/'})
			}
		})
		this.$socket.on('progress', (progress, action) => {
			this.install.progress = progress
			this.install.action = action
		})
	},

	beforeDestroy() {
		this.$root.$emit('menu.add.enable')
	},

	methods: {
		setKeymap() {
			this.$settings.system.keymap = this.$root.$i18n.locale.substr(0, 2)
		},

		async doInstall(confirm = false) {
			this.install.progress = 0
			this.install.action = ''
			if (this.install.trail) {
				this.step++
				await this.$settings.packages.update()
				if (await this.$settings.packages.install(this.collection)) {
					top.trailInstalled = true
					this.step++
				} else {
					this.install.failed = true
				}
			} else if (confirm) {
				this.step++
				if (await this.$settings.packages.installSystem(this.install.settings, this.collection)) {
					this.$settings.layout.showAssistant = false
					this.step++
				} else {
					this.install.failed = true
				}
			} else {
				this.install.showConfirm = true
			}
		},

		reboot() {
			this.install.rebooting = true
			setTimeout(async () => {
				this.$settings.system.reboot()
			}, 5000)
		},

		shutdown() {
			this.install.stopping = true
			setTimeout(async () => {
				this.$settings.system.shutdown()
			}, 5000)
		},

		startApp(app) {
			this.$settings.apps.start(app)
		}
	},

	i18n: {}
}
</script>

<style lang="scss" scoped>
.q-item {
	min-height: 32px;
}
.qrcode {
	float: right;
  margin-left: $space-base;
}
</style>