<template>
	<div class="embed">
		<portal to="header">
			<q-btn flat dense padding="4px" class="q-ma-xs" icon="open_in_full" :title="$t('Maximize')" @click="maximize"/>
		</portal>

		<iframe :src="href"></iframe>
	</div>
</template>

<script>
import { Portal } from "portal-vue";

export default {
	name: 'Embed',

	components: {
		Portal
	},

	data() {
		return {
			href: ''
		}
	},

	watch:{
		$route() {
			this.openSite()
			this.setMargin()
		},
	},

	async created() {
		this.openSite()
	},

	mounted() {
		document.querySelector('.q-page-container > .q-scrollarea:first-child').classList.add('embed-scrollarea')
		this.setMargin()
	},

	beforeDestroy() {
		document.querySelector('.q-page-container > .q-scrollarea:first-child').classList.remove('embed-scrollarea')
		document.querySelector('.q-page-container > .q-scrollarea:first-child').classList.remove('embed-scrollarea-margin')
	},

	methods: {
		openSite() {
			this.$root.$emit('loading', true)
			let origin = `${window.location.protocol}//${window.location.hostname}`
			let href = window.location.hash.substring(1)
			this.href = href.startsWith(':') ? origin + href : href
			this.$root.$emit('loading', false)
		},

		setMargin() {
			if (window.location.search.includes('nomargin')) {
				document.querySelector('.q-page-container > .q-scrollarea:first-child').classList.remove('embed-scrollarea-margin')
			} else {
				document.querySelector('.q-page-container > .q-scrollarea:first-child').classList.add('embed-scrollarea-margin')
			}
		},

		maximize() {
			window.open(this.href, '_blank')
		}
	}
}
</script>

<style lang="scss">
.embed {
	height: 100%;
	iframe {
		border: 0;
		width: 100%;
		height: 100%;
	}
}

.embed-scrollarea-margin > .scroll {
	margin: 24px 0 0 48px;
	height: calc(100% - 24px) !important;
	width: calc(100% - 48px) !important;
}
.embed-scrollarea > .scroll {
	overflow: hidden !important;
	> div {
		height: 100% !important;
	}
}
</style>
