<template>
	<div class="text-center">
		<br><br>
		<p class="text-faded">
			Sorry, nothing here...<strong>(404)</strong>
		</p>
	</div>
</template>

<script >
export default {
	name: 'Error404'
}
</script>
