<template>
	<Banner v-if="status" :label="$t('Welcome')">
		<template v-if="status.url" v-slot:info>
			<qrcode-vue :value="status.url.toString()" :size="60" level="L" render-as="svg" foreground="#444" class="qrcode" />
			<div v-html="$t('Welcome info', {url: status.url})"></div>
		</template>

		<div class="q-my-lg q-mx-xl">
			<h3><t>Welcome</t></h3>
			<p><t ite>Welcome description</t></p>

			<div v-if="!status.install" class="q-mt-xl">
				<h4><t>Installation failed</t></h4>
				<p class="text-red-4"><t>The installation failed. Please check the install log.</t></p>
				<q-btn to="/logs/install" color="grey-9" size="sm" :label="$t('Show log')"/>
			</div>

			<div v-if="!status.firmware" class="q-mt-xl">
				<h4><t>Firmware load failed</t></h4>
				<p class="text-red-4"><t>The download of a firmware failed. Please check the firmware log.</t></p>
				<q-btn to="/logs/firmware-loader" color="grey-9" size="sm" :label="$t('Show log')"/>
			</div>

			<div v-if="!status.network" class="q-mt-xl">
				<h4><t>No network connection</t></h4>
				<p class="text-red-4"><t>No network connection available. Please connect the network.</t></p>
				<q-btn to="/settings?filter=wlan" color="grey-9" size="sm" :label="$t('Wlan setup')"/>
			</div>

			<div v-if="status.showAssistant" class="q-mt-xl">
				<q-btn to="/assistant" color="grey-9" size="sm" :label="$t('Installation assistant')"/>
			</div>
		</div>
	</Banner>
</template>

<script>
import Banner from 'components/Banner'
import QrcodeVue from 'qrcode.vue'

export default {
	name: 'Index',

	components: {
		Banner,
		QrcodeVue,
	},

	data() {
		return {
			timeout: null,
			status: null
		}
	},

	async created() {
		this.$root.$emit('loading', true)
		await this.updateStatus()
		if (this.status.showAssistant && this.status.install && this.status.firmware && this.status.network) {
			this.$router.push({path: '/assistant'})
		}
		this.$root.$emit('loading', false)
	},

	beforeDestroy() {
		clearTimeout(this.timeout)
	},

	methods: {
		async updateStatus() {
			this.status = await this.$settings.layout.status
			this.timeout = setTimeout(this.updateStatus, 2000)
		},
	},

	i18n: {}
}
</script>

<style lang="scss" scoped>
.qrcode {
	float: right;
  margin-left: $space-base;
}
</style>