<template>
	<div class="q-pt-md q-px-xl">
		<dl v-if="system">
			<dt><t>Hostname</t><q-icon name="help_outline" class="q-ml-xs"><q-tooltip anchor="bottom left" self="top left" :offset="[0,5]"><t>Hostname description</t></q-tooltip></q-icon></dt>
			<dd>{{system.hostname}}</dd>

			<dt><t>Architecture</t><q-icon name="help_outline" class="q-ml-xs"><q-tooltip anchor="bottom left" self="top left" :offset="[0,5]"><t>Architecture description</t></q-tooltip></q-icon></dt>
			<dd>{{system.arch}}</dd>

			<dt><t>Product</t><q-icon name="help_outline" class="q-ml-xs"><q-tooltip anchor="bottom left" self="top left" :offset="[0,5]"><t>Product description</t></q-tooltip></q-icon></dt>
			<dd>{{noPromise($settings.system.product) || '&nbsp;'}}</dd>

			<dt><t>Version</t><q-icon name="help_outline" class="q-ml-xs"><q-tooltip anchor="bottom left" self="top left" :offset="[0,5]"><t>Version description</t></q-tooltip></q-icon></dt>
			<dd>{{system.version}}</dd>

			<dt><t>Uptime</t><q-icon name="help_outline" class="q-ml-xs"><q-tooltip anchor="bottom left" self="top left" :offset="[0,5]"><t>Uptime description</t></q-tooltip></q-icon></dt>
			<dd>{{system.uptime > 60*60*24 ? (Math.floor(system.uptime/60/60/24)) + $t(' days, ') : ''}} {{new Date(system.uptime * 1000).toISOString().slice(11, 16)}}</dd>

			<dt><t>Loadavg</t><q-icon name="help_outline" class="q-ml-xs"><q-tooltip anchor="bottom left" self="top left" :offset="[0,5]"><t>Loadavg description</t></q-tooltip></q-icon></dt>
			<dd>
				<div class="absolute text-grey-1 text-body2 label">
					<span v-for="(loadavg, key) in system.loadavg" :key="key">{{loadavg.toFixed(2)}}</span>
				</div>
				<q-linear-progress v-for="(value, key) in system.loadavg" :key="key" size="6px" :value="value/system.load.length" color="grey-7"></q-linear-progress>
			</dd>

			<dt><t>Load</t><q-icon name="help_outline" class="q-ml-xs"><q-tooltip anchor="bottom left" self="top left" :offset="[0,5]"><t>Load description</t></q-tooltip></q-icon></dt>
			<dd>
				<div v-if="system.load" class="absolute text-grey-1 text-body2 label">
					{{(system.load.reduce((sum, load) => sum + load.cpu, 0)/system.load.length).toFixed(0)}}%
				</div>
				<q-linear-progress v-for="(value, key) in system.load" :key="key" :size="18/system.load.length+'px'" :value="value.cpu/100" color="grey-7"></q-linear-progress>
			</dd>

			<dt><t>Memory</t><q-icon name="help_outline" class="q-ml-xs"><q-tooltip anchor="bottom left" self="top left" :offset="[0,5]"><t>Memory description</t></q-tooltip></q-icon></dt>
			<dd>
				<q-linear-progress size="18px" :value="system.usedmem / system.totalmem" color="grey-7">
					<div class="absolute-full text-grey-1 text-body2 label">
						{{humanSize(system.usedmem, 1)}} / {{humanSize(system.totalmem, 1)}}
					</div>
				</q-linear-progress>
			</dd>

			<dt><t>Disks</t><q-icon name="help_outline" class="q-ml-xs"><q-tooltip anchor="bottom left" self="top left" :offset="[0,5]"><t>Disks description</t></q-tooltip></q-icon></dt>
			<dd v-for="(disk, key) in system.disks" :key="key">
				<q-linear-progress size="18px" :value="disk.used / disk.size" color="grey-7">
					<div class="absolute-full text-grey-1 text-body2 label">
						{{humanSize(disk.used)}} / {{humanSize(disk.size)}} <small>({{disk.source}} on {{disk.mountpoints.join(', ')}})</small>
					</div>
				</q-linear-progress>
			</dd>
			<dd v-if="!Object.keys(system.disks).length">&nbsp;</dd>

			<dt><t>Network</t><q-icon name="help_outline" class="q-ml-xs"><q-tooltip anchor="bottom left" self="top left" :offset="[0,5]"><t>Network description</t></q-tooltip></q-icon></dt>
			<dd v-for="(networks, device) in system.network" :key="device" v-if="device.toString()!='lo'">
				<div v-for="(network, key) in networks" :key="key" v-if="network.family=='IPv4'">{{network.address}} <small>({{device}})</small></div>
			</dd>
			<dd>&nbsp;</dd>
		</dl>
	</div>
</template>

<script>
export default {
	name: 'Information',

	data() {
		return {
			timeout: null,
			system: null
		}
	},

	async created() {
		this.$root.$emit('loading', true)
		await this.getSystemInfo()
		this.$root.$emit('loading', false)
	},

	beforeDestroy() {
		clearTimeout(this.timeout)
	},

	methods: {
		async getSystemInfo() {
			this.system = await this.$settings.system.info()
			let disks = {}
			this.system.disks.forEach(disk => {
				disks[disk.source] ||= disk
				disks[disk.source].mountpoints ||= []
				disks[disk.source].mountpoints.push(disk.mountpoint)
			})
			this.system.disks = disks
			this.timeout = setTimeout(this.getSystemInfo, 2000)
		},

		humanSize(size, fixed=0) {
			var i = Math.floor( Math.log(size || 1) / Math.log(1024) )
			return ( size / Math.pow(1024, i) ).toFixed(fixed) * 1 + ' ' + ' KMGTPEZY'[i] + 'B'
		}
	},
	
	i18n: {}
}
</script>

<style lang="scss" scoped>
dt {
	float: left;
	clear: left;
	font-size: map-get($h5, "size");
	font-weight: 700;
	line-height: 1.0em;
}
dd {
	margin: 0 0 1.5rem 11em;
	+ dd {
		margin-top: -1em;
	}
}

.q-linear-progress {
	max-width: 29rem;
}
.label {
	z-index:1;
	font-size: 0.8rem;
	line-height: 19px;
	margin: 0 5px;
	span {
		margin: 0 5px 0 0;
	}
	small {
		margin-left: 5px;
	}
}
</style>