<template>
	<div class="q-my-md q-mx-xl">
		<div class="row">
			<portal to="header">
				<q-btn flat dense padding="6px" icon="upgrade" :title="$t('Reverse order')" @click="reverse=!reverse" class="q-mr-sm" :style="!reverse?{transform: 'scaleY(-1)'}:{}"/>
				<q-btn flat dense padding="6px" icon="refresh" :title="$t('Reload')" @click="reloadLogs" class="q-mr-md"/>
				<q-select dark dense options-dense filled clearable v-model="unit" :options="units" class="q-mr-sm">
					<template v-slot:prepend>
						<q-icon name="filter_alt" :title="$t('Select filter')"/>
					</template>
				</q-select>
			</portal>
		</div>
		<q-infinite-scroll ref="logs" @load="loadLogs" :initial-index="0" :offset="250">
			<pre>{{logs.join('\n')}}</pre>
			<template v-slot:loading>
        <div class="row justify-center q-my-md">
          <q-spinner-dots color="primary" size="40px" />
        </div>
      </template>
		</q-infinite-scroll>
	</div>
</template>

<script>
import { Portal } from "portal-vue";

export default {
	name: 'Logs',

	components: {
		Portal,
	},

	watch: {
		reverse() {
			this.reloadLogs()
		},
		unit() {
			this.reloadLogs()
		},
	},

	data() {
		return {
			logs: [],
			units: [],
			unit: null,
			reverse: false
		}
	},

	async created() {
		await this.loadUnits()
		if (this.$route.params.unit) {
			this.unit = this.units.find(unit => unit.label == this.$route.params.unit)
			setTimeout(this.reloadLogs, 100)
		}
	},

	methods: {
		async loadLogs(page, done) {
			const pageSize = 100
			let logs = await this.$settings.logs.journal(this.unit?.value, this.reverse, page || 1, pageSize)
			this.logs.push(...logs)
			done(logs.length < pageSize)
		},

		async loadUnits() {
			this.units = (await this.$settings.logs.units).map(unit => ({label: unit.name, value: unit.unit}))
		},

		reloadLogs() {
			this.logs = []
			this.$refs.logs.reset()
			setTimeout(this.$refs.logs.resume)
			this.loadUnits()
		}
	},

	i18n: {}
}
</script>

<style lang="scss">
.q-select .q-field--dense .q-field__append {
	position: relative;
}
.q-select button {
	position: absolute;
	margin-bottom: 3px;
	background-color: $grey-8;
	opacity: 1;
	z-index: 1;
}
.q-select:not(:hover) button {
	display: none;
}
</style>