<template>
	<AuthCheck requiredClass="q-mt-lg q-mx-xl" style="height: 100%">
		<iframe :src="mapUrl" class="map"></iframe>
	</AuthCheck>
</template>

<script>
import AuthCheck from 'components/AuthCheck'

export default {
	name: 'Map',

	components: {
		AuthCheck,
	},

	data() {
		return {
			mapUrl: ''
		}
	},

	async created() {
		this.$root.$emit('loading', true)
		this.mapUrl = `${this.$settings.mldUrl}/map/select_location.php?id=${await this.$settings.system.id}&version=${await this.$settings.system.version}-${await this.$settings.system.arch}`
		this.$root.$emit('loading', false)
	},

	mounted() {
		document.querySelector('.q-page-container > .q-scrollarea:first-child > .scroll > div').style.height = '100%'
	},

	beforeDestroy() {
		document.querySelector('.q-page-container > .q-scrollarea:first-child > .scroll > div').style.height = ''
	},
}
</script>

<style lang="scss" scoped>
.map {
	border: 0;
	width: 100%;
	height: 100%;
}
</style>
