<template>
	<div class="mediathekview scrollarea"  @keydown.f1.prevent="">
		<portal to="options">
			<q-item>
				<q-toggle v-model="unique" :label="$t('Filter out duplicates')" color="primary" dense/>
			</q-item>
			<q-item>
				<q-select dark dense options-dense filled v-model="quality" :options="['low', 'medium', 'high']" :option-label="l => $t(l)" hide-dropdown-icon class="q-mr-sm" style="width: auto"/>
				<div style="margin-top: 3px">{{$t('Replay quality')}}</div>
			</q-item>
		</portal>
		<portal to="header">
			<q-btn flat dense icon="help_outline" @click="showHelp=true" class="gt-xs q-mr-sm"/>
			<q-input v-model="filter" :placeholder="$t('Enter search value')" :autofocus="!local" filled dense class="q-mr-sm" style="max-width:40%">
				<template v-slot:prepend>
					<q-icon name="search"/>
				</template>
			</q-input>
		</portal>

		<q-table ref="search" :data="items" :columns="columns" :loading="loading" row-key="id" dark card-class="bg-black" separator="none" hide-bottom virtual-scroll @virtual-scroll="loadFilter" @request="loadFilter" :initial-index="1" :pagination.sync="pagination" :rows-per-page-options="[0]" :virtual-scroll-item-size="48" :virtual-scroll-sticky-size-start="48" class="table" :class="{'flag-channel': flags.channel, 'flag-topic': flags.topic}">
			<template v-slot:body-cell-channel="props">
        <q-td :props="props" @click="flag('channel', props.row.channel)">
					{{props.row.channel}}
        </q-td>
			</template>
			<template v-slot:body-cell-topic="props">
        <q-td :props="props" @click="flag('topic', props.row.topic)">
					<div class="ellipsis-2-lines">{{props.row.topic}}</div>
        </q-td>
			</template>
			<template v-slot:body-cell-title="props">
        <q-td :props="props" @click="item = {show: true, ...props.row}" @keydown.enter="item = {show: true, ...props.row}" @keydown.f1.prevent.stop="flag('channel', props.row.channel)" @keydown.f2.prevent.stop="flag('topic', props.row.topic)" @keydown.media-play="play(props.row)" tabindex="0">
					<div class="ellipsis-2-lines">{{props.row.title}}</div>
        </q-td>
			</template>
			<template v-slot:body-cell-play="props">
        <q-td :props="props">
					<q-btn round size="md" dense icon="play_circle_outline" @click="play(props.row)" tabindex="-1">
						<q-tooltip :delay="1000">{{$t('Play on TV')}}</q-tooltip>
					</q-btn>
        </q-td>
			</template>
		</q-table>

		<q-dialog v-model="item.show">
      <q-card>
        <q-card-section class="row items-center q-pt-sm q-pr-sm">
          <div class="text-h4">
						{{item.topic}}
					</div>
					<q-space />
          <q-btn icon="close" flat round dense v-close-popup class="q-ml-md"/>
				</q-card-section>

        <q-card-section class="q-py-none">
          <p class="text-h6">
						{{item.title}}
					</p>
					<p class="q-mb-none">
						{{item.description}}
					</p>
        </q-card-section>

        <q-card-actions align="right">
					<q-btn round size="md" dense icon="play_circle_outline" @click="play(item)" autofocus>
						<q-tooltip :delay="1000">{{$t('Play on TV')}}</q-tooltip>
					</q-btn>
					<q-btn round size="md" dense icon="home" :href="item.url_website" target="website">
						<q-tooltip :delay="1000" content-style="white-space: nowrap">{{$t('Goto website')}}</q-tooltip>
					</q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>

		<q-dialog v-model="showHelp">
      <q-card>
        <q-card-section class="row items-center q-pt-sm q-pr-sm">
          <div class="text-h4">
						<t>Help</t>
					</div>
					<q-space />
          <q-btn icon="close" flat round dense v-close-popup class="q-ml-md"/>
				</q-card-section>

        <q-card-section class="q-pt-none">
					<p><t>Press Enter or OK button to show broadcast info</t></p>
					<p><t>Press Play button to play selected broadcast</t></p>
					<p><t>Press F1 or red button to filter by selected channel</t></p>
					<p><t>Press F2 or green button to filter by selected topic</t></p>
        </q-card-section>
      </q-card>
    </q-dialog>
	</div>
</template>

<script>
import dateTime from "node-datetime"
import { Portal } from "portal-vue"

export default {
	name: 'MediathekView',

	components: {
		Portal,
	},

	data() {
		return {
			first: true,
			local: false,
			items: [],
			item: {},
			unique: true,
			flags: {},
			filter: '',
			filterTimeout: 0,
			page: 0,
      pagination: {
        sortBy: 'timestamp',
        descending: true,
				rowsPerPage: 0,
				rowsNumber: 0
      },
			loading: false,
			quality: 'medium',
			showHelp: false,
			columns: [
				{ name: 'channel', label: 'Channel', field: 'channel', align: 'left', sortable: true },
        { name: 'topic', label: 'Topic', field: 'topic', align: 'left' },
        { name: 'title', label: 'Title', field: 'title', align: 'left' },
        { name: 'timestamp', label: 'Day', field: 'timestamp', align: 'center', sortable: true, format: val => dateTime.create(val*1000).format('d.m.Y') },
        { name: 'time', label: 'Time', field: 'timestamp', align: 'center', format: val => dateTime.create(val*1000).format('H:M') },
        { name: 'duration', label: 'Duration', field: 'duration', align: 'right', sortable: true, format: val => `${Math.floor(val/60)}:${('0'+val%60).slice(-2)}` },
        { name: 'play' },
      ],
		}
	},

	watch: {
		filter() {
			clearTimeout(this.filterTimeout)
			this.filterTimeout = setTimeout(() => {
				this.$refs.search.resetVirtualScroll()
				this.reset()
			}, 500)
		},
		unique() {
			this.$refs.search.resetVirtualScroll()
			this.reset()
		},
		quality() {
			this.$q.cookies.set('mediathekview-quality', this.quality)
		}
	},

	async created() {
		this.local = window.location.hostname == "localhost"
		this.quality = this.$q.cookies.get('mediathekview-quality') || this.quality
		this.columns.forEach(col => {
			col.label = this.$t(col.label)
		})
	},

	mounted() {
		document.querySelector('.q-page-container > .q-scrollarea:first-child > .scroll > div').style.height = '100%'
		document.addEventListener('keydown', this.onkeydown)
		this.first = true
	},

	beforeDestroy() {
		document.querySelector('.q-page-container > .q-scrollarea:first-child > .scroll > div').style.height = ''
		document.removeEventListener('keydown', this.onkeydown)
	},

	methods: {
		async loadFilter(page) {
			const pageSize = 50

			if (page.pagination) {
				this.reset()
				this.pagination.descending = page.pagination.descending
				this.pagination.sortBy = page.pagination.sortBy
			}

			let query = {
				queries: [
					...(this.filter ? [{fields: ['channel', 'topic', 'title', 'description'], query: this.filter}] : []),
					...(this.flags.channel ? [{fields: ['channel'], query: this.flags.channel}] : []),
					...(this.flags.topic ? [{fields: ['topic'], query: this.flags.topic}] : []),
				],
				sortBy: this.pagination.sortBy,
				sortOrder: this.pagination.descending ? 'desc' : 'asc',
				future: false,
				offset: this.page * pageSize,
				size: pageSize,
			}

			if (!this.loading && (page.to == -1 || page.to+1 >= this.items.length || page.pagination)) {
				this.loading = true
				let result = (await this.$settings.vdr.plugins.mediathekview.query(query)).result
				this.page++
				this.items.push(...result.results)
				if (this.unique) {
					this.items = [...new Map(this.items.map(x => [x.title, x])).values()]
				}
				this.pagination.rowsNumber = result.queryInfo?.totalResults || 0
				this.loading = false
				if (this.first && this.local) {
					this.first = false
					setTimeout(() => {
						this.$refs.search.$el.querySelector('.q-virtual-scroll__content td:nth-child(3)').focus()
					}, 100)
				}
      }
		},

		async play(row) {
			let quality = {low: 'url_video_low', medium: 'url_video', high: 'url_video_hd'}[this.quality]
			await this.$settings.vdr.plugins.mediathekview.play(row[quality])
		},

		flag(name, value) {
			this.flags[name] = this.flags[name] ? undefined : value
			this.$refs.search.resetVirtualScroll()
			this.reset()
		},

		reset() {
			this.items = []
			this.page = 0
			this.pagination.rowsNumber = 0
		},

		onkeydown(event) {
			// catch F1 - F2 key handling
			var keys = {112:'channel', 113:'topic'}
			var key = event.keyCode ? keys[event.keyCode] : keys[event.charCode]
			if (key && !event.ctrlKey && !event.altKey) {
				if (this.flags[key]) {
					this.flag(key)
				}
				event.preventDefault()
			}
		},
	},

	i18n: {}
}
</script>

<style lang="scss">
.mediathekview {
	height: 100%;

	.table {
		height: 100%;

		&.flag-channel th:nth-child(1) {
			background: $grey-9
		}
		&.flag-topic th:nth-child(2) {
			background: $grey-9
		}

		.q-table__top,
		.q-table__bottom,
		thead {
			tr:first-child {
				height: 36px;
				th {
					background: var(--q-color-dark);
					border-bottom: 1px solid $grey-9;
					top: 0;
				}
				th:nth-child(1),
				th:nth-child(4) {
					padding-right: 0;
				}
				th:nth-child(6) {
					padding-left: 0;
				}
			}
			tr th {
				position: sticky;
				z-index: 1;
			}
		}
		tbody {
			scroll-margin-top: 48px;
			tr:focus-within {
				background: $grey-9;
			}
			tr:hover {
				background: $grey-10;
			}
			td {
				outline: none;
			}
			td:nth-child(1),
			td:nth-child(2),
			td:nth-child(3) {
				cursor: pointer;
			}
			td:nth-child(2),
			td:nth-child(3) {
				white-space: normal;
			}
		}
	}
}
</style>