<template>
	<div class="vdrmpv q-my-lg q-mx-xl">
		<h3><t>Mediathek HbbTV</t></h3>
		<p><t>Open a Mediathek HbbTV site</t></p>

		<q-list class="q-mx--lg">
			<q-item v-for="name in names" :key="name" tag="label" :disable="browser===null" class="q-px-lg focus" tabindex="-1">
				<q-item-section>
					<q-item-label class="text-h5">
						{{name}}
						<q-icon v-if="active == name" name="check_circle_outline" color="positive" class="q-ml-xs q-mb-xs" title="running"/>
					</q-item-label>
				</q-item-section>
				<q-item-section side >
					<div class="row">
						<q-btn v-if="active != name" color="grey-9" class="q-ml-md" size="sm" :label="$t(running ? 'open' : 'start')" autofocus @click="open(name)"/>
					</div>
				</q-item-section>
			</q-item>
		</q-list>

		<template v-if="browser && names.length">
			<h4 class="text-grey-7"><t>HbbTV extension</t></h4>
			<p class="text-grey-7">
				<t>You need an extension to open HbbTV sites.</t>
				<q-btn color="grey-10" text-color="grey-7" class="q-ml-md" size="sm" :label="$t('Install')" @click="open('extension')"/>
			</p>
		</template>
		<template v-if="browser===null && names.length">
			<h4><t>Browser required</t></h4>
			<p>
				<t>You need an browser all to open HbbTV sites.</t>
				<q-btn color="grey-9" class="q-ml-md" size="sm" :label="$t('Install')" to="/packages/search?filter=Chromium Web Browser"/>
			</p>
		</template>
</div>
</template>

<script>
export default {
	name: 'MediathekHbbTV',

	data() {
		return {
			timeout: null,
			active: '',
			browser: '',
			running: false,
			names: [],
		}
	},

	async created() {
		this.running = window.location.hostname == "localhost" && !navigator.userAgent.includes('surf')
		this.browser = await this.$settings.mediathekhbbtv.browser
		this.names = await this.$settings.mediathekhbbtv.all
		await this.updateApps()
	},

	beforeDestroy() {
		clearTimeout(this.timeout)
	},

	methods: {
		async updateApps() {
			this.active = await this.$settings.mediathekhbbtv.active
			this.timeout = setTimeout(this.updateApps, 2000)
		},

		async open(name) {
			if(this.running) {
				top.location.href = await this.$settings.mediathekhbbtv.url(name)
			} else {
				this.$settings.mediathekhbbtv.open(name)
			}
		}
	},

	i18n: {}
}
</script>

<style lang="scss" scoped>
	.q-mx--lg {
		margin-left: -$space-base * 1.5;
		margin-right: -$space-base * 1.5;
	}
	.focus:focus-within {
		background-color: $grey-10;
	}
</style>
