<template>
	<AuthCheck @success="updateStatus" style="height:100%" class="packages" requiredClass="q-pt-lg q-px-xl">
		<q-tabs v-model="tab" dense mobile-arrows class="text-grey bg-dark" active-color="primary" indicator-color="primary" align="justify" style="z-index:1">
			<q-route-tab name="features" to="/packages/features" :label="$t('Features')" />
			<q-route-tab name="prefered" to="/packages/prefered" :label="$t('Prefered')" />
			<q-route-tab name="search" to="/packages/search" :label="$t('Search')" />
			<q-route-tab name="installed" to="/packages/installed" :label="$t('Installed')" />
			<q-route-tab name="upgrades" to="/packages/upgrades" :label="$t('Upgrades')">
				<q-badge v-if="upgradesAvailable" color="red" floating rounded :label="upgradesAvailable" style="padding: 2px 3px 0 3px;"/>
			</q-route-tab>
		</q-tabs>
		<q-separator />

		<q-tab-panels v-model="tab" animated class="bg-transparent" transition-prev="jump-right" transition-next="jump-left" style="height: calc(100% - 38px)">
			<q-tab-panel name="features" class="q-pa-none">
				<q-scroll-area>
					<Collection class="q-mx-lg q-my-md q-pl-md" @change="collection=$event"/>
					<q-list class="q-mx-lg q-my-md">
						<q-item tag="label" class="q-px-lg cursor-inherit" @click.prevent>
							<q-item-section>
								<q-item-label class="text-h5">
									<t>Install and remove</t>
								</q-item-label>
								<q-item-label caption class="text-grey-8">
									<t>Install and remove selected features.</t>
								</q-item-label>
							</q-item-section>
							<q-item-section side >
								<q-btn :loading="collection.working" :percentage="progress" :disable="!collection.length" color="grey-9" size="sm" class="q-mt-xs" :label="$t('install selection')" @click="installAll(collection)"/>
							</q-item-section>
						</q-item>
					</q-list>
				</q-scroll-area>
			</q-tab-panel>

			<q-tab-panel name="prefered" class="q-pa-none">
				<q-scroll-area>
					<div class="q-mx-lg q-mt-md">
						<div v-for="(packages, name) in prefered" :key="name">
							<q-expansion-item  default-opened :label="$t(name)" header-class="text-h5 q-px-lg">
								<PackageList :packages="packages" :percentage="progress" :accentInstalled="true" @install="install($event)" @remove="remove($event)" class="q-ml-lg"/>
								<br>
							</q-expansion-item>
						</div>
					</div>
				</q-scroll-area>
			</q-tab-panel>

			<q-tab-panel name="search" class="q-pa-none">
				<portal to="options">
					<q-item>
						<q-toggle v-model="showVersion" :label="$t('Show version for packages')" color="primary" dense/>
					</q-item>
					<q-item>
						<q-toggle v-model="fullSearch" :label="$t('Search all package types')" color="primary" dense/>
					</q-item>
				</portal>
				<portal to="header">
					<q-input v-model="filter" :placeholder="$t('Enter search value')" autofocus filled dense class="q-mr-sm" style="max-width:40%">
						<template v-slot:prepend>
							<q-icon name="search"/>
						</template>
					</q-input>
				</portal>
				<q-scroll-area>
					<q-infinite-scroll ref="search" @load="loadFilter" :initial-index="1" :offset="250" class="q-mx-lg q-my-md">
						<PackageList :packages="search" :showVersion="showVersion" :percentage="progress" :accentInstalled="true" @install="install($event)" @remove="remove($event)"/>
						<template v-slot:loading>
							<div class="row justify-center q-my-md">
								<q-spinner-dots color="primary" size="40px" />
							</div>
						</template>
					</q-infinite-scroll>
				</q-scroll-area>
			</q-tab-panel>

			<q-tab-panel name="installed" class="q-pa-none">
				<portal to="options">
					<q-item>
						<q-toggle v-model="showVersion" :label="$t('Show version for packages')" color="primary" dense/>
					</q-item>
					<q-item>
						<q-toggle v-model="manualInstalled" :label="$t('Show only manual installed')" color="primary" dense/>
					</q-item>
				</portal>
				<q-scroll-area>
					<div class="q-mx-lg q-mt-md">
						<PackageList :packages="installed.filter(pkg => !manualInstalled || pkg.manual)" :showVersion="showVersion" :percentage="progress" @install="install($event)" @remove="remove($event)"/>
					</div>
				</q-scroll-area>
			</q-tab-panel>

			<q-tab-panel name="upgrades" class="q-pa-none">
				<portal to="options">
					<q-item>
						<q-toggle v-model="manualInstalled" :label="$t('Show only manual installed')" color="primary" dense/>
					</q-item>
				</portal>
				<portal to="header">
					<q-btn flat dense padding="6px" icon="refresh" :disable="loading" :title="$t('Reload')" @click="updateStatus"/>
				</portal>
				<q-scroll-area>
					<q-list class="q-mx-lg q-mt-md">
						<template v-for="pkg in upgrades">
							<q-item v-if="pkg.manual || pkg.all || !manualInstalled" :key="pkg.name" tag="label" class="q-px-lg cursor-inherit" :class="pkg.description ? 'border-bottom q-mb-sm q-pb-md' : ''" @click.prevent>
								<q-item-section>
									<q-item-label class="text-h5">{{pkg.name}}</q-item-label>
									<q-item-label v-if="pkg.newVersion" caption class="text-grey-8"><q-badge color="grey-9" text-color="grey-6" style="font-size:smaller">{{pkg.oldVersion}}</q-badge><q-icon size="xs" name="double_arrow" class="q-mx-sm"/><q-badge color="grey-9" text-color="grey-6" style="font-size:smaller">{{pkg.newVersion}}</q-badge></q-item-label>
									<q-item-label v-if="pkg.description" caption class="text-grey-8">{{pkg.description}}</q-item-label>
								</q-item-section>
								<q-item-section side >
									<q-btn v-if="!pkg.upgraded" :loading="pkg.working" :percentage="progress" color="grey-9" size="sm" :label="$t('upgrade')" @click="upgrade(pkg)"/>
									<q-btn v-if="pkg.upgraded" disabled color="grey-9" size="sm" :label="$t('done')"/>
								</q-item-section>
							</q-item>
						</template>
					</q-list>
				</q-scroll-area>
			</q-tab-panel>
		</q-tab-panels>
	</AuthCheck>
</template>

<script>
import { Portal } from "portal-vue";
import AuthCheck from 'components/AuthCheck'
import Collection from 'components/Collection'
import PackageList from 'components/PackageList'

export default {
	name: 'Packages',

	components: {
		Portal,
		AuthCheck,
		Collection,
		PackageList,
	},

	watch: {
		tab() {
			if (!this.tab) {
				this.$router.replace('/packages/features')
			}
			this.updateStatus()
		},
		filter() {
			clearTimeout(this.filterTimeout)
			this.filterTimeout = setTimeout(() => {
				this.search = []
				this.$refs.search.stop()
				this.$refs.search.reset()
				if (this.filter.length) {
					this.$refs.search.resume()
					this.$refs.search.trigger()
				} else {
					this.progress = 0
				}
			}, 500)
		},
		fullSearch() {
			clearTimeout(this.filterTimeout)
			this.search = []
			this.$refs.search.stop()
			this.$refs.search.reset()
			if (this.filter.length) {
				this.$refs.search.resume()
				this.$refs.search.trigger()
			} else {
				this.progress = 0
			}
		}
	},

	data() {
		return {
			tab: '',
			fullSearch: false,
			manualInstalled: false,
			showLogs: false,
			filter: '',
			filterTimeout: 0,
			progress: 0,
			error: false,
			collection: [],
			prefered: {},
			search: [],
			installed: [],
			showVersion: false,
			upgrades: [],
			upgradesAvailable: 0,
			upgradesTimer: null,
			loading: false,
			apps: [
				{name: 'Webif', match: /^webif$/, service: 'webif'},
				{name: 'VDR', match: /^vdr-plugin-/, service: 'vdr'},
				{name: 'VDR', match: /^vdr$/},
				{name: 'Squeeze', match: /^squeezeplay$/},
				{name: 'Kodi', match: /^kodi$/},
			]
		}
	},

	async created() {
		this.filter = this.$route.query.filter || ''
		if (!this.$route.params.tab) {
			this.$router.replace('/packages/features')
		}
		;(async () => {
			this.upgradesAvailable = (await this.$settings.packages.upgrades).length
		})()

		await this.updateInstalled()

		this.$socket.on('auth.check', this.updateStatus) // stop loading animation if auth required
		this.$socket.on('packages.installed', async () => {
			await this.updateInstalled()
			this.updateStatus()
			clearTimeout(this.upgradesTimer)
			this.upgradesTimer = setTimeout(async () => {
				this.upgradesAvailable = (await this.$settings.packages.upgrades).length
			}, 5000)
		})
		this.$socket.on('progress', (progress) => {
			this.progress = progress * 100
		})
	},

	mounted() {
		document.querySelector('.q-page-container > .q-scrollarea:first-child > .scroll > div').style.height = '100%'
	},

	beforeDestroy() {
		document.querySelector('.q-page-container > .q-scrollarea:first-child > .scroll > div').style.height = ''
	},

	methods: {
		async updateStatus(event) {
			switch(this.tab) {
				case 'features':
					this.collection.working = false
					this.progress = 0
					this.$forceUpdate()
					break;
				case 'prefered':
					this.$root.$emit('loading', !Object.keys(this.prefered).length)
					let prefered = JSON.parse(JSON.stringify(await this.$settings.packages.prefered()))
					for (var key in prefered) {
						prefered[key] = prefered[key].map(pkg => this.prefered[key]?.find(p => p.name == pkg.name) || pkg)
						prefered[key].forEach(pkg => pkg.installed = !!this.installed?.find(p => p.name == pkg.name))
					}
					this.prefered = prefered
					this.progress = 0
					this.$root.$emit('loading', false)
					break;
				case 'search':
					this.search.forEach(pkg => pkg.installed = !!this.installed?.find(p => p.name == pkg.name))
					this.progress = 0
					break;
				case 'installed':
					this.progress = 0
					break;
				case 'upgrades':
					this.loading = true
					this.$root.$emit('loading', !this.upgrades.length || !!event)
					let upgrades = JSON.parse(JSON.stringify(await this.$settings.packages.upgrades))
					let refrashUpgrades = !!this.upgrades.length
					this.$root.$emit('loading', true)
					this.upgradesAvailable = upgrades.length
					upgrades = upgrades.map(pkg => this.upgrades?.find(p => p.name == pkg.name) || pkg)
					this.upgrades = upgrades
					if (this.upgrades.length) {
						this.upgrades.unshift({name: this.$t('All Packages'), description: this.$t('Install all available upgrades'), all: true})
					}
					this.progress = 0
					this.loading = false
					setTimeout(() => {this.$root.$emit('loading', false)}, refrashUpgrades ? 1000 : 0)
					break;
			}
		},
		async updateInstalled() {
			let installed = JSON.parse(JSON.stringify(await this.$settings.packages.installed()))
			installed = installed.map(pkg => this.installed?.find(p => p.name == pkg.name) || pkg)
			this.installed = installed
		},
		async loadFilter(page, done) {
			const pageSize = 100
			if (this.filter.length) {
				let filter = this.filter
				let fullSearch = this.fullSearch
				let search = JSON.parse(JSON.stringify(await this.$settings.packages.search(filter, fullSearch, page, pageSize)))
				if (filter == this.filter && fullSearch == this.fullSearch) {
					search = search.map(pkg => this.search?.find(p => p.name == pkg.name) || pkg)
					search.forEach(pkg => pkg.installed = !!this.installed?.find(p => p.name == pkg.name))
					if (page == 1) {
						this.search = search
					} else {
						this.search.push(...search)
					}
					this.progress = 0
					done(search.length < pageSize)
				}
			} else {
				this.progress = 0
				done(true)
			}
		},
		async install(pkg) {
			pkg.working = true
			if (await this.$settings.packages.install(pkg.id)) {
				pkg.installed = true
				this.apps.forEach(app => {
					if (pkg.name.match(app.match)) {
						if (app.service) {
							this.$root.$emit('menu.add', {label: this.$t('Restart {name}', {name: app.name}), handler: async () => {await this.$settings.services.restart(app.service) && app.handler && app.handler()}})
						} else {
							this.$root.$emit('menu.add', {label: this.$t('Start app {name}', {name: app.name}), handler: () => {this.$settings.apps.start(app.name)}})
						}
					}
				})
			}
			pkg.working = false
			this.$forceUpdate()
		},
		async remove(pkg) {
			pkg.working = true
			if (await this.$settings.packages.remove(pkg.id)) {
				pkg.installed = false
			}
			pkg.working = false
			this.$forceUpdate()
		},
		async installAll(pkgs) {
			pkgs.working = true
			this.$forceUpdate()
			if (await this.$settings.packages.install(pkgs)) {
				this.apps.forEach(app => {
					if (pkgs.find(pkg => pkg.match(app.match))) {
						if (app.service) {
							this.$root.$emit('menu.add', {label: this.$t('Restart {name}', {name: app.name}), handler: async () => {await this.$settings.services.restart(app.service) && app.handler && app.handler()}})
						} else {
							this.$root.$emit('menu.add', {label: this.$t('Start app {name}', {name: app.name}), handler: () => {this.$settings.apps.start(app.name)}})
						}
					}
				})
			}
			pkgs.working = false
			this.$forceUpdate()
		},
		async upgrade(pkg) {
			pkg.working = true
			pkg.all && this.upgrades.forEach(pkg => {pkg.working = true})
			if (await this.$settings.packages.upgrade(pkg.all ? '' : pkg.id)) {
				pkg.upgraded = true
				pkg.all && this.upgrades.forEach(pkg => {pkg.upgraded = true})
				this.apps.forEach(app => {
					if (!pkg.all && pkg.name.match(app.match) || pkg.all && this.upgrades.find(pkg => pkg.name.match(app.match)) && app.service) {
						this.$root.$emit('menu.add', {label: this.$t('Restart {name}', {name: app.name}), handler: async () => {await this.$settings.services.restart(app.service) && app.handler && app.handler()}})
					}
				})
			}
			pkg.working = false
			this.$forceUpdate()
		}
	},

	i18n: {}
}
</script>
