<template>
	<div>
		<h3 class="q-mx-xl q-pt-lg"><t>Services</t></h3>
		<p class="q-px-xl"><t>Services are programms, that are running in the background.</t></p>

		<q-list class="q-px-lg">
			<q-item v-for="service in services" :key="service.name" tag="label" class="q-px-lg cursor-inherit focus" @click.prevent tabindex="-1">
				<q-item-section>
					<q-item-label class="text-h5">
						{{service.name}}
						<q-icon v-if="service.running" name="check_circle_outline" color="positive" class="q-ml-xs q-mb-xs" :title="$t('running')"/>
						<q-icon v-if="!service.running && service.start === false" name="check_circle_outline" color="warning" class="q-ml-xs q-mb-xs" :title="$t('waiting')"/>
						<q-icon v-if="!service.running && service.start !== false" name="error_outline" color="negative" class="q-ml-xs q-mb-xs" :title="$t('stopped')"/>
					</q-item-label>
					<q-item-label caption>{{service.description}}</q-item-label>
				</q-item-section>
				<q-item-section side>
					<div class="row">
						<q-btn v-for="command in service.commands" :key="service.name+'_'+command.name" :loading="service.working == command.name" :disable="!!service.working" :label="$t(command.name)" @click="exec(service, command.name)" color="grey-9" class="q-ml-md" size="sm" />
					</div>
				</q-item-section>
			</q-item>
		</q-list>
	</div>
</template>

<script>
import AuthCheck from 'components/AuthCheck'
import { Portal } from "portal-vue";

export default {
	name: 'Services',

	components: {
		AuthCheck,
		Portal
	},

	data() {
		return {
			timeout: null,
			services: [],
		}
	},

	mounted() {
		this.updateServices()
	},

	beforeDestroy() {
		clearTimeout(this.timeout)
	},

	methods: {
		async updateServices() {
			this.services.length || this.$root.$emit('loading', true)
			this.services = await this.$settings.services.all
			this.$root.$emit('loading', false)
			this.timeout = setTimeout(this.updateServices, 2000)
		},

		async exec(service, command) {
			service.working = command
			this.$forceUpdate()
			let status = await this.$settings.services.exec(service.name, command)
			service.working = ''
			Object.assign(this.services.find(row => row.name == status.name), status)
		}
	},

	i18n: {}
}
</script>

<style lang="scss" scoped>
	.focus:focus-within {
		background-color: $grey-10;
	}
</style>
