<template>
	<AuthCheck @success="updateInstalled" style="height:100%" requiredClass="q-pt-lg q-px-xl">
		<portal to="options">
			<q-item>
				<q-toggle v-model="showDescription" :label="$t('Show descriptions')" color="primary" dense/>
			</q-item>
		</portal>
		<portal to="header">
			<q-input v-model="filter" :placeholder="$t('Search setting')" filled dense class="q-mx-sm" style="max-width:40%">
				<template v-slot:prepend>
					<q-icon name="search"/>
				</template>
			</q-input>
		</portal>

		<q-splitter v-model="naviWidth" unit="px" reverse style="height:100%" class="navi">
			<template v-slot:before>
				<div class="q-my-md q-mx-xl">
					<AllSettings :enable="installed"/>
				</div>
			</template>
			<template v-slot:after>
				<q-list dense class="q-mt-lg">
					<PortalTarget name="settings" multiple/>
				</q-list>
			</template>
		</q-splitter>
	</AuthCheck>
</template>

<script>
import { Portal } from "portal-vue";
import { PortalTarget } from "portal-vue";
import AuthCheck from 'components/AuthCheck'
import AllSettings from 'components/Settings'

export default {
	name: 'Settings',

	components: {
		Portal,
		PortalTarget,
		AuthCheck,
		AllSettings
	},

	watch: {
		'filter': function() {
			this.$root.$emit('settings.filter', this.filter)
		},
		'showDescription': function() {
			this.$root.$emit('settings.showDescription', this.showDescription)
		},
		'$route.query.filter': function() {
			this.filter = this.$route.query.filter
		}
	},

	data() {
		return {
			installed: [],
			filter: '',
			showDescription: true,
			naviWidth: 200
		}
	},

	async created() {
		this.filter = this.$route.query.filter
	},

	mounted() {
		document.querySelector('.q-page-container > .q-scrollarea:first-child > .scroll > div').style.height = '100%'
	},

	beforeDestroy() {
		document.querySelector('.q-page-container > .q-scrollarea:first-child > .scroll > div').style.height = ''
	},

	methods: {
		async updateInstalled() {
			this.$root.$emit('loading', true)
			this.installed = await this.$settings.debug ? null : (await this.$settings.packages.installed()).map(p => p.name)
			this.$root.$emit('loading', false)
		},
	},

	i18n: {}
}
</script>

<style lang="scss">
.navi .q-splitter__after .q-item {
	min-height: 0;
	padding: $space-base/4 $space-base;
	&:hover {
		background: $grey-9;
	}
}

@media (max-width: $breakpoint-xs-max * 1.3) {
	.navi {
		.q-splitter__after, .q-splitter__separator {
			display: none;
		}
	}
}
</style>