<template>
	<div class="q-my-lg q-mx-xl">
		<h3><t>Remote access</t></h3>
		<div v-if="!connection.running">
			<p><t>Open a connection for remote access.</t></p>
			<q-btn :loading="connection.working" color="grey-9" size="sm" :label="$t('open')" @click="openConnection()"/>
		</div>
		<div v-else>
			<p><t>A connection for remote access is open.</t></p>
			<p><t :values="{port: $settings.support.port}">Connection port is: {port}</t></p>
			<p v-if="!noPromise($settings.auth.login())" class="text-negative">
				<t>You should set a system password.</t>
				<q-btn color="grey-9" size="sm" dense :label="$t('set password')" to="settings" class="q-ml-sm q-px-xs"/>
			</p>
			<p class="text-grey-6"><t>The support employee needs the connection port and the system password to be able to access your system.</t></p>
			<q-btn :loading="connection.working" color="grey-9" size="sm" :label="$t('close')" @click="closeConnection()"/>
		</div>

		<h3 class="q-mt-xl"><t>Support log</t></h3>
		<p><t>Create and upload a support log.</t></p>
		<p v-if="upload.id"><t>Support log id is:</t><strong> {{ upload.id }}</strong></p>
		<q-btn :loading="upload.working" :disable="download.working" color="grey-9" size="sm" :label="$t('upload')" @click="uploadLog()"/>
		<p class="q-mt-md"><t>Or download a support log.</t></p>
		<q-btn :loading="download.working" :disable="upload.working" color="grey-9" size="sm" :label="$t('download')" @click="downloadLog()"/>
	</div>
</template>

<script>
export default {
	name: 'Support',

	data() {
		return {
			connection: {
				working: false,
				running: false,
				enabled: false
			},
			upload: {
				working: false,
				id: ''
			},
			download: {
				working: false
			}
		}
	},

	async created() {
		this.$root.$emit('loading', true)
		this.connection.running = await this.$settings.support.isOpen
		this.connection.enabled = await this.$settings.support.isEnabled
		this.$root.$emit('loading', false)
	},

	methods: {
		async openConnection() {
			this.connection.working = true
			this.connection.running = await this.$settings.support.openConnection()
			this.connection.working = false
		},
		async closeConnection() {
			this.connection.working = true
			this.connection.running = await this.$settings.support.closeConnection()
			this.connection.working = false
		},
		async uploadLog() {
			this.upload.working = true
			this.upload.id = await this.$settings.support.uploadLog()
			this.upload.working = false
		},
		async downloadLog() {
			this.download.working = true
			let a = document.createElement('a');
			let blob = new Blob([await this.$settings.support.downloadLog()], {'type': 'application/octet-stream'})
			a.href = window.URL.createObjectURL(blob)
			a.download = 'log.tgz'
			a.click()
			this.download.working = false
		}
	},

	i18n: {}
}
</script>
