<template>
	<div class="vdrmpv q-my-lg q-mx-xl">
		<h3><t>Play a Video URL</t></h3>
		<p><t>Enter a video URL that should be play back by the VDR.</t></p>
		<div class="row q-pb-lg">
			<q-input dark dense v-model="url" name="url" placeholder="https://" @keypress.enter="play()" class="input"/>
			<q-btn color="grey-9" size="sm" :label="$t('play')" @click="play()"/>
		</div>

		<h4><t>Send to VDR</t></h4>
		<p><t :values="system">Use the send to Kodi browser extension or a smartphone app to send videos to the VDR. You must configure the extension to ip {ip} and port {port}.</t></p>
		<ul>
			<li><a href="https://addons.mozilla.org/de/firefox/addon/send-to-xbmc-kodi/" target="_blank">Firefox</a></li>
			<li><a href="https://chrome.google.com/webstore/detail/kassi-share-send-to-kodix/gbghegmimhjemkhpimohkdopkeahldbh" target="_blank">Chrome</a></li>
			<li><a href="https://play.google.com/store/apps/details?id=org.xbmc.kore&hl=en_US" target="_blank">Android</a></li>
			<li><a href="https://apps.apple.com/us/app/sendtokodi/id1113517603" target="_blank">iOS</a></li>
		</ul>
</div>
</template>

<script>
export default {
	name: 'VdrMpv',

	data() {
		return {
			url: '',
			system: null
		}
	},

	async created() {
		this.system = {
			ip: (await this.$settings.system.ip)[0],
			port: 80
		}
	},

	methods: {
		async play() {
			await this.$settings.vdr.plugins.mpv.play(this.url)
		},
	},

	i18n: {}
}
</script>

<style lang="scss">
.vdrmpv {
	.input {
		width: calc(100% - 80px);
		max-width: $breakpoint-xs;
		.q-field__control {
    	padding-left: 12px !important;
		}
	}
	button {
		margin: 12px 0 auto $space-base;
	}
}
</style>