<template>
	<div class="row vdrosd">
		<portal to="options">
			<q-item>
				<q-toggle v-model="showTv" :label="$t('Show tv')" color="primary" dense/>
			</q-item>
			<q-item>
				<q-toggle v-model="showRemote" :label="$t('Show remote')" color="primary" dense/>
			</q-item>
		</portal>
		<portal to="header">
			<q-btn flat dense icon="help_outline" @click="showHelp=true" class="q-mr-sm"/>
		</portal>

		<div class="col scrollarea q-py-lg q-px-xl">
			<img v-if="showTv" ref="screenimage" :src="screen" class="screen" :class="{showremote: showRemote}"/>
			<div v-if="menu" class="menu">
				<div class="info bg-osd q-px-md q-py-sm">{{menu.title}}</div>
				<div class="scroll">
					<ul v-if="menu.items?.length!=1 || menu.items[0].is_selected" type="none" class="q-px-lg">
						<li v-for="item in menu.items" :key="item.content" :class="{'bg-grey-7': item.is_selected, 'active': item.is_selected}" class="q-px-md q-py-xs" @click="hitKey(item.content.replace(/ *(\d*).*/, '$1'))">
							{{item.content}}
						</li>
					</ul>
					<div v-else class="q-pa-lg">
						<div class="title q-mb-sm">{{menu.title}}</div>
						<div class="content">{{menu.items[0].content}}</div>
					</div>
				</div>
			</div>
			<div v-if="message" class="message bg-osd q-pa-sm">
				{{message}}
			</div>
			<div v-if="menu" class="buttons q-px-md q-py-md row">
				<div class="col q-mx-sm q-px-sm bg-red" @click="hitKey('red')">{{menu.red}}</div>
				<div class="col q-mx-sm q-px-sm bg-green" @click="hitKey('green')">{{menu.green}}</div>
				<div class="col q-mx-sm q-px-sm bg-yellow" @click="hitKey('yellow')">{{menu.yellow}}</div>
				<div class="col q-mx-sm q-px-sm bg-blue" @click="hitKey('blue')">{{menu.blue}}</div>
			</div>
			<div v-if="status" class="status column justify-end">
				<div>
					<div class="channel bg-osd q-px-md q-py-sm">{{info.video?.name}}{{info.number}} {{info.channel}}</div>
					<ul type="none">
						<li class="time">{{(new Date(status.present_time * 1000)).toTimeString().substr(0, 5)}}</li>
						<li class="title">{{status.present_title}}</li>
						<li class="subtitle q-mb-sm">{{status.present_subtitle}}</li>
						<li class="time">{{(new Date(status.following_time * 1000)).toTimeString().substr(0, 5)}}</li>
						<li class="title">{{status.following_title}}</li>
						<li class="subtitle">{{status.following_subtitle}}</li>
					</ul>
				</div>
			</div>
		</div>

		<table v-if="showRemote" class="col q-py-lg q-pr-xl">
			<tr><td @click="hitKey('volup')"><q-icon name="volume_up"/><q-tooltip :delay="1000"><t>Volume up</t></q-tooltip></td><td @click="hitKey('power')" class="bg-red"><q-icon name="power_settings_new"/><q-tooltip :delay="1000"><t>Power</t></q-tooltip></td><td @click="hitKey('chanup')"><q-icon name="keyboard_double_arrow_up"/><q-tooltip :delay="1000"><t>Channel up</t></q-tooltip></td></tr>
			<tr><td @click="hitKey('voldn')"><q-icon name="volume_down"/><q-tooltip :delay="1000"><t>Volume down</t></q-tooltip></td><td></td><td @click="hitKey('chandn')"><q-icon name="keyboard_double_arrow_down"/><q-tooltip :delay="1000"><t>Channel down</t></q-tooltip></td></tr>

			<tr><td></td><td></td><td></td></tr>

			<tr><td @click="hitKey('back')"><q-icon name="undo"/><q-tooltip :delay="1000"><t>Back</t></q-tooltip></td><td @click="hitKey('up')"><q-icon name="keyboard_arrow_up"/></td><td @click="hitKey('menu')"><q-icon name="home"/><q-tooltip :delay="1000"><t>Menu</t></q-tooltip></td></tr>
			<tr><td @click="hitKey('left')"><q-icon name="keyboard_arrow_left"/></td><td @click="hitKey('ok')">ok</td><td @click="hitKey('right')"><q-icon name="keyboard_arrow_right"/></td></tr>
			<tr><td></td><td @click="hitKey('down')"><q-icon name="keyboard_arrow_down"/></td><td></td></tr>

			<tr><td colspan="3" style="padding:8px 0; opacity:1;" class="bg-black">
				<table><tr>
					<td @click="hitKey('red')" class="bg-red"></td>
					<td @click="hitKey('green')" class="bg-green"></td>
					<td @click="hitKey('yellow')" class="bg-yellow"></td>
					<td @click="hitKey('blue')" class="bg-blue"></td>
				</tr></table>
			</td></tr>

			<tr><td @click="hitKey('1')">1</td><td @click="hitKey('2')">2</td><td @click="hitKey('3')">3</td></tr>
			<tr><td @click="hitKey('4')">4</td><td @click="hitKey('5')">5</td><td @click="hitKey('6')">6</td></tr>
			<tr><td @click="hitKey('7')">7</td><td @click="hitKey('8')">8</td><td @click="hitKey('9')">9</td></tr>
			<tr><td></td><td @click="hitKey('0')">0</td><td></td></tr>
		</table>

		<q-dialog v-model="showHelp">
      <q-card>
        <q-card-section class="row items-center q-pt-sm q-pr-sm">
          <div class="text-h4">
						<t>Keyboard layout</t>
					</div>
					<q-space />
          <q-btn icon="close" flat round dense v-close-popup class="q-ml-md"/>
				</q-card-section>

        <q-card-section class="q-pt-none">
					<q-scroll-area class="keymap">
						<q-table :data="$settings.remote.keys" :columns="columns" row-key="key" dense :pagination="{rowsPerPage:0}" hide-pagination hide-bottom>
							<template v-slot:body-cell-key="props">
								<q-td :props="props">
									{{ props.row.key.replace('KEY_', '') }}
								</q-td>
							</template>
						</q-table>
					</q-scroll-area>
				</q-card-section>
      </q-card>
    </q-dialog>
	</div>
</template>

<script>
import { Portal } from "portal-vue";

export default {
	name: 'VdrOsd',

	components: {
		Portal,
	},

	data() {
		return {
			info: null,
			status: null,
			menu: null,
			message: '',
			screen: '',
			showRemote: true,
			showTv: true,
			showHelp: false,
			columns: [
				{ name: 'name', label: 'Remote', field: 'name', align: 'left' },
				{ name: 'key', label: 'Keyboard', field: 'key', align: 'left' }
			]
		}
	},

	watch: {
		showTv() {
			if (this.showTv) {
				this.screenshot()
			} else {
				clearTimeout(this.screenshotTimer)
			}
		},
	},

	async created() {
		this.columns.forEach(col => {
			col.label = this.$t(col.label)
		})
	},

	mounted() {
		let scrollarea = document.querySelector('.q-page-container > .q-scrollarea:first-child > .scroll > div')
		scrollarea.style.height = '100%'
		scrollarea.style.width = '100%'
		document.addEventListener('keydown', this.onkeydown)
		this.refrash()
		this.screenshot()
	},

	beforeDestroy() {
		let scrollarea = document.querySelector('.q-page-container > .q-scrollarea:first-child > .scroll > div')
		scrollarea.style.height = ''
		scrollarea.style.width = ''
		document.removeEventListener('keydown', this.onkeydown)
		clearTimeout(this.refrashTimer)
		clearTimeout(this.screenshotTimer)
	},

	methods: {
		async refrash() {
			let data = await this.$settings.vdr.plugins.restfulapi.info()
			if (data) {
				this.info = data.info
				this.status = data.program
				this.menu = data.menu
				this.message = data.message ? data.message : (!data.program && !data.menu ? this.$t('Press HOME key to open the VDR OSD') : '')
				if (this.menu) {
					this.menu.title = this.menu.title == 'VDR' ? this.info?.diskusage?.description_localized : this.menu.title
					setTimeout(() => {document.querySelector('.vdrosd .menu li.active')?.scrollIntoView({behavior: 'smooth', block: 'nearest'})})
				}
			}
			clearTimeout(this.refrashTimer)
			this.refrashTimer = setTimeout(this.refrash, 1000)
		},

		async screenshot() {
			let image = await this.$settings.vdr.plugins.restfulapi.screenshot(this.$refs.screenimage.width, Math.round(this.$refs.screenimage.width / 16 * 9))
			this.screen = image ? 'data:image/jpg;base64,' + btoa(String.fromCharCode(...new Uint8Array(image))) : ''
			this.screenshotTimer = setTimeout(this.screenshot, 1000)
		},

		async hitKey(key) {
			await this.$settings.vdr.plugins.restfulapi.remote(key)
			setTimeout(this.refrash, 100)
		},

		onkeydown(e) {
			var keys = {
				43:'VolUp', 45:'VolDn', 187:'VolUp', 189:'VolDn', 33:'ChanUp', 34:'ChanDn', 8:'Back', 36:'Menu', 13:'Ok',
				37:'Left', 38:'Up', 39:'Right', 40:'Down', 112:'Red', 113:'Green', 114:'Yellow', 115:'Blue',
				48:'0', 49:'1', 50:'2', 51:'3', 52:'4', 53:'5', 54:'6', 55:'7', 56:'8', 57:'9'
			}
			var key = e.keyCode ? keys[e.keyCode] : keys[e.charCode]
			if (key && !e.ctrlKey && !e.altKey) {
				this.hitKey(key)
				e.preventDefault()
			}
		},
	},

	i18n: {}
}
</script>

<style lang="scss">
.vdrosd {
	height: 100%;

	.bg-osd {
		background: rgba(72,72,72,0.90) !important;
	}

	>div {
		height: 100%;
		.menu,
		.message,
		.status > div,
		.buttons {
			background: rgba(72,72,72,0.5);
		}

		.screen {
			position: absolute;
			z-index: -1;
			width: calc(100% - 96px);
			&.showremote {
				width: calc(100% - 264px);
			}
		}

		.menu {
			height: calc(100% - 64px);
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		
			.scroll {
				height: calc(100% - 64px);
				margin-top: 16px;
				overflow: auto;
			}
			.info {
				font-size: 1.2em;
				font-weight: bold;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}
			div {
				.title {
					font-size: 1.3em;
					font-weight: bold;
				}
				.content {
					white-space: pre;
					text-wrap: pretty;
				}
			}
			li:hover {
				opacity: 0.8;
				background: $grey-9;
			}
		}

		.menu ul,
		.status ul
		{
			margin: 0px;
			list-style: none;
			overflow: hidden;

			li {
				border-radius: 5px;
				white-space: nowrap;
			}
		}
		.message {
			font-weight: bold;
			border-radius: 5px;
			text-align: center;
			line-height: 1.8em;
		}

		.status {
			height: 100%;
			> div {
				border-radius: 5px;
				overflow: hidden;
				white-space: nowrap;
				.channel {
					font-size: 1.2em;
					font-weight: bold;
				}
				ul {
					padding: 16px 24px;
					li.time {
						font-size: 0.8em;
						color: $grey-3;
						position: absolute;
						margin: 0.5em 0 0 -0.5em;
					}
					li.title {
						font-size: 1.2em;
						font-weight: bold;
						margin-left: 40px;
					}
					li.subtitle {
						margin-top: -0.1em;
						font-weight: normal;
						margin-left: 40px;
					}
				}
			}
		}

		.buttons {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;

			div {
				font-size: 1.1em;
				overflow: hidden;
				text-align: center;
				border-radius: 5px;
				min-height: 24px;
				&:hover {
					opacity: 0.8;
				}
				&:empty {
					opacity: 0.3;
				}
			}
		}
	}

	>table {
		border-spacing: 4px;
		height: 0;
		margin-top: -4px;
		flex: 0 0 auto;
		user-select: none;

		td {
			border-radius: 5px;
			text-align: center;
			padding: 4px;
		}
		td:not(:empty) {
			background: $grey-9;
			cursor: pointer;
			&:hover {
				opacity: 0.8;
			}
		}
		table {
			background: black;
			border-spacing: 4px;
			width: calc(100% + 8px);
			margin-left: -4px;
			td {
				height: 16px;
				width: 24px;
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}

.keymap {
		height: calc(100vh - 10em);
		width: 20em;
	}
</style>