<template>
	<div class="vdrstreamdev q-my-lg q-mx-xl">
		<portal to="options">
			<q-item>
				<q-select dark dense options-dense filled v-model="format" :options="['TS', 'PES', 'ES']" hide-dropdown-icon class="q-mr-sm" style="width: auto"/>
				<div style="margin-top: 3px">{{$t('Transfare format')}}</div>
			</q-item>
		</portal>

		<h3><t>Get a playlist</t></h3>
		<p><t>Use the playlist to stream live tv and recordings to a video player.</t></p>
		<ul>
			<li><a :href="playlist" target="_blank">Playlist</a></li>
		</ul>
</div>
</template>

<script>
import { Portal } from "portal-vue"

export default {
	name: 'VdrStreamdev',

	components: {
		Portal,
	},

	watch: {
		format() {
			this.$q.cookies.set('vdr-streamdev-format', this.format)
		}
	},

	data() {
		return {
			format: 'TS'
		}
	},

	computed: {
		playlist() {
			return `/setting/vdr.plugins.streamdev_server.playlist()?format=${this.format}`
		},
	},

	async created() {
		this.format = this.$q.cookies.get('vdr-streamdev-format') || this.format
	},

	i18n: {}
}
</script>

<style lang="scss">
.vdrstreamdev {
}
</style>