<template>
	<div>
		<template v-if="authSuccess === true">
			<slot></slot>
		</template>
		<template v-if="authSuccess === false">
			<div class="row">
				<div class="col">
					<slot name="required">
						<p :class="requiredClass"><t>Login required.</t></p>
					</slot>
				</div>
				<div class="col-auto" :class="requiredClass">
					<q-btn color="grey-9" :label="$t('Login')" @click="$root.$emit('auth.show')" size="sm"/>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
export default {
	name: 'AuthCheck',

	props: {
		requiredClass: String,
	},

	data() {
		return {
			authSuccess: window.authSuccess,
		}
	},

	created() {
		if (this.authSuccess) {
			this.$emit('success', true)
		}

		this.$root.$on('auth.success', success => {
			this.authSuccess = success
			this.$emit('success', this.authSuccess)
		})
	},

	i18n: {}
}
</script>
