<template>
	<div class="row absolute full-width" style="min-height: 100%">
		<div class="col">
			<q-scroll-area>
				<slot></slot>
			</q-scroll-area>
		</div>
		<div class="col-4 bg-grey-9 banner">
			<div class="logo">
				<img src="/statics/logo.png">
			</div>
			<div class="label">
				<div>{{label}}</div>
			</div>
			<div class="text q-mx-lg">
				<q-scroll-area>
					<slot name="info"></slot>
				</q-scroll-area>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Banner',

	props: {
		label: {
			type: String,
			required: true
		},
	},
}
</script>

<style lang="scss" scoped>
@media (max-width: 720px) {
	.banner {
		display: none;
	}
}
.banner {
	.logo, .label {
    position: fixed;
		transform: rotate(90deg);
		margin-top: 4%;
    top: 50px;
    right: 4%;
		div {
			position: absolute;
			font-size: 5vh;
			text-transform: uppercase;
			margin-top: 3em;
		}
		img {
			position: absolute;
			height: 14vh;
			opacity: 0.1;
		}
	}
	.text {
    position: absolute;
    bottom: 5%;
		height: calc(50% - 70px);
		width: calc(33% - 48px);
	}
}
.zoom .banner {
	.label div {
		font-size: 2em;
	}
	.logo img {
		height: 6em;
	}
}
</style>
<style lang="scss">
.banner	.text >div >div >div {
	bottom: 0;
	font-style: italic;
	font-size: 0.9em;
}
</style>
