<template>
	<div ref="collection" v-if="system" class="collection">
		<Feature v-model="features.vdr" :installed="installed.vdr" :label="$t('VDR')" :caption="$t('The tv viewer')" labelClass="text-h5">
			<p><t>Add the VDR features.</t></p>
			<q-expansion-item expand-icon-toggle dense header-class="text-h5" :label="$t('Frontend')" :caption="features.vdr_frontend || ' '">
				<p><t>Select the frontend to use.</t></p>
				<Feature v-model="features.vdr_frontend" :installed="installed.vdr_frontend" radio val="dummydevice" :label="$t('none')" labelClass="text-h6">
					<p><t>No frontend. This is only for servers with no screen.</t></p>
				</Feature>
				<Feature v-model="features.vdr_frontend" :installed="installed.vdr_frontend" radio val="skincurses" :label="$t('OSD only')" labelClass="text-h6">
					<p><t>Only OSD output on a text console. This is only for servers.</t></p>
				</Feature>
				<Feature v-if="vdr_frontends[system.mach]?.includes('amlhddevice')" v-model="features.vdr_frontend" :installed="installed.vdr_frontend" radio val="amlhddevice" :label="$t('AmlHdDevice')" labelClass="text-h6">
					<p><t>Use the AmlHdDevice frontend.</t></p>
				</Feature>
				<Feature v-if="vdr_frontends[system.mach]?.includes('dvbhddevice')" :disable="!features.vdr_receiver_dvb" v-model="features.vdr_frontend" :installed="installed.vdr_frontend" radio val="dvbhddevice" :label="$t('DvbHdDevice')" :title="!features.vdr_receiver_dvb ? $t('No FF-DVB card') : ''" labelClass="text-h6">
					<p><t>Use the DvbHdDevice frontend. This will use the tv output of the FF-DVB card.</t></p>
				</Feature>
				<Feature v-if="vdr_frontends[system.mach]?.includes('dvbsddevice')" :disable="!features.vdr_receiver_dvb" v-model="features.vdr_frontend" :installed="installed.vdr_frontend" radio val="dvbsddevice" :label="$t('DvbSdDevice')" :title="!features.vdr_receiver_dvb ? $t('No FF-DVB card') : ''" labelClass="text-h6">
					<p><t>Use the DvbSdDevice frontend. This will use the tv output of the FF-DVB card.</t></p>
				</Feature>
				<Feature v-if="vdr_frontends[system.mach]?.includes('gstreamerdevice')" v-model="features.vdr_frontend" :installed="installed.vdr_frontend" radio val="gstreamerdevice" :label="$t('gStreamerDevice')" labelClass="text-h6">
					<p><t>Use the gstreamerDevice frontend. This is under development.</t></p>
				</Feature>
				<Feature v-if="vdr_frontends[system.mach]?.includes('rpihddevice')" v-model="features.vdr_frontend" :installed="installed.vdr_frontend" radio val="rpihddevice" :label="$t('RpiHdDevice')" labelClass="text-h6">
					<p><t>Use the RpiHdDevice frontend. This is the prefered one.</t></p>
				</Feature>
				<Feature v-if="vdr_frontends[system.mach]?.includes('softhddevice')" v-model="features.vdr_frontend" :installed="installed.vdr_frontend" radio val="softhddevice" :label="$t('SoftHdDevice')" labelClass="text-h6">
					<p><t>Use the SoftHdDevice frontend.</t></p>
				</Feature>
				<Feature v-if="vdr_frontends[system.mach]?.includes('softhdvaapi')" v-model="features.vdr_frontend" :installed="installed.vdr_frontend" radio val="softhdvaapi" :label="$t('SoftHdVaapi')" labelClass="text-h6">
					<p><t>Use the SoftHdVaapi frontend. This is the prefered one.</t></p>
				</Feature>
				<Feature v-if="vdr_frontends[system.mach]?.includes('softhdvdpau')" v-model="features.vdr_frontend" :installed="installed.vdr_frontend" radio val="softhdvdpau" :label="$t('SoftHdVdpau')" labelClass="text-h6">
					<p><t>Use the SoftHdVdpau frontend. This is the prefered one.</t></p>
				</Feature>
				<Feature v-if="vdr_frontends[system.mach]?.includes('softhdcuvid')" v-model="features.vdr_frontend" :installed="installed.vdr_frontend" radio val="softhdcovid" :label="$t('SoftHdCuvid')" labelClass="text-h6">
					<p><t>Use the SoftHdCuvid frontend.</t></p>
				</Feature>
				<Feature v-if="vdr_frontends[system.mach]?.includes('softhddrm')" v-model="features.vdr_frontend" :installed="installed.vdr_frontend" radio val="softhddrm" :label="$t('SoftHdDrm')" labelClass="text-h6">
					<p><t>Use the SoftHdDrm frontend. This is the prefered one.</t></p>
				</Feature>
				<Feature v-if="vdr_frontends[system.mach]?.includes('softhdgles')" v-model="features.vdr_frontend" :installed="installed.vdr_frontend" radio val="softhdgles" :label="$t('SoftHdGles')" labelClass="text-h6">
					<p><t>Use the SoftHdGles frontend. This is the prefered one.</t></p>
				</Feature>
				<Feature v-if="vdr_frontends[system.mach]?.includes('xineliboutput')" v-model="features.vdr_frontend" :installed="installed.vdr_frontend" radio val="xineliboutput" :label="$t('XineLibOutput')" labelClass="text-h6">
					<p><t>Use the XineLibOutput frontend. This is the prefered for virtual machines.</t></p>
				</Feature>
			</q-expansion-item>

			<q-expansion-item expand-icon-toggle dense header-class="text-h5" :label="$t('Receiver')" :caption="[features.vdr_receiver_dvb ? [$t('DVB')] : [], features.vdr_receiver_satip ? [$t('SatIP')] : [], features.vdr_receiver_streamdev ? [$t('Stream')] : [], features.vdr_receiver_iptv ? [$t('IPTV')] : []].flat().join(' & ')+' '">
				<p><t>Select how to recive the tv signal.</t></p>
				<Feature :disable="features.minisatip" v-model="features.vdr_receiver_dvb" :installed="installed.vdr_receiver_dvb" :label="$t('DVB')" :title="features.minisatip ? $t('Blocked by sat-ip server') : ''" labelClass="text-h6">
					<p><t>Use the embedded DVB card.</t></p>
				</Feature>
				<Feature v-model="features.vdr_receiver_satip" :installed="installed.vdr_receiver_satip" :loading="features.vdr_receiver_satip===undefined" :label="$t('SatIP')" labelClass="text-h6">
					<p><t>Receive from SatIP server.</t></p>
				</Feature>
				<Feature v-model="features.vdr_receiver_streamdev" :installed="installed.vdr_receiver_streamdev" :loading="features.vdr_receiver_streamdev===undefined" :label="$t('Stream')" labelClass="text-h6">
					<p><t>Receive from VDR server.</t></p>
				</Feature>
				<Feature v-model="features.vdr_receiver_iptv" :installed="installed.vdr_receiver_iptv" :label="$t('IPTV')" labelClass="text-h6">
					<p><t>Receive IPTV.</t></p>
				</Feature>
			</q-expansion-item>

			<q-expansion-item expand-icon-toggle dense header-class="text-h5" :label="$t('Server')" :caption="[features.vdr_server_streamdev ? [$t('For VDR Clients')] : [], features.vdr_server_vnsi ? [$t('For Kodi Clients')] : []].flat().join(' & ')+' '">
				<p><t>The system should contain VDR server features.</t></p>
				<Feature v-model="features.vdr_server_streamdev" :installed="installed.vdr_server_streamdev" :label="$t('For VDR Clients')" labelClass="text-h6">
					<p><t>The system should stream to VDR clients.</t></p>
				</Feature>
				<Feature v-model="features.vdr_server_vnsi" :installed="installed.vdr_server_vnsi" :label="$t('For Kodi Clients')" labelClass="text-h6">
					<p><t>The system should stream to Kodi clients.</t></p>
				</Feature>
			</q-expansion-item>
		</Feature>
		<Feature v-model="features.squeeze" :installed="installed.squeeze" :label="$t('Squeeze')" :caption="$t('The music player')" labelClass="text-h5">
			<p><t>Add the Squeeze Music Player features.</t></p>
			<Feature v-model="features.squeeze_player" :installed="installed.squeeze_player" :label="$t('Squeeze frontend')" labelClass="text-h5">
				<p class="q-pb-sm"><t>The system should contain a Squeeze frontend.</t></p>
			</Feature>
			<Feature v-model="features.squeeze_client" :installed="installed.squeeze_client" :label="$t('Squeeze client')" labelClass="text-h5">
				<p class="q-pb-sm"><t>The system should contain a Squeeze client without frontend.</t></p>
			</Feature>
			<Feature v-model="features.squeeze_server" :installed="installed.server" :label="$t('Squeeze server')" labelClass="text-h5">
				<p class="q-pb-sm"><t>The system should contain a Squeeze server.</t></p>
			</Feature>
		</Feature>
		<Feature v-model="features.kodi" :installed="installed.kodi" :label="$t('Kodi')" :caption="$t('The mediacenter')" labelClass="text-h5">
			<p><t>Add the Kodi app.</t></p>
		</Feature>
		<Feature v-if="system.dvb.kernel || system.dvb.sundtek" :disable="features.vdr_receiver_dvb" v-model="features.minisatip" :installed="installed.dvb" :label="$t('Minisatip')" :caption="$t('The sat-ip server')" :title="features.vdr_receiver_dvb ? $t('Blocked by VDR DVB receiver') : ''" labelClass="text-h4">
			<p><t>Add the minisatip server.</t></p>
		</Feature>
	</div>
</template>

<script>
import CollectionFeature from 'components/CollectionFeature'

export default {
	name: 'Collection',

	components: {
		Feature: CollectionFeature
	},

	watch: {
		'features.vdr'() {
			if (this.features.vdr) {
				if (this.installed.vdr) {
					this.features.vdr_frontend = this.installed['vdr_frontend']
					this.features.vdr_receiver_dvb = this.installed['vdr_receiver_dvb']
					this.features.vdr_receiver_satip = this.installed['vdr_receiver_satip']
					this.features.vdr_receiver_streamdev = this.installed['vdr_receiver_streamdev']
					this.features.vdr_receiver_iptv = this.installed['vdr_receiver_iptv']
					this.features.vdr_server_streamdev = this.installed['vdr_server_streamdev']
					this.features.vdr_server_vnsi = this.installed['vdr_server_vnsi']
				} else if (this.system) {
					this.features.vdr_frontend = this.vdr_frontends[this.system.mach][0]
					this.features.vdr_receiver_dvb = (this.system.dvb.kernel || this.system.dvb.sundtek) && !this.features.minisatip
					this.features.vdr_receiver_satip = undefined
					this.features.vdr_receiver_streamdev = undefined
					;(async () => {this.features.vdr_receiver_satip = (await this.$settings.vdr.plugins.satip.servers()).length > 0 && this.features.vdr})()
					;(async () => {this.features.vdr_receiver_streamdev = (await this.$settings.vdr.plugins.streamdev_client.servers()).length > 0 && this.features.vdr})()
				}
			} else {
				this.features.vdr_frontend = ''
				this.features.vdr_receiver_dvb = false
				this.features.vdr_receiver_satip = false
				this.features.vdr_receiver_streamdev = false
				this.features.vdr_receiver_iptv = false
				this.features.vdr_server_streamdev = false
				this.features.vdr_server_vnsi = false
			}
		},
		'features.vdr_receiver_dvb'() {
			if (!this.features.vdr_receiver_dvb) {
				if (this.features.vdr_frontend == 'dvbhddevice' || this.features.vdr_frontend == 'dvbsddevice') {
					this.features.vdr_frontend = this.vdr_frontends['x86'][0]
				}
			}
			this.features.sundtek = this.system.dvb.sundtek && (this.features.vdr_receiver_dvb || this.features.minisatip)
		},
		'features.minisatip'() {
			this.features.sundtek = this.system.dvb.sundtek && (this.features.vdr_receiver_dvb || this.features.minisatip)
		},
		'features.squeeze'() {
			if (!this.features.squeeze) {
				this.features.squeeze_player = false
				this.features.squeeze_client = false
				this.features.squeeze_server = false
			}
		},
		features: {
			deep: true,
			handler() {
				this.updateCollection()
			}
		}
	},

	data() {
		return {
			system: null,
			installed: {},
			features: {
				vdr: false,
				vdr_frontend: '',
				vdr_receiver_dvb: false,
				vdr_receiver_satip: false,
				vdr_receiver_streamdev: false,
				vdr_receiver_iptv: false,
				vdr_server_streamdev: false,
				vdr_server_vnsi: false,
				squeeze: false,
				squeeze_player: false,
				squeeze_client: false,
				squeeze_server: false,
				kodi: false,
				minisatip: false,
				sundtek: false,
				mc: false
			},
			vdr_frontends: {bpi: ['softhddevice', 'xineliboutput'], odroid: ['softhdgles'], rockpi: ['softhddrm'], rpi1: ['rpihddevice'], rpi2: ['rpihddevice'], rpi3: ['rpihddevice'], rpi4: ['softhdgles', 'softhddrm', 'gstreamerdevice', 'xineliboutput'], tinker: ['softhddrm'], wetek: ['amlhddevice'], virtual: ['xineliboutput', 'gstreamerdevice'], x86: ['softhdvdpau', 'softhdvaapi', 'xineliboutput', 'gstreamerdevice', 'softhdcuvid', 'dvbhddevice', 'dvbsddevice']},
			packages: {
				vdr: 'vdr',
				vdr_frontend: {
					dummydevice: 'vdr-plugin-dummydevice',
					skincurses: 'vdr-plugin-skincurses',
					amlhddevice: 'vdr-plugin-amlhddevice',
					dvbhddevice: 'vdr-plugin-dvbhddevice',
					dvbsddevice: 'vdr-plugin-dvbsddevice',
					gstreamerdevice: 'vdr-plugin-gstreamerdevice',
					rpihddevice: 'vdr-plugin-rpihddevice',
					softhddevice: 'vdr-plugin-softhddevice',
					softhdvaapi: 'vdr-plugin-softhddevice-intel',
					softhdvdpau: 'vdr-plugin-softhddevice-nvidia',
					softhdcuvid: 'vdr-plugin-softhddevice-cuvid',
					softhddrm: 'vdr-plugin-softhddevice-drm',
					softhdgles: 'vdr-plugin-softhddevice-drm-gles',
					xineliboutput: 'vdr-plugin-xineliboutput',
				},
				vdr_server_streamdev: 'vdr-plugin-streamdev-server',
				vdr_server_vnsi: 'vdr-plugin-vnsiserver',
				vdr_receiver_dvb: ' dvb',
				vdr_receiver_satip: 'vdr-plugin-satip',
				vdr_receiver_streamdev: 'vdr-plugin-streamdev-client',
				vdr_receiver_iptv: 'vdr-plugin-iptv',
				squeeze: '',
				squeeze_player: 'squeezeplay',
				squeeze_client: 'squeezelite',
				squeeze_server: 'lms',
				kodi: 'kodi',
				minisatip: 'minisatip',
				sundtek: 'sundtek',
				mc: 'mc',
			},
		}
	},

	async created() {
		await this.updateStatus()
		if (!this.system.graphic.includes('intel')) this.vdr_frontends.x86 = this.vdr_frontends.x86.filter(f => f != 'softhdvaapi')
		if (!this.system.graphic.includes('nvidia')) this.vdr_frontends.x86 = this.vdr_frontends.x86.filter(f => f != 'softhdvdpau')

		this.$socket.on('packages.installed', this.updateStatus)
	},

	methods: {
		async updateStatus() {
			this.$root.$emit('loading', true)
			this.system = await this.$settings.system.hardware

			this.installed.all = await this.$settings.packages.installed()
			for (let name in this.packages) {
				if (typeof this.packages[name] == 'string') {
					this.installed[name] = this.installed.all.findIndex(pkg => pkg.name == this.packages[name]) >= 0
				} else {
					for (let value in this.packages[name]) {
						this.installed[name] = this.installed.all.findIndex(pkg => pkg.name == this.packages[name][value]) >= 0 ? value : this.installed[name]
					}
				}
			}
			if (window.collection?.features) {
				this.features = window.collection.features
			} else {
				for (let name in this.features) {
					this.features[name] = this.installed[name]
				}
				window.collection = window.collection || {}
				window.collection.features = this.features
			}
			this.updateCollection()
			this.$root.$emit('loading', false)
		},

		updateCollection() {
			let collection = []
			for (let feature in this.features) {
				if (this.features[feature]) {
					if (typeof this.features[feature] == 'string') {
						if (this.features[feature] != this.installed[feature] && this.packages[feature][this.installed[feature]]) {
							collection.push(this.packages[feature][this.installed[feature]]+'-')
						}
						collection.push(this.packages[feature][this.features[feature]])
					} else {
						collection.push(this.packages[feature])
					}
				} else if (this.features[feature] === null && this.packages[feature]) {
					collection.push(this.packages[feature]+'-')
				}
			}
			// remove duplicates
			collection = [...new Set(collection)]
			// remove packages that should be installed and removed
			collection = collection.filter(name => !collection.find(_name => _name == name+'-'))
			// remove already installed packages
			collection = collection.filter(name => !this.installed.all.find(pkg => pkg.name == name))
			collection = collection.filter(name => name)
			this.$emit('change', collection.filter(pkg => !pkg.startsWith(' ')))
		},

		onResize (size) {
			if (size.width > 560) {
				this.$refs.collection.classList.add('wide')
			} else {
				this.$refs.collection.classList.remove('wide')
			}
		}
	},

	i18n: {}
}
</script>

<style lang="scss">
.collection {
	.sub {
		margin-left: 32px;
	}
	.cols-2 {
		min-width: 280px;
		&:first-child {
			padding-right: 1em;
		}
	}
	&.wide .cols-2 {
		width: 50%;
	}
	p {
		margin: 0 0 0 8px;
		color: $grey_8;
	}
	p.sub {
		margin-left: 40px;
	}
	h5 {
		margin: 8px 0 8px 8px;
	}
	.q-checkbox__bg {
		background: transparent;
	}

	.q-expansion-item {
		padding-bottom: $space-base * 1.5;
		.text-h5 {
			margin-bottom: -$space-base * 1.5;
			padding: $space-base / 2;
		}
		.q-item__section--main {
			flex: initial;
		}
		.q-item__section--side {
			height: fit-content;
		}
		.text-caption {
			padding: $space-base / 2 0 0 $space-base;
			min-height: 22px;
			color: $grey_8;
			opacity: 1;
			transition: opacity 300ms ease-in-out;
			white-space: nowrap;
			width: 0;
		}
		&.q-expansion-item--expanded .text-caption {
			opacity: 0;
		}
	}
}
@media screen and (min-width: $breakpoint-sm-max) {
	.collection .sub .cols-2:last-child {
		padding-left: 1em;
	}
}
</style>
