<template>
	<div class="collectionFeature">
		<q-radio v-if="radio && !loading" :value="value" @input="$emit('input', $event)" :val="val" :label="label" :disable="disable" :class="labelClass">
			<q-tooltip v-if="title" :offset="[0, 0]">{{title}}</q-tooltip>
		</q-radio>
		<q-checkbox v-if="!radio && !loading" :value="value || (installed ? null : false)" @input="$emit('input', $event || (installed ? null : false))" :label="label" :disable="disable" :class="labelClass">
			<q-tooltip v-if="title" :offset="[0, 0]">{{title}}</q-tooltip>
		</q-checkbox>
		<div v-if="loading" :class="labelClass"><q-spinner size="xs" style="margin:10px"/>{{ label }}</div>
		<q-icon v-if="installed && (!radio || installed == val)" name="check_circle_outline" color="positive" class="q-ml-xs q-mb-xs" :title="$t('installed')"/>
		<span class="caption">{{caption}}</span>
		<div v-visible="value == true || val && value == val" class="sub" :hidden="true">
			<div>
				<slot></slot>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'CollectionFeature',

	props: {
		value: {
			required: true
		},
		label: {
			type: String,
			required: true
		},
		title: String,
		installed: [Boolean, String],
		caption: String,
		radio: Boolean,
		val: String,
		labelClass: String,
		disable: Boolean,
		loading: Boolean
	},

	directives: {
		visible(el, visible) {
			if (visible.value && el.hidden) {
				el.hidden = false
				el.style.width = ''
				el.style.height = el.firstChild.offsetHeight+'px'
				setTimeout(() => {el.style.height = ''}, 300)
				clearTimeout(el.timeout)
			} else if (!visible.value) {
				el.style.height = el.firstChild.offsetHeight+'px'
				setTimeout(() => {el.style.height = 0}, 1)
				el.timeout = setTimeout(() => {
					el.style.width = 0
					el.hidden = true
				}, 300)
			}
		}
	}
}
</script>

<style lang="scss">
.collectionFeature {
	.caption {
		margin-left: 1em;
		margin-top: 1.1em;
		position: absolute;
		font-size: 0.87em;
		color: $grey_8;
	}
	.sub {
		margin-left: 32px;
		overflow: hidden;
		transition: height 0.3s ease-in-out;
	}
	.q-checkbox__bg {
		background: transparent;
	}
}
</style>
