<template>
	<div class="install">
		<div class="description"><t ite>Install description</t></div>
		<Option label="System Device">
			<q-select ref="system_device" dark dense v-model="settings.system.device" :options="system.devices" @popup-show="updateSystemDevices" :loading="system.loading">
				<template v-if="!settings.system.device" v-slot:selected>
					<div class="text-negative"><t>Select install device</t></div>
				</template>
				<template v-if="system.devices!==null" v-slot:no-option>
					<div class="text-grey-6 q-py-sm q-px-md"><t>No devices found</t></div>
				</template>
			</q-select>
		</Option>
		<Option label="Data Device">
			<q-select ref="data_device" dark dense v-model="settings.data.device" clearable :options="data.devices" @popup-show="updateDataDevices" :loading="data.loading">
				<template v-if="!settings.data.device" v-slot:selected>
					<div class="text-grey-6"><t>No data device</t></div>
				</template>
				<template v-if="data.devices!==null" v-slot:no-option>
					<div class="text-grey-6 q-py-sm q-px-md"><t>No devices found</t></div>
				</template>
			</q-select>
			<div v-if="settings.data.device && !settings.data.hasFs && !settings.data.delete" class="q-mt-sm q-ml-sm text-negative">
				<t>Data device must be deleted</t>
			</div>
			<q-checkbox v-if="settings.data.device" :disable="settings.data.path && settings.data.path.value!=''" v-model="settings.data.delete" :label="$t('Delete data device')"/>
			<q-select ref="data_path" v-if="settings.data.device && settings.data.hasFs" :disable="settings.data.delete" dark dense :label="$t('Path')" v-model="settings.data.path" :options="data.pathes" @popup-show="updatePathes()" :loading="data.pathes.loading" style="margin-top:-12px">
				<template v-slot:selected>
					{{settings.data.path && settings.data.path.value.replace(/\//, ' / ')}}
				</template>
        <template v-slot:option="{itemProps, itemEvents, opt}">
          <q-item v-bind="itemProps" v-on="itemEvents">
            <q-item-section @click.stop="updatePathes(opt)">
              <q-item-label :style="{'margin-left':(opt.indent*16)+'px', 'color':opt.value ? '' : 'grey'}">{{opt.label}}</q-item-label>
            </q-item-section>
          </q-item>
        </template>
				<template v-slot:no-option>
					<div class="text-grey-6 q-py-sm q-px-md"><t>No pathes found</t></div>
				</template>
			</q-select>
		</Option>
	</div>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Install',

	components: {
		Group,
		Option,
	},

	props: {
		value: Object,
	},

	data() {
		return {
			loading: false,
			settings: {
				system: {
					device: null,
				},
				data: {
					device: null,
					delete: false,
					path: null,
					hasFs: false
				},
			},
			system: {
				loading: false,
				devices: []
			},
			data: {
				loading: false,
				devices: [],
				pathes: [],
			},
		}
	},

	watch: {
		settings: {
			deep: true,
			handler() {
				if (this.settings.system.device && (!this.settings.data.device || this.settings.data.hasFs || this.settings.data.delete)) {
					this.$emit('input', this.settings)
				} else {
					this.$emit('input', null)
				}
			}
		},
		'settings.data.path'() {
			if (!this.settings.data.path?.value) {
				this.settings.data.path = null
			}
		},
		async 'settings.data.device'() {
			this.settings.data.path = null
			if (this.settings.data.device) {
				this.settings.data.hasFs = await this.$settings.disks.hasFs(this.settings.data.device.value)
			} else {
				this.settings.data.hasFs = false
			}
		}
	},

	async created() {
		await this.$settings
		this.settings = this.value || this.settings
	},

	methods: {
		async updateSystemDevices() {
			this.system.loading = true
			this.system.devices = (await this.$settings.disks.devices).map(dev => ({
				value: dev.device,
				label: `${dev.name} &nbsp; <small>${dev.size}</small>`
			})).filter(d => !this.settings.data.device?.value.startsWith(d.value))
			this.$refs.system_device.refresh(0)
			this.system.loading = false
		},

		async updateDataDevices() {
			this.data.loading = true
			this.data.devices = (await this.$settings.disks.partitions).map(dev => ({
				value: dev.device,
				label: (dev.partition ? `${dev.name} ${this.$t('Partition')} ${dev.partition}` : dev.name) + ` &nbsp; <small>${dev.size}</small>`
			})).filter(d => !d.value.startsWith(this.settings.system.device?.value))
			this.$refs.data_device.refresh(0)
			this.data.loading = false
		},

		async updatePathes(path) {
			this.data.pathes.loading = true
			if (path) {
				this.settings.data.path = path
			}
			var indent = this.settings.data.path?.value && this.settings.data.path?.value?.split('/')?.length || 0
			this.data.pathes = (await this.$settings.disks.pathes(this.settings.data.device.value, this.settings.data.path?.value || '')).map(path => ({
				value: (this.settings.data.path?.value ? this.settings.data.path.value + '/' : '') + path,
				label: path,
				indent: indent
			}))
			for(let path=this.settings.data.path?.value; path && indent-- > 0; path=path.replace(/\/[^\/]+$/, '')) {
				this.data.pathes.unshift({
					value: path,
					label: path.replace(/.*\//, ''),
					indent: indent
				})
			}
			this.data.pathes.unshift({
				value: '',
				label: this.$t('top'),
				indent: 0
			})
			this.$refs.data_path.refresh(0)
			this.data.pathes.loading = false
		},

		async install(collection = []) {
			if (!await this.$settings.packages.installSystem(this.settings, collection)) {
				this.$q.notify({
					position: 'top',
					icon: 'announcement',
					message: this.$t('Installation failed'),
				})
			}
		},

		humanSize(size, fixed=0) {
			var i = Math.floor( Math.log(size) / Math.log(1024) )
			return ( size / Math.pow(1024, i) ).toFixed(fixed) * 1 + ' ' + ' KMGTPEZY'[i] + 'B'
		}
	},

	i18n: {}
}
</script>

<style lang="scss">
.install {
	margin-bottom: -24px;

	.description:not(:empty) {
		margin-top: -$space-base/2;
		padding-bottom: $space-base / 2;
		color: $grey_8;
	}
}
</style>
