<template>
	<q-list>
		<q-item v-for="pkg in packages" :key="pkg.name" tag="label" class="q-px-lg cursor-inherit" @click.prevent>
			<q-item-section>
				<q-item-label class="text-h5">
					{{pkg.name}}
					<q-icon v-if="accentInstalled && pkg.installed" name="check_circle_outline" color="positive" class="q-ml-xs q-mb-xs" :title="$t('installed')"/>
				</q-item-label>
				<q-item-label caption class="text-grey-8">{{pkg.description}} <q-badge v-if="pkg.flatpak" color="grey-9" text-color="grey-6" style="font-size:smaller" class="q-mr-xs"><t>Flatpak</t></q-badge><q-badge v-if="showVersion" color="grey-9" text-color="grey-6" style="font-size:smaller">{{pkg.version}}</q-badge></q-item-label>
			</q-item-section>
			<q-item-section side >
				<q-btn v-if="!pkg.installed" :loading="pkg.working" :percentage="percentage" color="grey-9" size="sm" :label="$t('install')" @click="$emit('install', pkg)"/>
				<q-btn v-if="pkg.installed" :loading="pkg.working" :percentage="percentage" color="grey-9" size="sm" :label="$t('remove')" @click="$emit('remove', pkg)"/>
			</q-item-section>
		</q-item>
	</q-list>
</template>

<script>
export default {
	name: 'PackageList',

	props: {
		packages: {
			type: Array,
			required: true
		},
		showVersion: Boolean,
		percentage: Number,
		accentInstalled: Boolean
	},

	i18n: {}
}
</script>
