<template>
	<div class="option">
		<q-slide-transition>
			<div v-show="showOption">
				<h5 v-if="label"><t>{{label}}</t></h5>
				<div class="form top">
					<div class="q-py-sm">
						<slot name="top"></slot>
					</div>
				</div>
				<q-slide-transition>
					<div v-show="showDescription"><div class="option-description"><t ite>{{label}} description</t>{{description}}</div></div>
				</q-slide-transition>
				<div class="form">
					<slot></slot>
				</div>
				<div class="form bottom">
					<div class="q-py-sm">
						<slot name="bottom"></slot>
					</div>
				</div>
			</div>
		</q-slide-transition>
	</div>
</template>

<script>
export default {
	name: 'SettingsOption',

	props: {
		label: String,
		description: String,
	},

	data() {
		return {
			show: true,
			showOption: true,
			showTimeout: null,
			showDescription: true
		}
	},

	created() {
		this.$root.$on('settings.filter', filter => {
			this.show = !filter || this.$t(this.label).toLowerCase().includes(filter.toLowerCase())
			let parent = this.$parent
			while (parent && !parent.group) parent = parent.$parent
			if (parent) {
				setTimeout(() => {
					if (this.show) {
						parent.show = true
					} else {
						this.show = parent.filter
					}
				})
			}
			clearTimeout(this.showTimeout)
			this.showTimeout = setTimeout(() => {this.showOption = this.show}, 100)
		})
		this.$root.$on('settings.showDescription', showDescription => {
			this.showDescription = showDescription
		})
	},
}
</script>

<style lang="scss">
.option {
	.form {
		padding-bottom: $space-base * 2;
	}
	.form.top {
		padding-bottom: 2px;
		>div:not([value]) {
			padding: 0;
			margin-top: -$space-base * 1.5;
			height: $space-base * 1.5;
			text-align: right;
		}
	}
	.form.bottom {
		padding-bottom: 0;
		>div {
			margin-top: -$space-base * 2;
			margin-bottom: -$space-base;
			text-align: right;
			&:empty {
				margin-bottom: $space-base / 2;
			}
		}
	}
	h5 {
		margin: 0;
		padding: 0;
		min-height: 1em;
		> div {
			max-width: max-content;
		}
	}
	.option-description:not(:empty) {
		padding-top: $space-base / 2;
		padding-left: $space-base / 1.5;
		color: $grey_8;
	}
}

.option .form {
	max-width: ($breakpoint-xs + $space-base);
}
blockquote .option .form {
	max-width: ($breakpoint-xs + $space-base - $space-base * 1.5);
}
blockquote blockquote .option .form {
	max-width: ($breakpoint-xs + $space-base - $space-base * 3);
}
blockquote blockquote blockquote .option .form {
	max-width: ($breakpoint-xs + $space-base - $space-base * 4.5);
}
</style>
