<template>
	<q-slide-transition>
		<div v-if="enableGroup" ref="group" v-show="showGroup" class="group">
			<portal to="settings">
				<q-item :style="{'padding-left': (32 + indent * 16) + 'px'}" clickable @click="scrollTo" v-text="$t(label)"></q-item>
			</portal>
			<q-expansion-item expand-icon-toggle dense header-class="text-h3" v-model="expand" :label="$t(label)">
				<blockquote>
					<q-slide-transition>
						<div v-show="showDescription"><div class="group-description"><t ite>{{label}} description</t></div></div>
					</q-slide-transition>
					<slot></slot>
				</blockquote>
			</q-expansion-item>
		</div>
	</q-slide-transition>
</template>

<script>
import { Portal } from "portal-vue";

export default {
	name: 'SettingsOption',

	components: {
		Portal
	},

	props: {
		label: {
			type: String,
			required: true
		},
		name: String,
		enable: Array
	},

	data() {
		return {
			expand: true,
			filter: true,
			show: true,
			showGroup: !!this.name,
			showTimeout: null,
			showDescription: true,
			indent: 0
		}
	},

	watch: {
		enable() {
			this.show &&= this.enableGroup
			this.updateShow()
		}
	},

	computed: {
		enableGroup() {
			return !this.name || !this.enable || this.enable.includes(this.name)
		}
	},

  created() {
		setTimeout(() => {
			this.indent = this.parents(this.$refs.group, '.group').length
		})

		this.$root.$on('settings.filter', search => {
			this.filter = !search || this.$t(this.label).toLowerCase().includes(search.toLowerCase())
			this.show = this.filter
			this.updateShow()
			setTimeout(() => {
				if (search && this.show) {
					this.expand = true
				}
			}, 500)
		})
		this.$root.$on('settings.showDescription', showDescription => {
			this.showDescription = showDescription
		})
	},

	methods: {
		updateShow() {
			let parent = this.$parent
			while (parent && !parent.group) parent = parent.$parent
			if (parent) {
				setTimeout(() => {
					if (this.show) {
						parent.show = true
					} else {
						this.show = parent.filter
					}
				})
			}
			clearTimeout(this.showTimeout)
			this.showTimeout = setTimeout(() => {this.showGroup = this.show}, 500)
		},
		scrollTo() {
			this.$refs.group.scrollIntoView({behavior: 'smooth'})
		},
		parents(target, selector) {
			return [...document.querySelectorAll(selector)].filter(el =>
				el !== target && el.contains(target)
			)
		}
	}
}
</script>

<style lang="scss">
.group {
	> .q-expansion-item {
		padding-bottom: $space-base;
		.text-h3 {
			padding: 0;
			padding-bottom: $space-base;
	    padding-top: $space-base*1.5 !important;
			margin-top: -$space-base*1.5 !important;
			min-height: 1em;
			> div {
				max-width: max-content;
			}
			.q-item__section--side {
				opacity: 0;
				transition: opacity 300ms ease-out;
			}
			&:hover .q-item__section--side {
				opacity: 1;
			}
			.q-item__section--side:focus {
				opacity: 1;
				i {
					border-radius: 1px;
					background-color: $grey-9;
					outline: 4px solid $grey-9;
				}
			}
		}
		.group-description:not(:empty) {
			padding-bottom: $space-base;
			color: $grey_8;
		}
	}
	.group > .q-expansion-item {
		padding-top: 0;
	}
}
</style>
