<template>
	<div class="settings q-mt-lg">
		<System :enable="enable"/>
		<Packages :enable="enable"/>
		<Snapshots :enable="enable"/>
		<Backup :enable="enable"/>
		<Disks :enable="enable"/>
		<Network :enable="enable"/>
		<Remote :enable="enable"/>
		<Display :enable="enable"/>
		<Audio :enable="enable"/>
		<Apps :enable="enable"/>
		<Webif :enable="enable"/>
		<Squeeze :enable="enable"/>
		<VDR :enable="enable"/>
		<Services :enable="enable"/>
	</div>
</template>

<script>
import System from 'components/Settings/System'
import Packages from 'components/Settings/Packages'
import Snapshots from 'components/Settings/Snapshots'
import Backup from 'components/Settings/Backup'
import Disks from 'components/Settings/Disks'
import Network from 'components/Settings/Network'
import Remote from 'components/Settings/Remote'
import Display from 'components/Settings/Display'
import Audio from 'components/Settings/Audio'
import Apps from 'components/Settings/Apps'
import Webif from 'components/Settings/Webif'
import Squeeze from 'components/Settings/Squeeze'
import VDR from 'components/Settings/VDR'
import Services from 'components/Settings/Services'

export default {
	name: 'Settings',

	components: {
		System,
		Packages,
		Snapshots,
		Backup,
		Disks,
		Network,
		Remote,
		Display,
		Audio,
		Apps,
		Webif,
		Squeeze,
		VDR,
		Services,
	},

	props: {
		enable: Array,
	},
}
</script>

<style lang="scss">
.settings {
	.q-input, .q-select, .q-slider {
		&.w100 {
			width: 100%;
		}
		&.w67 {
			width: calc(66.3% - 10px);
			margin-left: 30px;
			&:first-child {
				margin-left: 0;
			}
		}
		&.w50 {
			width: calc(50% - 15px);
			margin-left: 30px;
			&:first-child {
				margin-left: 0;
			}
		}
		&.w33 {
			width: calc(33.3% - 20px);
			margin-left: 30px;
			&:first-child {
				margin-left: 0;
			}
		}
		&.w25 {
			width: calc(25% - 23px);
			margin-left: 30px;
			&:first-child {
				margin-left: 0;
			}
		}
	}

	.q-mb--sm {
		margin-bottom: -$space-base / 2;
	}
}

.settings, .q-dialog__inner {
	.q-field__control {
		padding-left: 12px !important;
	}
	.q-checkbox__bg {
		background: transparent;
	}
	.q-select {
		.q-item {
			min-height: 24px;
			padding: 4px 0;
		}
	}
	.q-tree {
		padding-top: 2px;
	}
	.q-slider {
		padding-left: 12px;
	}
}

.q-menu .q-item {
	min-height: 32px;
	&.q-item--active {
		background-color: $grey-9;
	}
}
</style>
