// app global css in SCSS form

html, body, #q-app, .q-layout {
	height: 100%;
}
.q-layout {
	min-height: 100% !important;
}

body.body--dark {
	background:#000000;
}

.body--dark .q-item.q-router-link--active, .body--dark .q-item--active {
	background-color: $grey-10;
	color: $grey-1;
}
body.body--dark .q-hoverable:hover > .q-focus-helper {
	background: $grey-7;
}

body, .q-scrollarea {
	overflow: hidden;
}

blockquote {
	margin: 0 0 0 ($space-base * 1.5);
}

a {
	color: $grey-7;
}

@media (max-width: $breakpoint-xs-max) {
	@each $name, $size in $small {
		.q-pl-#{$name}, .q-px-#{$name}, .q-pa-#{$name} {
			padding-left: $size;
		}
		.q-pr-#{$name}, .q-px-#{$name}, .q-pa-#{$name} {
			padding-right: $size;
		}
		.q-ml-#{$name}, .q-mx-#{$name}, .q-ma-#{$name} {
			margin-left: $size;
		}
		.q-mr-#{$name}, .q-mx-#{$name}, .q-ma-#{$name} {
			margin-right: $size;
		}
	}
	blockquote {
		margin-left: ($small-base * 1.5);
	}
}

.q-dark {
	color: $grey-3;
}

.bg-grey-0 {
	background: rgba(255, 255, 255, 0.07)
}

.q-stepper {
	background-color: transparent;
}

.q-toggle__thumb::after {
	background: $grey-9;
}

.q-inner-loading--dark {
	background: #12121280;
}
.q-inner-loading .q-spinner {
	opacity: 0;
	animation: fadeIn 0.3s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
.text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 {
	margin: 0;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0;
}
p.text-h1, p.text-h2, p.text-h3, p.text-h4, p.text-h5, p.text-h6 {
	margin-bottom: $space-y-base;
}

.border-bottom {
	border-bottom: 1px solid $grey-7;
}

.q-dialog__inner > div, .q-menu {
	border: 1px solid $grey-8;
}
.q-notification {
	border: 1px solid $negative;
}
.q-slider__pin-text {
	color: $grey-9
}

input {
  color-scheme: dark;
}
.q-input, .q-select {
	&.q-field--focused > div {
		border-radius: 4px;
		background-color: $grey-9;
		animation: fadeIn 0.5s;
		input {
			background: none;
		}
	}
}
.q-menu .q-select {
	.q-field__control, .q-field__native {
		min-height: auto;
		padding: 2px 4px 1px;
	}
	.q-field__marginal {
		height: auto;
	}
}

.q-textarea.q-field--dense.q-field--labeled .q-field__native {
	border: 1px dashed $grey-9;
	padding-top: 4px;
	margin-left: -8px;
	padding-left: 8px;
}

textarea, .scrollarea .scroll, .q-menu.scroll, .q-splitter__panel {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
textarea:hover, .scrollarea:hover .scroll:hover, .q-menu.scroll:hover, .q-splitter__panel:hover {
	scrollbar-color: $grey-9 rgba(0, 0, 0, 0);
}
::-webkit-scrollbar {
	width: $space-base / 2;
	height: $space-base / 2;
}
::-webkit-scrollbar-thumb {
	background: $grey-9;
}
::-webkit-scrollbar-corner, ::-webkit-resizer {
	background: $grey-10;
}

.q-toolbar {
	.q-input, .q-select {
		.q-field__control {
			height: 36px;
			min-height: 36px;
		}
	}
}

q-tabs--horizontal .q-tabs__arrow--left {
	background: linear-gradient(90deg, $grey-10 50%, rgba(0,0,0,0));
  padding-right: 20px;
}
.q-tabs--horizontal .q-tabs__arrow--right {
	background: linear-gradient(270deg, $grey-10 50%, rgba(0,0,0,0));
  padding-left: 20px;
}

.q-drawer-container .q-drawer__opener {
	top: 48px;
}

.q-tooltip--style {
	font-size: 12px;
}

.light-mode { 
	filter: invert(100%) hue-rotate(180deg);
}
