// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #eeeeee;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #e53935;
$info      : #31CCEC;
$warning   : #F2C037;

$h1:        (size: 2.2rem, line-height: 2.5rem, letter-spacing: -.01562em, weight: 400);
$h2:        (size: 1.7rem, line-height: 2.0rem, letter-spacing: -.00833em, weight: 400);
$h3:        (size: 1.3rem, line-height: 1.6rem, letter-spacing: normal,    weight: 500);
$h4:        (size: 1.1rem, line-height: 1.3rem, letter-spacing: .00735em,  weight: 700);
$h5:        (size: 1.0rem, line-height: 1.2rem, letter-spacing: .00735em,  weight: 700);
$h6:        (size: 0.9rem, line-height: 1.0rem, letter-spacing: .00735em,  weight: 700);

$small-base : 7px;
$small: ('none': 0, 'xs': $small-base * .25, 'sm': $small-base * .5, 'md': $small-base, 'lg': $small-base * 1.5, 'xl': $small-base * 3);

