<template>
	<div id="q-app">
		<q-linear-progress v-if="loading" indeterminate size="xs" color="grey-6"/>

		<router-view v-if="!loading"/>
	</div>
</template>

<script>
export default {
	name: 'App',

	data() {
		return {
			loading: true,
		}
	},

	watch: {
		async '$settings.webif.height'() {
			if (window.location.hostname == "localhost") {
				this.zoom()
			}
		}
	},

	async created() {
		if (window.location.hostname == "localhost") {
			document.body.classList.add('zoom')
			window.addEventListener('resize', this.zoom)
		} else {
			this.$root.$on('dark-mode', darkMode => {
				this.$q.cookies.set('dark-mode', darkMode)
				this.updateDarkMode()
			})
			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', this.updateDarkMode)
			this.updateDarkMode()
		}

		this.$root.$i18n.locale = (await (await this.$settings).system.locale) || this.$q.lang.getLocale()
		this.loading = false
	},

	methods: {
		async zoom() {
			document.body.style.zoom = window.innerHeight / ((await (await this.$settings).webif?.height) || window.innerHeight)
		},

		updateDarkMode() {
			let darkMode = this.$q.cookies.get('dark-mode')
			let systemDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches
			document.documentElement.classList.toggle('light-mode', !systemDarkMode && darkMode !== true || darkMode === false)
		}
	}
}
</script>
