<!DOCTYPE html>
<html>
	<head>
		<title><%= htmlWebpackPlugin.options.productName %></title>

		<meta charset="utf-8">
		<meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
		<meta name="format-detection" content="telephone=no">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="viewport" content="user-scalable=yes, initial-scale=1, maximum-scale=2, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
		<link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
		<style>
			body {
				background: #000000;
			}
		</style>
	</head>
	<body>
		<!-- DO NOT touch the following DIV -->
		<div id="q-app"></div>
	</body>
</html>
