<template>
	<q-layout view="hHh lpr lff">
		<q-header elevated>
			<q-toolbar class="q-pl-xs bg-grey-10" style="padding-top: 2px;">
				<q-btn flat dense padding="6px" icon="menu" @click="leftNaviOpen = !leftNaviOpen"/>

				<q-toolbar-title class="q-pl-none">
					<q-btn to="/" flat>
						{{hostname}}
					</q-btn>
				</q-toolbar-title>

				<PortalTarget name="header" multiple style="display: contents"/>

				<q-btn v-show="hasOptions || !local || Object.keys(menu.actions).length" flat dense icon="more_vert" class="q-ml-sm q-mr-none">
					<q-badge v-if="Object.keys(menu.actions).length" :label="Object.keys(menu.actions).length" color="green" rounded floating style="padding: 1px 3px;" />
					<portal v-show="false" to="options-target" :disabled="!showOptions">
						<PortalTarget name="options" @change="hasOptions=$event" multiple/>
					</portal>
					<q-menu :offset="[0,5]" content-class="bg-grey-9" v-model="showOptions">
						<q-list dense style="white-space: nowrap">
							<q-item v-if="!local">
								<q-toggle v-model="darkMode" toggle-indeterminate :label="$t('Dark mode')" color="primary" dense>
									<q-tooltip>{{$t(darkMode === true ? 'Use dark mode' : (darkMode === false ? 'Use light mode' : 'Use system setting'))}}</q-tooltip>
								</q-toggle>
							</q-item>
							<PortalTarget name="options-target" multiple/>
							<q-item v-for="action, key in menu.actions" :key="key" clickable @click="action.handler(); $delete(menu.actions, key)" style="line-height:28px; white-space:nowrap;">
								<div>
									<q-badge color="green" rounded class="q-mr-xs"/>
									{{action.label}}
								</div>
							</q-item>
						</q-list>
						<q-tooltip v-if="Object.keys(menu.actions).length" content-class="bg-green" v-model="menu.showHint" anchor="bottom left" self="bottom right" :offset="[-10,-2]" :delay="10000" transition-show="jump-right" transition-hide="jump-left">
							<t>Action required</t> <q-icon name="chevron_right" size="sm" style="margin: -8px -12px -8px 4px" />
						</q-tooltip>
					</q-menu>
				</q-btn>

				<q-btn v-if="local && !powerbutton" flat dense padding="6px" icon="logout" :title="$t('Exit')" class="q-ml-sm" @click="exit"/>
				<q-btn v-if="powerbutton" flat dense padding="6px" icon="power_settings_new" :title="$t('Shutdown')" class="q-ml-sm" @click="showPoweroff = true"/>
				<div v-if="!local" class="q-ml-md q-mr-xs q-pt-sm desktop-only">
					<a href="https://minidvblinux.de" tabindex="-1">
						<img alt="MLD HD" src="/statics/logo.png" style="height:28px;">
					</a>
				</div>
			</q-toolbar>
		</q-header>

		<q-drawer v-model="leftNaviOpen" :show-if-above="leftNaviHide" bordered content-class="bg-grey-9">
			<q-scroll-area>
				<q-list v-if="auth.required">
					<q-item v-if="auth.success" clickable @click="logout">
						<q-item-section avatar>
							<q-icon name="lock_open" />
						</q-item-section>
						<q-item-section>
							<t>Logout</t>
						</q-item-section>
					</q-item>
					<q-item v-if="!auth.success" clickable @click="auth.show = !auth.show">
						<q-item-section avatar>
							<q-icon name="lock" />
						</q-item-section>
						<q-item-section>
							<t>Login</t>
						</q-item-section>
					</q-item>
					<q-item v-if="auth.show" class="row q-mb-sm">
						<q-input dark filled dense autofocus :label="$t('Password')" type="password" v-model="auth.password" @keypress.enter="login" @keyup.esc="auth.show = false" class="q-pl-xs" style="width: 100%" />
						<q-btn v-if="!auth.loading" unelevated dense icon="check" @click="login" color="grey-0" class="q-ml-sm"/>
						<q-spinner-pie v-if="auth.loading" size="sm" class="q-ma-sm" />
					</q-item>
					<q-item v-if="auth.message" style="margin-top: -16px">
						<q-item-section class='text-negative'>
							<t>{{auth.message}}</t>
						</q-item-section>
						<q-item-section side>
							<q-btn flat dense icon="close" @click="auth.message = ''"/>
						</q-item-section>
					</q-item>
				</q-list>
				<q-list v-for="(links, name) in navigation" :key="name">
					<q-item-label header class="text-grey-5">
						<t>{{name}}</t>
					</q-item-label>
					<template v-for="link in links">
						<q-item v-if="auth.success || !link.needAuth" :key="link.title" clickable tag="a" :to="link.page" :href="link.href && link.href.startsWith(':') ? origin + link.href : link.href" :target="link.href && link.href.startsWith(':') ? '_blank' : ''">
							<q-item-section v-if="link.icon" avatar>
								<q-icon :name="link.icon" />
							</q-item-section>
							<q-item-section>
								<q-item-label>
									<t>{{link.title}}</t>
									<q-badge v-if="link.title == 'Packages' && upgradesAvailable" color="red" rounded :label="upgradesAvailable" align="top" style="padding: 2px 4px 1px 3px; margin: -4px 4px"/>
								</q-item-label>
							</q-item-section>
						</q-item>
					</template>
				</q-list>
			</q-scroll-area>
		</q-drawer>

		<q-page-container>
			<q-scroll-area :style="`height: calc(${logsOpen ? 80 : 100}% - ${logsOpen ? 28 : (logsOpen!==null ? 25 : 0)}px);`">
				<router-view/>
			</q-scroll-area>

			<q-bar v-if="logsOpen!==null" dense class="bg-grey-10 q-pl-lg shadow-5 z-top" @click="logsOpen = !logsOpen">
				<q-icon name="feedback" />
				<div><t>Messages</t></div>
				<q-space />
				<q-btn :icon="logsOpen ? 'expand_more' : 'expand_less'" flat dense size="sm" class="q-px-sm" />
			</q-bar>

			<q-scroll-area ref="messages" :style="`height: ${logsOpen ? 20 : 0}%;`" class="q-px-lg bg-black">
				<pre v-for="(message, key) in messages" :key="key" class="q-py-md q-my-none border-bottom" v-html="message.join('')"></pre>
			</q-scroll-area>

			<q-inner-loading :showing="loading" :style="`height: calc(${logsOpen ? 80 : 100}% - ${logsOpen!==null ? 24 : 0}px);`">
				<q-spinner-pie size="xl" />
			</q-inner-loading>
		</q-page-container>

		<q-dialog v-model="showPoweroff" @hide="showPoweroffProgress = false" @keypress.backspace="showPoweroff=false">
			<q-card>
				<q-card-actions>
					<q-btn :disable="showPoweroffProgress" color="grey-9" icon="replay" :label="$t('Reboot')" @click="reboot" class="q-ma-md"/>
					<q-btn :disable="showPoweroffProgress" autofocus color="grey-9" icon="power_settings_new" :label="$t('Shutdown')" @click="shutdown" class="q-ma-md"/>
					<q-btn color="grey-9" icon="logout" :label="$t('Exit')" @click="exit" class="q-ma-md"/>
				</q-card-actions>
				<q-card-section v-if="showPoweroffProgress" style="padding: 1px 2px">
					<q-linear-progress indeterminate size="xs" color="grey-6"/>
				</q-card-section>
			</q-card>
		</q-dialog>
	</q-layout>
</template>

<script>
import { Portal } from "portal-vue";
import { PortalTarget } from "portal-vue";

export default {
	name: 'Layout',

	components: {
		Portal,
		PortalTarget,
	},

	watch: {
		'darkMode'() {
			this.$root.$emit('dark-mode', this.darkMode)
		},
		'auth.show'() {
			if (!this.auth.show) {
				this.auth.loading = false
				this.auth.password = ''
				this.auth.message = ''
			}
		},
		'auth.success'() {
			this.$root.$emit('auth.success', this.auth.success)
			window.authSuccess = this.auth.success
		},
	},

	data() {
		return {
			local: false,
			darkMode: this.$q.cookies.get('dark-mode'),
			hasOptions: false,
			showOptions: false,
			powerbutton: false,
			showPoweroffProgress: false,
			showPoweroff: false,
			leftNaviHide: !window.location.search.match('hideNavi'),
			leftNaviOpen: false,
			logsOpen: null,
			messages: {},
			loading: false,
			navigation: {},
			upgradesAvailable: 0,
			upgradesTimer: null,
			origin: `${window.location.protocol}//${window.location.hostname}`,
			hostname: '',
			version: '',
			auth: {
				required: false,
				show: false,
				loading: false,
				success: false,
				message: '',
				password: ''
			},
			menu: {
				actions: {}, //{VDR: {label: 'Restart VDR', handler: () => {this.$Settings.vdr.restart()}}},
				showHint: false,
				enable: true
			}
		}
	},

	async created() {
		this.$root.$on('menu.add', this.addToMenu)
		this.$root.$on('menu.add.enable', () => {this.menu.enable = true})
		this.$root.$on('menu.add.disable', () => {this.menu.enable = false})
		this.$root.$on('message', this.addMessage)
		this.$root.$on('loading', (loading) => {this.loading = loading})
		this.$root.$on('auth.show', () => {this.leftNaviOpen = this.auth.show = true})
		this.$root.$on('navi.show', () => {this.leftNaviOpen = true})
		this.$root.$on('poweroff.show', () => {this.showPoweroff = true})

		this.local = window.location.hostname == "localhost"
		this.auth.required = await this.$settings.auth.required
		this.auth.success = await this.$settings.auth.success
		this.hostname = await this.$settings.system.hostname || 'MLD'
		this.powerbutton = this.$settings.apps.active == await this.$settings.apps.autostart && this.local
		this.navigation = await this.$settings.layout.navigation
		this.version = await this.$settings.layout.version

		this.$socket.on('start', async () => {
			this.menu.actions = {}
			let version = await this.noCache().$settings.layout.version
			if (this.version != version) {
				window.location.reload()
			} else {
				this.showPoweroffProgress = false
			}
		})
		this.$socket.on('log', this.addMessage)
		this.$socket.on('system.hostname', (hostname) => {this.hostname = hostname})
		this.$socket.on('packages.installed', async () => {
			this.navigation = this.$settings.layout.navigation
			this.upgradeCheck()
		})
		this.$socket.on('auth.check', (success) => {
			if (!success) {
				this.$q.notify({
					position: 'top',
					icon: 'announcement',
					message: this.$t('Login required'),
					actions: [{ label: this.$t('Login'), handler: () => {this.leftNaviOpen = this.auth.show = true}}]
				})
			}
		})

	  if (this.local) {
			document.addEventListener('keydown', event => {
				switch(event.key) {
					case 'Home':
						this.leftNaviOpen = !this.leftNaviOpen
						event.preventDefault()
						break
					case 'F12':
						this.showPoweroff = true
						event.preventDefault()
						break
				}
			}, false)
			document.addEventListener('keyup', event => {
				switch(event.key) {
					case 'Enter':
						// fix enter key handler for hid devices
						if (document.activeElement?.classList.contains('q-btn')) {
							document.activeElement.click();
						}
						break
				}
			}, false)
		}

		this.upgradeCheck()
		this.$socket.on('packages.installed', async () => {
			clearTimeout(this.upgradesTimer)
			this.upgradesTimer = setTimeout(async () => {
				this.upgradesAvailable = (await this.$settings.packages.upgrades).length
			}, 5000)
		})
	},

	methods: {
		async upgradeCheck() {
			let systemTime = await this.noCache().$settings.system.time
			if (systemTime.ntpsynced || !systemTime.ntp) {
				this.upgradesAvailable = (await this.$settings.packages.upgrades).length
			} else {
				setTimeout(this.upgradeCheck, 1000)
			}
		},
		addToMenu(action) {
			if (this.menu.enable) {
				if (!Object.keys(this.menu.actions).length) {
					this.showOptions = true
					setTimeout(() => {this.menu.showHint = true}, 1000)
					setTimeout(() => {this.menu.showHint = false}, 4000)
				}
				this.menu.actions[action.label] = action
				this.$forceUpdate()
			}
		},
		addMessage(id, message, isError) {
			this.messages[id] = this.messages[id] || []
			this.messages[id].push(isError ? `<span class="text-red-4">${message}</span>` : message)
			this.logsOpen |= isError
			let element = this.$refs.messages.getScrollTarget()
			if (isError) {
				this.$refs.messages.setScrollPosition(element.firstChild.offsetHeight - 16)
			} else if (element.scrollTop > (element.scrollHeight - element.clientHeight - 50)) {
				this.$refs.messages.setScrollPosition(element.firstChild.offsetHeight + 1000, 100)
			}
			this.$forceUpdate()
		},
		async login() {
			this.auth.loading = true
			this.auth.success = await this.$settings.auth.login(this.auth.password)
			this.auth.loading = false
			if (this.auth.success) {
				this.auth.show = false
			} else {
				this.auth.message = 'Wrong password'
			}
		},
		async logout() {
			this.auth.loading = true
			await this.$settings.auth.logout()
			this.auth.loading = false
			this.auth.success = false
		},
		exit() {
			this.$settings.apps.start()
		},
		reboot() {
			this.showPoweroffProgress = true
			this.$settings.system.reboot()
		},
		shutdown() {
			this.showPoweroffProgress = true
			this.$settings.system.shutdown()
		}
	},

	i18n: {}
}
</script>

<style lang="scss">
.q-page-container {
	height: 100%;
	> * {
		transition: height 0.3s ease-in-out;
	}
	> .q-scrollarea:first-child > .scroll > div {
		min-height: 100%;
	}
	> .q-inner-loading {
		position: relative;
		top: -100%;
		height: 100%;
	}
}
.q-scrollarea {
	height: 100%;
	width: 100%;
}
.vue-portal-target > .q-item {
	min-height: 32px;
	padding: 2px 16px;
}
</style>
