<template>
	<Group label="Apps" name="appstarter" :enable="enable">
		<Option label="Autostart">
			<q-select dark dense v-model="$settings.apps.autostart" :options="apps" @filter="getApps">
				<template v-slot:selected-item="scope">
					<q-item v-if="!scope.opt" class="text-grey"><t>auto</t></q-item>
					<q-item v-if="scope.opt">{{scope.opt}}</q-item>
				</template>
				<template v-slot:no-option>
					<q-item class="text-grey"><t>No apps installed</t></q-item>
				</template>
			</q-select>
		</Option>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.Apps',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			apps: [],
		}
	},

	methods: {
		async getApps(val, done, abort) {
			this.apps = (await this.$settings.apps.all()).filter(app => !app.hide).map(app => app.title) || []
			done()
		},
	},

	i18n: {}
}
</script>
