<template>
	<Group label="Audio" name="alsa-init" :enable="enable">
		<Option label="Devices">
			<div v-for="(device, key) in $settings.audio.active" :key="key" class="row">
				<q-select dark dense v-model="device.name" :options="key>0 || !devices.length ? devices : ['all', ...devices]" class="w50 q-field--float" :label="$t('Device')" :label-color="device.name || $settings.audio.active.length == 1 && !$settings.audio.active.arrangement ? '' : 'negative'" @filter="getDevices">
					<template v-slot:selected-item="scope">
						<q-item v-if="$settings.audio.active.length == 1 && !scope.opt" class="text-grey"><t>auto</t></q-item>
						<q-item v-if="key || scope.opt">{{scope.opt}}</q-item>
					</template>
					<template v-slot:no-option>
						<q-item class="text-grey"><t>No devices found</t></q-item>
					</template>
				</q-select>
				<q-select dark dense v-model="device.arrangement" :options="$settings.audio.arrangements" emit-value map-options class="w50 q-field--float" :label="$t('Arrangement')" :label-color="key == 0 || device.arrangement ? '' : 'negative'">
					<template v-slot:selected-item="scope">
						<q-item v-if="!scope.opt" class="text-grey"><t>auto</t></q-item>
						<q-item v-else>{{scope.opt.label}}</q-item>
					</template>
				</q-select>
				<q-btn round icon="close" class="close" size="xs" color="grey-9" @click="removeDevice(key)"/>
			</div>
			<div class="float-right q-my-sm">
				<q-btn color="grey-9" size="sm" :label="$t('Add')" @click="addDevice"/>
			</div>
		</Option>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.Audio',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			devices: [],
			arrangements: [],
		}
	},

	async created() {
		await this.$settings.audio.arrangements // preload to cache
		if (!await this.$settings.audio.active || !(await this.$settings.audio.active)?.[0]) {
			this.$settings.audio.active = [{name: '', arrangement: ''}]
		}
	},

	methods: {
		async getDevices(val, done, abort) {
			this.devices = await this.$settings.audio.devices
			done()
		},
		async addDevice() {
			(await this.$settings.audio.active).push({name: '', arrangement: ''})
		},
		async removeDevice(key) {
			this.$settings.audio.active.splice(key, 1)
			if ((await this.$settings.audio.active).length == 0) {
				this.addDevice()
			}
		},
	},

	i18n: {}
}
</script>

<style lang="scss" scoped>
.q-select.w50 {
	width: calc(50% - 38px) !important;
}
.close {
	margin: 12px 0 auto auto;
}
</style>