<template>
	<Group label="Backup" name="install" :enable="enable" class="backup">
		<Option label="Create backup">
			<template v-slot:top>
				<q-btn color="grey-9" size="sm" :label="$t('Create')" @click="showInstall()"/>
			</template>
		</Option>
		<Option label="Download configuration">
			<template v-slot:top>
				<q-btn :loading="download.working" color="grey-9" size="sm" :label="$t('Download')" @click="downloadConfig()"/>
			</template>
		</Option>
		<Option label="Upload configuration">
			<template v-slot:top>
				<q-btn color="grey-9" size="sm" :label="$t('Upload')" @click="upload.show = true"/>
			</template>
		</Option>

		<q-dialog v-model="install.show" content-class="device">
			<q-card>
				<q-card-section class="q-pb-sm q-mx-xs">
					<div class="text-h5"><t>Create backup</t></div>
				</q-card-section>

				<q-card-section class="q-pb-none q-mx-xs">
					<div class="text-h5"><t>Destination</t></div>
				</q-card-section>
				<q-card-section class="q-py-none q-mx-xs row">
					<div class="col">
						<q-select ref="system_device" v-model="install.device" :options="options.devices" @popup-show="updateDeviceOptions" :loading="options.loading"  :label="$t('Device')" dark dense>
							<template v-if="options.devices!==null" v-slot:no-option>
								<div class="text-grey-6 q-py-sm q-px-md"><t>No devices found</t></div>
							</template>
						</q-select>
						<q-checkbox v-if="install.copyDataPossible" v-model="install.copyData" :label="$t('Copy data')"/>
					</div>
				</q-card-section>
				<q-card-section v-if="install.started" class="q-pb-none q-mx-xs">
					<q-linear-progress v-if="!install.finished" stripe size="10px" :value="install.progress" class="q-mt-md" />
					<p v-if="!install.finished" class="q-mt-md">{{install.action}}&nbsp;</p>
					<p v-if="install.finished" class="q-mt-md q-mb-none"><t>The installation is completed.</t></p>
					<p v-if="install.failed" class="q-mt-md q-mb-none text-negative"><t>The installation failed.</t></p>
				</q-card-section>

				<q-card-actions v-if="!install.started" align="right" class="q-ma-sm q-mx-md q-px-xs">
					<q-btn color="grey-9" :label="$t('Cancel')" v-close-popup />
					<q-btn color="grey-9" :disabled="!install.device" :label="$t('Create')" @click="doInstall()" />
				</q-card-actions>
				<q-card-actions v-if="install.finished || install.failed" align="right" class="q-ma-sm q-mx-md q-px-xs">
					<q-btn color="grey-9" :label="$t('Close')" v-close-popup />
				</q-card-actions>

			</q-card>
		</q-dialog>

		<q-dialog v-model="install.showConfirm">
			<q-card>
				<q-card-section class="row items-center">
					<q-avatar icon="launch"/>
					<div class="q-mx-sm">
						<div v-html="$t('Install on device {device}?', {device: install.device && install.device.value})"/>
						<div class="q-mt-sm text-negative"><t>All data will lost</t></div>
					</div>
				</q-card-section>

				<q-card-actions align="right">
					<q-btn :label="$t('Cancel')" color="grey-9" v-close-popup />
					<q-btn :label="$t('Install')" color="grey-9" v-close-popup @click="doInstall(true)" />
				</q-card-actions>
			</q-card>
		</q-dialog>

		<q-dialog v-model="upload.show">
			<q-card style="min-width: 350px">
				<q-card-section class="q-pb-sm q-mx-xs">
					<div class="text-h5"><t>Upload configuration file</t></div>
				</q-card-section>

				<q-card-section class="q-py-none q-mx-xs">
					<q-file dark dense v-model="upload.file" accept=".tgz" :label-color="upload.file ? '' : 'negative'" :label="$t('Configuration file')">
						<template v-slot:append>
							<q-icon name="folder_open"/>
						</template>
					</q-file>
				</q-card-section>

				<q-card-actions align="right" class="q-ma-sm q-mx-md q-px-xs">
					<q-btn :disable="upload.working" color="grey-9" :label="$t('Cancel')" v-close-popup />
					<q-btn :disable="upload.working || !upload.file" :loading="upload.working" color="grey-9" :label="$t('Upload')" @click="uploadConfig" />
				</q-card-actions>
			</q-card>
		</q-dialog>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.Backup',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			loading: false,
			install: {
				show: false,
				copyDataPossible: false,
				copyData: false,
				device: null,
				showConfirm: false,
				started: false,
				action: '',
				progress: 0,
				finished: false,
				failed: false
			},
			options: {
				loading: false,
				devices: [],
			},
			download: {
				working: false
			},
			upload: {
				file: null,
				show: false,
				working: false
			}
		}
	},

	async created() {
		this.$socket.on('progress', (progress, action) => {
			this.install.progress = progress
			this.install.action = action
		})
	},

	methods: {
		async updateDeviceOptions() {
			this.options.loading = true
			let mounted = await this.noCache().$settings.disks.mounted
			this.options.devices = (await this.noCache().$settings.disks.devices).map(dev => ({
				value: dev.device,
				label: `${dev.name} &nbsp; <small>${dev.size}</small>`
			})).filter(d => !mounted.find(device => device.source.replace(/p?\d$/, '') == d.value))
			this.$refs.system_device.refresh(0)
			this.options.loading = false
		},

		async showInstall() {
			this.install.device = null
			this.install.show = true
			this.install.started = false
			this.install.action = ''
			this.install.progress = 0
			this.install.finished = false
			this.install.failed = false
			let mounted = await this.$settings.disks.mounted
			this.install.copyDataPossible = mounted.find(dev => dev.mountpoint == '/')?.source == mounted.find(dev => dev.mountpoint == '/data')?.source
		},

		async doInstall(confirm = false) {
			if (confirm) {
				this.install.started = true
				if (await this.$settings.packages.installSystem({system: {device: this.install.device}, data: {copy: this.install.copyData}})) {
					this.install.finished = true
				} else {
					this.install.failed = true
				}
			} else {
				this.install.showConfirm = true
			}
		},

		async downloadConfig() {
			this.download.working = true
			let a = document.createElement('a');
			let blob = new Blob([await this.$settings.packages.downloadConfig()], {'type': 'application/octet-stream'})
			a.href = window.URL.createObjectURL(blob)
			a.download = this.$settings.system.hostname+'_config.tgz'
			a.click()
			this.download.working = false
		},

		async uploadConfig() {
			this.upload.working = true
			let reader = new FileReader()
			reader.onerror = (event) => {
				this.$q.notify({
					position: 'top',
					icon: 'announcement',
					message: this.$t('Upload and install failed'),
				})
				this.upload.working = false
			}
			reader.onload = async (event) => {
				if (!await this.$settings.packages.uploadConfig(event.target.result)) {
					reader.onerror()
				} else {
					this.upload.show = false
				}
				this.upload.working = false
			}
			reader.readAsBinaryString(this.upload.file)
		}
	},

	i18n: {}
}
</script>

<style lang="scss">
.disks {
	.w50 {
		width: calc(50% - 38px) !important;
		margin-left: 30px;
	}
	.w67 {
		width: calc(67% - 38px);
		margin-left: 30px;
	}
	.w33 {
		width: calc(33% - 38px);
		margin-left: 30px;
	}


	.edit {
		margin: 2px 0 auto auto;
	}
}

.device {
	.q-card {
		width: 80vw;
		max-width: 800px;
	}
}
</style>
