<template>
	<Group label="Disks" name="parted" :enable="enable" class="disks">
		<Option label="Data Devices">
			<template v-slot:top>
				<q-btn color="grey-9" size="sm" :label="$t('Add')" @click="editMount()"/>
			</template>
			<div v-if="allMounts.length" class="q-mt-sm">
				<div v-for="(mount, key) in allMounts" :key="key" class="row q-mt-sm">
					<div class="col q-pt-xs">
						<div class="row">
							<div class="q-ml-md">
								<div v-for="(source, key2) in mount.sources" :key="key2" v-html="source.label + source.path.replaceAll('/', ' / ')" />
							</div>
							<div class="q-ml-lg">
								<span class="q-mr-lg">=&gt;</span>
								{{mount.mountpoint.replaceAll('/', ' / ')}}
							</div>
						</div>
					</div>
					<q-btn color="grey-9" size="sm" :label="$t('Edit')" @click="editMount(mount)" class="edit"/>
				</div>
			</div>
			<div v-else class="q-mt-md q-ml-md text-grey-6"><t>No data devices mounted</t></div>
		</Option>

		<q-dialog v-model="show" content-class="device">
			<q-card>
				<q-card-section class="q-pb-sm q-mx-xs">
					<div v-if="update" class="text-h5"><t>Edit data device</t></div>
					<div v-else class="text-h5"><t>Add Data device</t></div>
				</q-card-section>

				<q-card-section class="q-pb-none q-mx-xs">
					<div class="text-h5"><t>From</t></div>
				</q-card-section>
				<div v-for="(source, key) in sources" :key="key">
					<q-card-section class="q-py-none q-mx-xs row">
						<q-select :value="source.device" @input="updateSourceDevice(source, $event)" :options="options.devices" @popup-show="updateDeviceOptions" :loading="options.loading" :label="$t('Device')" dark dense class="col q-pr-md">
							<template v-if="options.devices!==null" v-slot:no-option>
								<div class="text-grey-6 q-py-sm q-px-md"><t>No devices found</t></div>
							</template>
						</q-select>
						<q-select :disable="!source.device || !source.hasFs || source.delete" :value="source.path" :options="options.pathes" @popup-show="updatePathOptions(source.device, source.path?.value)" :loading="options.pathes.loading" :label="$t('Path')" dark dense class="col q-pl-md" style="height: fit-content;">
							<template v-slot:selected>
								{{source.path && source.path.value.replace(/\//g, ' / ')}}
							</template>
							<template v-slot:option="{itemProps, itemEvents, opt}">
								<q-item v-bind="itemProps" v-on="itemEvents">
									<q-item-section @click.stop="updatePathOptions(source.device, (source.path = opt.value ? opt : null)?.value, true)">
										<q-item-label :style="{'margin-left':(opt.indent*16)+'px', 'color':opt.value ? '' : 'grey'}">{{opt.label}}</q-item-label>
									</q-item-section>
								</q-item>
							</template>
							<template v-slot:no-option>
								<div class="text-grey-6 q-py-sm q-px-md"><t>No pathes found</t></div>
							</template>
						</q-select>
						<div class="q-pt-sm q-ml-lg">
							<q-btn :disable="!source.device || !source.hasFs || source.delete" icon="create_new_folder" color="grey-9" size="sm" class="q-pa-xs" dense :title="$t('Create dir')" @click="createFolder(source)"/>
						</div>
						<div class="q-pt-sm q-ml-md">
							<q-btn round icon="close" color="grey-9" size="xs" class="q-pa-xs" style="margin: 2px" dense :title="$t('Remove device')" @click="removeSource(key)"/>
						</div>
					</q-card-section>
					<q-card-section v-if="source.device && !source.hasFs && !source.delete" class="q-pt-sm q-pb-none q-mx-sm text-negative">
						<t>Device must be deleted</t>
					</q-card-section>
					<q-card-section class="q-py-none q-mx-xs row">
						<div class="col">
							<q-checkbox :disable="!source.device || source.device.device.includes(':/') || source.path && source.path.value!='' || source.device.options?.includes('subvol')" v-model="source.delete" :label="$t('Delete device')"/>
						</div>
						<div v-if="mergerfs && key==sources.length-1" class="q-pt-sm q-ml-lg">
							<q-btn :disable="!source.device || !source.hasFs && !source.delete" icon="add" color="grey-9" size="sm" class="q-pa-xs" dense :title="$t('Merge device')" @click="addSource"/>
						</div>
					</q-card-section>
				</div>

				<q-card-section class="q-pb-none q-mx-xs">
					<div class="text-h5"><t>To</t></div>
				</q-card-section>
				<q-card-section class="q-py-none q-mx-xs row">
					<q-select v-model="mountpoint" :options="options.pathes" @popup-show="updatePathOptions(null, mountpoint?.value)" :loading="options.pathes.loading" :label="$t('Path')" dark dense class="col">
						<template v-slot:selected>
							<div :class="{'text-negative': deviceUsed()}">
								{{mountpoint?.value.replace(/\//g, ' / ')}}
							</div>
						</template>
						<template v-slot:option="{itemProps, itemEvents, opt}">
							<q-item v-bind="itemProps" v-on="itemEvents">
								<q-item-section @click.stop="updatePathOptions(null, (mountpoint = opt).value, true)">
									<q-item-label :style="{'margin-left':(opt.indent*16)+'px'}" :class="{'text-negative': deviceUsed(opt.value)}">{{opt.label}}</q-item-label>
								</q-item-section>
							</q-item>
						</template>
						<template v-slot:no-option>
							<div class="text-grey-6 q-py-sm q-px-md"><t>No pathes found</t></div>
						</template>
					</q-select>
					<div class="q-pt-sm q-ml-lg">
						<q-btn icon="create_new_folder" color="grey-9" size="sm" class="q-pa-xs" dense :title="$t('Create dir')" @click="createFolder({path: mountpoint})"/>
					</div>
				</q-card-section>

				<q-card-actions align="right" class="q-ma-sm q-mx-md q-px-xs">
					<q-btn color="grey-9" :label="$t('Cancel')" v-close-popup />
					<q-btn v-if="update" color="grey-9" :label="$t('Remove')" @click="removeDevice()" v-close-popup />
					<q-btn color="grey-9" :disabled="!sources[0]?.device || !sources[0]?.hasFs && !sources[0]?.delete || deviceUsed()" :label="$t('Set')" @click="setDevice()" />
				</q-card-actions>
			</q-card>
		</q-dialog>

		<q-dialog v-model="create.show" content-class="device">
			<q-card style="width: 350px">
				<q-card-section class="q-pb-sm q-mx-xs">
					<div class="text-h5"><t>Create dir</t></div>
				</q-card-section>

				<q-card-section class="q-py-none q-mx-xs">
					<q-input dark dense v-model="create.dir" @keypress.enter="createFolder()" autofocus :label-color="create.dir ? '' : 'negative'" :label="$t('Dir name')" />
				</q-card-section>

				<q-card-actions align="right" class="q-ma-sm q-mx-md q-px-xs">
					<q-btn color="grey-9" :label="$t('Cancel')" v-close-popup />
					<q-btn color="grey-9" :label="$t('Create')" :disable="!create.dir" @click="createFolder()" />
				</q-card-actions>
			</q-card>
		</q-dialog>

		<q-dialog v-model="showConfirm">
			<q-card>
				<q-card-section class="row items-center">
					<q-avatar icon="launch"/>
					<div class="q-mx-sm">
						<div v-for="(source, key) in sources.filter(source => source.device && source.delete)" :key="key" v-html="$t('Delete device {device}?', {device: source.device.name})"/>
						<div class="q-mt-sm text-negative"><t>All data will lost</t></div>
					</div>
				</q-card-section>

				<q-card-actions align="right">
					<q-btn :label="$t('Cancel')" color="grey-9" v-close-popup />
					<q-btn :label="$t('Delete')" color="grey-9" v-close-popup @click="setDevice(true)" />
				</q-card-actions>
			</q-card>
		</q-dialog>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.Disks',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			loading: false,
			mergerfs: false,
			show: false,
			showConfirm: false,
			allMounts: [],
			rootDevice: '',
			mountpoint: null,
			update: null,
			sources: [],
			options: {
				loading: false,
				devices: [],
				pathes: [],
			},
			create: {
				show: false,
				target: null,
				dir: ''
			}
		}
	},

	watch: {
		mountpoint() {
			if (!this.mountpoint?.value) {
				this.mountpoint = null
			}
		},
		enable() {
			this.mergerfs = this.enable?.includes('mergerfs')
		}
	},

	async created() {
		this.mergerfs = this.enable?.includes('mergerfs')
		this.rootDevice = (await this.$settings.disks.mounted).find(dev => dev.mountpoint == '/')?.source
		this.updateMounts()
	},

	methods: {
		async updateMounts() {
			this.loading = true
			let device_index = 0
			let partitions = (await this.$settings.disks.partitions).map(dev => ({...dev, id: dev.partition ? [device_index, dev.partition] : [++device_index]}))
			this.allMounts = (await this.noCache().$settings.disks.mountinfo).filter(mount => /^\/data(\/|$)/.test(mount.mountpoint)).map(mount => ({
				sources: (mount.sources || [mount.source]).map(source => {
					let dev = partitions.find(dev => dev.device == source.device)
					return {
						device: source.device,
						options: source.device == this.rootDevice ? 'subvol=@data' : '',
						path: source.path,
						label: dev ? `<span class="text-grey-6" style="float: left; width: 30px;">[${dev.id.join(':')}]</span> &nbsp; ${dev.name} ${dev.size ? `&nbsp; <small>${dev.size}</small>` : ''}` : source.device.replace(':', '').replaceAll('/', ' / ')
					}
				}),
				mountpoint: mount.mountpoint
			}))
			this.loading = false
		},

		async updateDeviceOptions() {
			this.options.loading = true
			let device_index = 0
			this.options.devices = (await this.$settings.disks.partitions).map(dev => ({...dev, id: dev.partition ? [device_index, dev.partition] : [++device_index]})).map(dev => ({
				device: dev.device,
				options: dev.device == this.rootDevice ? 'subvol=@data' : '',
				name: `${dev.name} <small>${dev.size}</small>`,
				label: `<span class="text-grey-6" style="float: left; width: 30px;">[${dev.id.join(':')}]</span> &nbsp; ${dev.name} &nbsp; <small>${dev.size}</small>`
			})).filter(d => d.device != this.rootDevice?.replace(/p?\d$/, '') && d.device != this.rootDevice?.replace(/\d$/, '1'))
			this.options.loading = false
		},

		async updatePathOptions(device, path, update) {
			this.options.pathes.loading = true
			var indent = path && path.substr(1)?.split('/')?.length || 0
			this.options.pathes = update ? this.options.pathes : [{}]
			this.options.pathes = (await this.$settings.disks.pathes(device, path || '')).map(name => ({
				value: [path, name].filter(_=>_).join('/'),
				label: name,
				indent: indent
			}))
			for(let name=path; name && indent-- > 0; name=name.replace(/\/[^\/]+$/, '')) {
				this.options.pathes.unshift({
					value: name,
					label: name.replace(/.*\//, ''),
					indent: indent
				})
			}
			if (device) {
				this.options.pathes.unshift({
					value: '',
					label: this.$t('top'),
					indent: 0
				})
			}
			this.options.pathes.loading = false
		},

		async editMount(mount) {
			if (mount) {
				this.sources = mount.sources.map(source => ({
					device: {device: source.device, label: source.label, options: source.options},
					path: source.path ? {value: source.path.substr(1), label: source.path.substr(1)} : null,
					hasFs: true,
					delete: false
				}))
				this.mountpoint = {value: mount.mountpoint, label: mount.mountpoint}
				this.update = mount
			} else {
				this.sources = [{
					device: null,
					path: null,
					hasFs: true,
					delete: false,
				}]
				this.mountpoint = {value: '/data', label: ''}
				this.update = null
			}
			this.show = true
		},

		async updateSourceDevice(source, device) {
			if (source.device) {
				source.path = null
			}
			source.device = device
			if (source.device) {
				source.hasFs = await this.$settings.disks.hasFs(source.device)
			} else {
				source.hasFs = false
			}
			this.$forceUpdate()
		},

		async createFolder(target) {
			if (target) {
				this.create.show = true
				this.create.target = target
				this.create.dir = ''
			} else if (this.create.dir) {
				let path = [this.create.target.path?.value, this.create.dir].filter(_=>_).join('/')
				this.$settings.disks.mkdir(this.create.target.device, path)
				this.create.target.path.value = path
				this.create.target.path.label = path
				this.create.show = false
			}
		},

		deviceUsed(device) {
			return this.allMounts.find(dev => (device || this.mountpoint?.value) == dev.mountpoint && this.update?.mountpoint != dev.mountpoint)
		},

		addSource() {
			this.sources.push({
				device: null,
				path: null,
				hasFs: true,
				delete: false,
			})
		},

		async removeSource(key) {
			this.sources.splice(key, 1)
			if (this.sources.length == 0) {
				this.addSource()
			}
		},

		async setDevice(force) {
			if (this.sources.find(source => source.delete) && !force) {
				this.showConfirm = true
				return
			}
			if (this.update) {
				await this.$settings.disks.unmount(this.update.sources, this.update.mountpoint)
			}
			for (let source of this.sources.filter(source => source.delete)) {
				await this.$settings.disks.mkfs(source.device.device)
			}
			if (!await this.$settings.disks.mount(this.sources.filter(source => source.device).map(source => ({device: source.device.device, options: source.device.options, path: source.path?.value})), this.mountpoint.value)) {
				this.$q.notify({
					position: 'top',
					icon: 'announcement',
					message: this.$t('Set device failed'),
				})
			} else {
				this.updateMounts()
				this.show = false
			}
		},

		async removeDevice() {
			if (this.update) {
				await this.$settings.disks.unmount(this.update.sources, this.update.mountpoint)
				this.updateMounts()
			}
		},

		humanSize(size, fixed=0) {
			var i = Math.floor( Math.log(size) / Math.log(1024) )
			return ( size / Math.pow(1024, i) ).toFixed(fixed) * 1 + ' ' + ' KMGTPEZY'[i] + 'B'
		}
	},

	i18n: {}
}
</script>

<style lang="scss">
.disks {
	.w50 {
		width: calc(50% - 38px) !important;
		margin-left: 30px;
	}
	.w67 {
		width: calc(67% - 38px);
		margin-left: 30px;
	}
	.w33 {
		width: calc(33% - 38px);
		margin-left: 30px;
	}


	.edit {
		margin: 2px 0 auto auto;
	}
}

.device {
	.q-card {
		width: 80vw;
		max-width: 800px;
	}
}
</style>
