<template>
	<Group label="Display" name="xserver-xf86-config" :enable="enable">
		<Option label="Screens">
			<div v-for="(device, key) in $settings.display.active" :key="key" class="row">
				<q-select dark dense v-model="device.screen" :options="screens" class="w33 q-field--float" :label="$t('Screen')" :label-color="device.screen || $settings.display.active?.length == 1 && !device.resolution ? '' : 'negative'" :class="{'text-negative': device.screen && !screens.includes(device.screen)}" @filter="getScreens">
					<template v-slot:selected-item="scope">
						<q-item v-if="$settings.display.active?.length == 1 && !scope.opt" class="text-grey"><t>auto</t></q-item>
						<q-item v-if="key || scope.opt">{{scope.opt}}</q-item>
					</template>
					<template v-slot:no-option>
						<q-item class="text-grey"><t>No screens found</t></q-item>
					</template>
				</q-select>
				<q-select dark dense v-model="device.resolution" :options="$settings.display.resolutions" emit-value map-options class="w33 q-field--float" :label="$t('Resolution')">
					<template v-slot:selected-item="scope">
						<q-item v-if="scope.opt">{{scope.opt.label}}</q-item>
						<q-item v-else class="text-grey"><t>auto</t></q-item>
					</template>
				</q-select>
				<q-select dark dense v-model="device.refreshrate" :options="[50, 60]" class="w25 q-field--float" :label="$t('Refresh rate')">
					<template v-slot:selected-item="scope">
						<q-item v-if="scope.opt">{{scope.opt}} Hz</q-item>
						<q-item v-else class="text-grey"><t>auto</t></q-item>
					</template>
				</q-select>
				<q-btn round icon="close" class="close" size="xs" color="grey-9" @click="removeDevice(key)"/>
				<q-checkbox v-model="device.storeEdid" :disable="!device.screen" :label="$t('Store edid')" class="q-mb--sm"/>
				<q-checkbox v-if="key" v-model="device.mirror" :label="$t('Mirror main screen')" class="q-mb--sm"/>
			</div>
			<q-checkbox v-if="$settings.system.mach.toString().includes('rpi')" toggle-indeterminate toggle-order="ft" indeterminate-icon="done" v-model="$settings.display.forceHdmiOrAv" :label="$settings.display.forceHdmiOrAv === null ? $t('Force AV') : $t('Force HDMI')" class="q-mb--sm"/>
			<div class="float-right q-my-sm" style="margin-top:-24px;">
				<q-btn color="grey-9" size="sm" :label="$t('Add')" @click="addDevice"/>
			</div>
		</Option>
		<Option label="Driver" v-if="$settings.display.drivers.length">
			<q-select dark dense clearable v-model="$settings.display.forceDriver" :options="noPromise($settings.display.drivers)" :loading="driverChanged===null" class="w33 q-field--float" :label="$t('Use Driver')" @input="changeDriver()">
				<template v-slot:selected-item="scope">
					<q-item v-if="scope.opt">{{scope.opt}}</q-item>
					<q-item v-else class="text-grey"><t>auto</t></q-item>
				</template>
			</q-select>
			<p v-if="driverChanged" class="q-mt-sm q-mb-none text-negative"><t>You must update your screens settings.</t></p>
		</Option>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.Display',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			screens: [],
			driverChanged: false
		}
	},

	async created() {
		await this.$settings.display.resolutions // preload to cache
		if (!await this.$settings.display.active || !(await this.$settings.display.active)?.[0]) {
			this.$settings.display.active = [{screen: '', resolution: '', refreshrate: '', mirror: false}]
		}
		this.screens = [...await this.$settings.display.devices]
	},

	methods: {
		async getScreens(val, done, abort) {
			this.screens = [...(await this.$settings.display.devices)]
			done()
		},
		async addDevice() {
			(await this.$settings.display.active).push({screen: '', resolution: '', refreshrate: '', mirror: false})
		},
		async removeDevice(key) {
			this.$settings.display.active.splice(key, 1)
			if ((await this.$settings.display.active).length == 0) {
				this.addDevice()
			}
		},
		changeDriver() {
			this.driverChanged = null
			let n = 0
			let screens
			let intervall = setInterval(async () => {
				screens = [...(await this.$settings.display.devices)]
				if (n++ > 15 || screens?.[0] && screens?.[0] != this.screens?.[0]) {
					let screen = (await this.$settings.display.active)?.[0]?.screen
					this.driverChanged = screen && !screens?.[0]?.includes(screen)
					this.screens = screens
					clearInterval(intervall)
				}
			}, 1000)
		}
	},

	i18n: {}
}
</script>

<style lang="scss" scoped>
.q-select.w25 {
	width: calc(25% - 14px) !important;
}
.close {
	margin: 12px 0 auto auto;
}
.text-negative .q-item {
	color: $negative;
}
</style>