<template>
	<Group label="EPG-Daemon" name="vdr-epg-daemon" :enable="enable">
		<Option label="EPG Sources priority">
			<q-select dark dense :value="noPromise($settings.epgDaemon.sources)" :options="sources" emit-value map-options @input="$settings.epgDaemon.sources = $event; update()"/>
			<q-checkbox :value="$settings.epgDaemon.merge" @input="$settings.epgDaemon.merge = $event; update()" :label="$t('Merge sources')" class="q-mb--sm"/>
		</Option>
		<Option label="Max count of channels">
			<q-input dark dense v-model="$settings.epgDaemon.lines" type="number" :min="1" @keypress.enter="$event.target.blur()" @blur="update"/>
		</Option>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.EpgDaemon',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			sources: [
				{label: 'TV Movie', value: 'tvm'},
				{label: 'TV Movie &mdash; TV Spielfilm', value: 'tvm tvsp'},
				{label: 'TV Movie &mdash; TV Spielfilm &mdash; VDR', value: 'tvm tvsp vdr'},
				{label: 'TV Spielfilm', value: 'tvsp'},
				{label: 'TV Spielfilm &mdash; TV Movie', value: 'tvsp tvm'},
				{label: 'TV Spielfilm &mdash; TV Movie &mdash; VDR', value: 'tvsp tvm vdr'},
				{label: 'VDR', value: 'vdr'},
				{label: 'VDR &mdash; TV Movie', value: 'vdr tvm'},
				{label: 'VDR &mdash; TV Spielfilm', value: 'vdr tvsp'},
				{label: 'VDR &mdash; TV Movie &mdash; TV Spielfilm', value: 'vdr tvm tvsp'},
				{label: 'VDR &mdash; TV Spielfilm &mdash; TV Movie', value: 'vdr tvsp tvm'},
			]
		}
	},

	methods: {
		async update() {
			this.$root.$emit('menu.add', {label: this.$t('Restart EPG-Daemon'), handler: () => {this.$settings.epgDaemon.update()}})
		},
	},

	i18n: {}
}
</script>
