<template>
	<div>
		<div v-for="lang in locales" :key="lang.lc" class="q-mr-md">
			<q-radio v-model="locale" :val="lang.lc" :label="lang.label" @input="set"/>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Settings.Language',

	data() {
		return {
			locale: this.$root.$i18n.locale,
			locales: []
		}
	},

	async created() {
		// initial locale will be loaded in App.vue
		//this.options = this.$i18n.availableLocales.map(lc => ({lc: lc, label: this.$t(lc, lc)}))
		this.locales = ((await this.$settings.system.locales).length ? this.$settings.system.locales : ['C', 'en_GB', 'de_DE']).map(lc => ({lc: lc, label: this.$t(lc, lc)}))

		this.$socket.on('system.locale', (locale) => {
			this.locale = locale || this.locale
			this.$root.$i18n.locale = locale
		})
	},

	methods: {
		set() {
			this.$settings.system.locale = this.locale
			this.$root.$i18n.locale = this.locale
		},
	},

	i18n: {}
}
</script>