<template>
	<Group label="Network" name="networkmanager-daemon" :enable="enable">
		<Option label="Interfaces">
			<div v-for="(config, name) in interfaces" class="row">
				<div class="row col q-ml-md">
					<span class="name q-mr-md q-my-sm">{{name}}</span>
					<div class="col">
						<div class="row">
							<q-checkbox v-model="config.dhcp" :label="$t('Use DHCP')" @input="config.changed = true"/>
							<q-space/>
							<div class="q-ml-md q-pt-sm">
								<q-btn icon="sync" :title="$t('Apply changes')" size="sm" color="grey-9" :text-color="config.changed ? 'negative' : ''" @click="save(name)"/>
							</div>
						</div>
						<div v-if="!config.dhcp" class="row" style="margin-top:-6px">
							<q-input dark dense v-model="config.address" name="address" :label="$t('Address')" :label-color="config.dhcp || config.address ? '' : 'negative'" @keypress="config.changed = true" class="w33"/>
							<q-input dark dense v-model="config.gateway" name="gateway" :label="$t('Gateway')" :label-color="config.dhcp || config.gateway ? '' : 'negative'" @keypress="config.changed = true" class="w33"/>
							<q-input dark dense v-model="config.dns" name="dns" :label="$t('DNS')" :label-color="config.dhcp || config.dns ? '' : 'negative'" @keypress="config.changed = true" class="w33"/>
						</div>
					</div>
				</div>
			</div>
		</Option>
		<Option label="NTP">
			<q-input dark dense v-model="ntp" name="ntp" :label="ntp ? undefined : $t('Server names')" @keypress.enter="$event.target.blur()" @blur="$settings.network.ntp = ntp"/>
		</Option>
		<Option label="Wake on LAN">
			<q-checkbox v-model="wol" :label="$t('Enable WOL')" @input="setWol"/>
		</Option>

		<Wifi :enable="enable"/>
		<Samba :enable="enable"/>
</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'
import Wifi from 'components/Settings/Wifi'
import Samba from 'components/Settings/Samba'

export default {
	name: 'Settings.Network',

	components: {
		Group,
		Option,
		Wifi,
		Samba
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			interfaces: {},
			ntp: '',
			wol: false
		}
	},

	async created() {
		let interfaces = await this.$settings.network.getConfigs()
		Object.values(interfaces).forEach(c => {c.dhcp = c.dhcp !== false})
		this.interfaces = interfaces
		this.ntp = await this.$settings.network.ntp
		this.wol = await this.$settings.network.wol
	},

	methods: {
		save(name) {
			this.$settings.network.setConfig(name, this.interfaces[name].dhcp ? {dhcp: true} : this.interfaces[name])
			this.interfaces[name].changed = false
			this.$forceUpdate()
		},
		setWol() {
			this.$settings.network.wol = this.wol
		}
	},

	i18n: {}
}
</script>

<style lang="scss" scoped>
.name {
	font-weight: bold;
	font-family: monospace;
}
.close {
	margin: 12px 0 auto auto;
}
</style>