<template>
		<Group label="Packages" name="apt" :enable="enable">
			<Option label="Updates">
				<q-checkbox v-model="$settings.packages.updateCheck" :label="$t('Dayly check for updates')" class="q-mb--sm"/>
			</Option>

			<Option label="Package source">
				<q-select dark dense :value="noPromise($settings.packages.srcName)" :options="noPromise($settings.packages.srcNames)" @input="$settings.packages.srcName = $event"/>
			</Option>
		</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.Packages',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	i18n: {}
}
</script>
