<template>
	<Group label="Remote" name="ir-keytable" :enable="enable">
		<Option label="Devices">
			<template v-slot:top>
				<q-btn icon="refresh" :title="$t('Update')" @click="getDevices" color="grey-9" size="sm" />
			</template>
			<q-list>
				<q-item v-for="d in devices" :key="d.name+d.device" class="q-pr-none">
					<q-item-section>
						<q-item-label>
							{{d.name}}
						</q-item-label>
						<q-item-label v-if="d.name == 'gpio_ir_recv' && gpiopin != old_gpiopin" caption class="text-positive">
							<t>Reboot required to activate gpio pin change</t>
						</q-item-label>
						<q-item-label  v-if="d.name == 'Raspberry Pi Pico' && !d.device" caption class="text-negative">
							<t>Plug Raspberry Pi Pico with pressed boot button</t>
						</q-item-label>
						<q-item-label  v-if="d.name == 'YaUsbIR' && d.installed" caption>
							<t>Configuration not supported</t>
						</q-item-label>
					</q-item-section>
					<q-item-section side top>
						<div class="row">
							<q-btn-dropdown v-if="d.name == 'gpio_ir_recv'" :label="$t('GPIO pin {pin}', {pin: gpiopin})" color="grey-9" class="q-ml-md" size="sm">
								<q-list dense>
									<q-item v-for="pin in Array(30).fill(0).map((_, i) => i+1)" :key="pin" clickable v-close-popup @click="gpiopin=pin" :class="{'bg-grey-9': pin == gpiopin}">
										<q-item-section>
											<q-item-label>{{pin}}</q-item-label>
										</q-item-section>
									</q-item>
								</q-list>
							</q-btn-dropdown>
							<q-btn-dropdown v-if="d.name == 'Serial IR type home-brew'" :label="comport > 0 ? $t('COM port {port}', {port: comport}) : $t('disabled')" color="grey-9" class="q-ml-md" size="sm">
								<q-list dense>
									<q-item v-for="port in comports" :key="port" clickable v-close-popup @click="comport=port" :class="{'bg-grey-9': port == comport}">
										<q-item-section>
											<q-item-label v-if="port > 0">COM{{port}}</q-item-label>
											<q-item-label v-else><t>Disable</t></q-item-label>
										</q-item-section>
									</q-item>
								</q-list>
							</q-btn-dropdown>
							<template v-if="d.name == 'Raspberry Pi Pico'">
								<q-btn :label="$t('Install IRMP firmware')" :loading="updating == d.device" :disable="!!updating || !d.device" @click="installIrmpFirmware(d.device)" color="grey-9" class="q-ml-md" size="sm" />
							</template>
							<template v-else-if="d.name == 'YaUsbIR' && !d.installed">
								<q-btn :label="$t('Install YaUsbIR driver')" :loading="updating == 'yausbir'" :disable="!!updating" @click="installDriver('yausbir')" color="grey-9" class="q-ml-md" size="sm" />
							</template>
							<template v-else-if="d.name == 'Sundtek'">
								<template v-if="!d.installed">
									<q-btn :label="$t('Install Sundtek driver')" :loading="updating == 'sundtek'" :disable="!!updating" @click="installDriver('sundtek')" color="grey-9" class="q-ml-md" size="sm" />
								</template>
								<template v-else>
									<q-btn-dropdown :label="d.map >= 0 ? $t('RC-map {map}', {map: d.map}) : $t('disabled')" color="grey-9" class="q-ml-md" size="sm">
										<q-list dense>
											<q-item v-for="map in [-1, 0, 1, 2, 3]" :key="map" clickable v-close-popup @click="$settings.remote.sundtekRcMap(map); d.map=map">
												<q-item-section>
													<q-item-label v-if="map >= 0">{{$t('RC-map {map}', {map})}}</q-item-label>
													<q-item-label v-else>{{$t('Disable')}}</q-item-label>
												</q-item-section>
											</q-item>
										</q-list>
									</q-btn-dropdown>
								</template>
							</template>
							<template v-else>
								<q-btn v-if="d.device" :label="$t('Edit keymap')" @click="device = d.device" color="grey-9" class="q-ml-md" size="sm" />
							</template>
						</div>
					</q-item-section>
				</q-item>
				<q-item v-if="!devices.length" class="q-pr-none q-pt-none">
					<q-item-section>
						<q-item-label class="text-grey-6">
							<t>No devices found</t>
						</q-item-label>
					</q-item-section>
				</q-item>
			</q-list>
		</Option>

		<q-dialog v-model="edit" persistent content-class="settings keymap-edit">
			<q-card>
				<q-card-section class="q-pb-sm q-mx-xs">
					<div class="text-h5"><t>Edit keymap</t></div>
				</q-card-section>

				<q-card-section class="q-py-xs q-mx-xs" style="min-height:30px">
					<div v-if="message" class="text-negative">
						{{message}}
					</div>
					<div v-else-if="loading" class="text-grey">
						<t>Loading data</t>...
					</div>
					<div v-else-if="saveing" class="text-grey">
						<t>Saveing data</t>...
					</div>
					<div v-else-if="codeUsed" class="text-negative">
						<t>Key was already used</t>
					</div>
					<div v-else-if="key" class="text-positive">
						<t>Press selected key</t>
					</div>
					<div v-else-if="readKey" class="text-grey">
						<t>Select key to be taught</t>
					</div>
					<div v-else class="text-negative">
						<t>Somethink went wront</t>
					</div>
				</q-card-section>

				<q-card-section v-if="!irmp" class="q-pt-none q-mx-xs">
					<q-select v-model="protocol" :options="protocols" :loading="loading && !protocol" :disable="loading || saveing" dark dense :label-color="loading || protocol ? '' : 'negative'" :label="loading || saveing || protocol ? $t('Protocol') : $t('Select protocol')" @filter="getProtocols"/>
				</q-card-section>

				<q-card-section class="q-pt-none q-mx-xs row">
					<q-toggle v-model="scanall" :disable="loading || saveing || !readKey" :title="$t('Taughting all keys')" dense color="primary" class="q-mt-md"/>
					<q-input dark dense disable :value="`${code}      ${keymap.find(row => row.code == code)?.name || ''}`" :label="code ? $t('Last pressed key on remote') : $t('No key pressed on remote')" :input-class="code ? (codeUsed ? 'text-negative' : 'text-positive') : ''" class="col q-ml-md"/>
				</q-card-section>

				<q-card-section class="q-py-none q-mx-xs">
					<q-expansion-item dense group="map" :label="$t('Keymap')" default-opened header-class="q-pl-none">
						<q-scroll-area class="keymap">
							<q-table ref="keymaps" :loading="loading" :data="keymap.filter(k => k.key.startsWith('KEY_'))" :columns="columns" row-key="key" dense :pagination="{rowsPerPage:0}" hide-pagination hide-bottom :class="{disable: loading || saveing || !readKey}">
								<template v-slot:body="props">
									<q-tr :props="props" :class="{active: props.row.key == key, pressed: props.row.code == code}" @click="key = loading || saveing || !readKey || key==props.row.key ? '' : props.row.key">
										<q-td key="name" :props="props">
											{{ props.row.name }}
										</q-td>
										<q-td key="code" :props="props" @mouseover="keyOver=props.row.key" @mouseout="keyOver=''">
											<q-icon v-if="props.row.key == key" name="fiber_manual_record" color="red-10" size="18px"/>
											<q-icon v-else-if="props.row.key == keyOver && props.row.code" name="close" size="18px" @click.stop="removeKey(props.row.key)" :title="$t('Delete key assignment')" style="cursor:pointer"/>
											<q-icon v-else :name="props.row.code ? 'done' : ''" style="width:18px"/>
										</q-td>
									</q-tr>
								</template>
							</q-table>
						</q-scroll-area>
					</q-expansion-item>

					<q-expansion-item v-if="!loading && keymap.filter(k => k.key.startsWith('MACRO_')).length" dense group="map" header-class="q-pl-none">
						<template v-slot:header>
							<q-item-section>
								<span>
									<t>Macros</t><q-icon name="help_outline" class="q-ml-xs"><q-tooltip><t>If a key is pressed on remote, send some other key codes.</t></q-tooltip></q-icon>
								</span>
							</q-item-section>
						</template>
						<q-scroll-area class="keymap">
							<q-table ref="macros" :loading="loading" :data="keymap.filter(k => k.key.startsWith('MACRO_'))" :columns="macroColumns" row-key="key" dense :pagination="{rowsPerPage:0}" hide-pagination hide-bottom :class="{disable: loading || saveing || !readKey}">
								<template v-slot:body="props">
									<q-tr :props="props" :class="{active: props.row.key == key, pressed: props.row.code == code, macro: props.row.nr}" @click="key = loading || saveing || !readKey || key==props.row.key ? '' : props.row.key">
										<q-td key="nr" :props="props">
											{{ props.row.nr }}
										</q-td>
										<q-td key="name" :props="props">
											{{ props.row.name }}
										</q-td>
										<q-td key="code" :props="props" @mouseover="keyOver=props.row.key" @mouseout="keyOver=''">
											<q-icon v-if="props.row.key == key" name="fiber_manual_record" color="red-10" size="18px"/>
											<q-icon v-else-if="props.row.key == keyOver && props.row.code" name="close" size="18px" @click.stop="removeKey(props.row.key)" :title="$t('Delete key assignment')" style="cursor:pointer"/>
											<q-icon v-else :name="props.row.code ? 'done' : ''" style="width:18px"/>
										</q-td>
									</q-tr>
								</template>
							</q-table>
						</q-scroll-area>
					</q-expansion-item>

					<q-expansion-item v-if="!loading" dense group="map" :label="$t('Repeat')" header-class="q-pl-none">
						<div class="text-grey q-mb-sm"><t>Set repeat options</t></div>
						<div class="slider">
							<div class="text-grey label">
								<t>Delay</t>
								<q-icon name="help_outline" class="q-ml-xs"><q-tooltip><t>Delay before start repeat</t></q-tooltip></q-icon>
							</div>
							<q-slider v-model="repeat.delay" :step="10" :min="100" :max="500" label :label-value="repeat.delay + 'ms'" label-color="grey-9"/>
						</div>
						<div class="slider">
							<div class="text-grey label">
								<t>Period</t>
								<q-icon name="help_outline" class="q-ml-xs"><q-tooltip><t>Speed of repeat</t></q-tooltip></q-icon>
							</div>
							<q-slider :value="1000/repeat.period" @input="repeat.period=1000/$event" :step="0.1" :min="1" :max="50" label :label-value="Math.round(10000/repeat.period)/10 + '/s'" label-color="grey-9"/>
						</div>
						<div v-if="repeat.timeout" class="slider">
							<div class="text-grey label">
								<t>Timeout</t>
								<q-icon name="help_outline" class="q-ml-xs"><q-tooltip><t>Time to wait for repeat</t></q-tooltip></q-icon>
							</div>
							<q-slider v-model="repeat.timeout" :min="0" :max="100" label :label-value="repeat.timeout + 'ms'" label-color="grey-9"/>
						</div>
					</q-expansion-item>
				</q-card-section>

				<q-card-actions align="right" class="text-primary q-pt-none q-my-sm q-mx-md q-px-xs">
					<q-btn color="grey-9" :label="$t('Cancel')" v-close-popup />
					<q-btn color="grey-9" :loading="saveing" :label="$t('Save')" :disable="loading || saveing || !protocol && !irmp" @click="saveKeymap" />
				</q-card-actions>
			</q-card>
		</q-dialog>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.Remote',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			connections: null,
			loading: false,
			updating: false,
			saveing: false,
			device: '',
			devices: [],
			gpiopin: 0,
			old_gpiopin: 0,
			comport: 0,
			comports: [],
			irmp: false,
			protocol: null,
			protocols: [],
			scanall: false,
			scannext: false,
			key: '',
			code: '',
			lastCode: '',
			codeUsed: false,
			keyOver: '',
			keymap: [],
			edit: false,
			readKey: 0,
			message: '',
			columns: [
				{ name: 'name', field: 'name', align: 'left' },
				{ name: 'code', field: 'code', align: 'right' }
			],
			macroColumns: [
				{ name: 'nr', field: 'nr', align: 'left' },
				{ name: 'name', field: 'name', align: 'left' },
				{ name: 'code', field: 'code', align: 'right' }
			],
			repeat: {
				delay: 0,
				period: 0,
				timeout: 0
			}
		}
	},

	watch: {
		async 'device'() {
			this.edit = !!this.device
			if (this.device) {
				this.loading = true
				this.irmp = this.device.startsWith('hidraw')
				this.keymap = JSON.parse(JSON.stringify(await this.$settings.remote.keys))
				;(await this.$settings.remote.getKeymap(this.device)).forEach(row => {
					if (row) {
						let index = this.keymap.findIndex(map => map.key == row.key)
						if (index >= 0) {
							this.keymap[index].code = row.code
						// } else {
						// 	this.keymap.push({name:row.key, ...row})
						}
					}
				})
				let macros = await this.$settings.remote.getMacros(this.device)
				if (macros) {
					;[...macros, []].slice(0, 8).forEach((row, nr) => {
						nr++
						this.keymap.push({name: this.$t('Key on remote'), key: `MACRO_${nr}`, code: row[0], nr})
						;[...row.slice(1), undefined].slice(0, 8).forEach((code, slot) => {
							this.keymap.push({name: this.$t('Key to send'), key: `MACRO_${nr}_${slot}`, code})
						})
					})
				}
				this.repeat = await this.$settings.remote.getRepeat(this.device)
				this.protocol = this.irmp ? '' : await this.$settings.remote.protocol(this.device)
				this.loading = false
			}
		},
		'gpiopin'(newValue, oldValue) {
			if (newValue && oldValue) {
				this.$settings.remote.gpiopin(newValue)
			}
		},
		async 'comport'(newValue, oldValue) {
			if (oldValue) {
				await this.$settings.remote.comport(newValue)
				this.devices = await this.$settings.remote.devices()
			}
		},
		async 'edit'() {
			this.message = ''
			if (this.edit) {
				this.$socket.on('keycode', this.onKeycode)
			} else {
				await this.cancelReadkey()
				this.saveing = false
				this.device = ''
				this.protocol = null
				this.key = ''
				this.code = ''
				this.lastCode = ''
				this.scanall = false
				this.scannext = false
				this.codeUsed = false
				this.keymap = []
				this.irmp = false
			}
		},
		async 'protocol'() {
			if (this.device && (this.protocol || this.irmp)) {
				this.readKey++
				if (!await this.$settings.remote.readkey(this.device, this.protocol)) {
					this.message = this.$t('Read of keys failed')
				}
				this.readKey--
				if (this.saveing) {
					await this.saveKeymap()
					this.saveing = false
				}
			}
		},
		'scanall'() {
			this.key = this.scanall ? (this.key ? this.key : this.keymap[0].key) : ''
		},
		'key'() {
			if (!this.scannext) {
				this.scannext = false
				this.codeUsed = false
				this.code = ''
			}
			if (!this.key) {
				this.scanall = false
				this.codeUsed = false
				this.code = ''
			}
			if (this.key && this.scanall) {
				setTimeout(() => {
					this.$refs.keymaps.$el.querySelector('.active')?.scrollIntoView({behavior: 'smooth', block: 'center'})
					this.$refs.macros?.$el.querySelector('.active')?.scrollIntoView({behavior: 'smooth', block: 'center'})
				})
			}
		},
	},

	async created() {
		this.getDevices()
	},

	beforeDestroy() {
		this.cancelReadkey()
		this.codeUsed = false
	},

	methods: {
		async getDevices() {
			this.devices = await this.$settings.remote.devices()
			if (this.devices.find(device => device.name == 'gpio_ir_recv')) {
				this.gpiopin = await this.$settings.remote.gpiopin()
				this.old_gpiopin = this.gpiopin
			}
			if (this.devices.find(device => device.name == 'Serial IR type home-brew')) {
				this.comport = await this.$settings.remote.comport() || -1
				this.comports = [-1, ...await this.$settings.remote.comports]
			}
		},

		async installIrmpFirmware(device) {
			this.updating = device
			await this.$settings.remote.installIrmpFirmware(device)
			await this.getDevices()
			this.updating = false
		},

		async installDriver(name) {
			this.updating = name
			await this.$settings.remote.installDriver(name)
			await this.getDevices()
			this.updating = false
		},

		async getProtocols(val, done, abort) {
			this.protocols = await this.$settings.remote.protocols(this.device)
			done()
		},

		onKeycode(keycode) {
			this.code = keycode
			let key = this.keymap.find(row => row.code == this.code)?.key || ''
			if (this.code != this.lastCode) {
				this.codeUsed = false
				if (this.key) {
					this.lastCode = this.code
					if (key && key != this.key) {
						this.codeUsed = true
					} else {
						let index = this.keymap.findIndex(row => row.key == this.key)
						if (!this.keymap[index].code && this.keymap[index].key.startsWith('MACRO_')) {
							let nr = this.keymap.filter(row => row.key.match(/^MACRO_\d$/)).length
							if (this.keymap[index].nr && nr < 8) {
								this.keymap.push({name: this.$t('Key on remote'), key: `MACRO_${nr+1}`, nr: nr+1})
								this.keymap.push({name: this.$t('Key to send'), key: `MACRO_${nr+1}_1`})
							} else {
								let slot = this.keymap.filter(row => row.key.startsWith(`MACRO_${nr}_`)).length
								if (slot < 8) {
									this.keymap.splice(index + 1, 0, {name: this.$t('Key to send'), key: `MACRO_${nr}_${slot+1}`})
								}
							}
						}
						this.keymap[index].code = this.code
					}
					if (this.scanall) {
						if (this.codeUsed) {
							this.lastCode = ''
						} else {
							// this.scannext = true
							setTimeout(() => {
								this.key = this.keymap[this.keymap.findIndex(row => row.key == this.key) + 1]?.key || ''
								this.scanall = !!this.key
							}, 300)
						}
					} else {
						this.key = ''
					}
				} else if (key) {
					setTimeout(() => {
						this.$refs.keymaps.$el.querySelector('.pressed')?.scrollIntoView({behavior: 'smooth', block: 'center'})
						this.$refs.macros?.$el.querySelector('.pressed')?.scrollIntoView({behavior: 'smooth', block: 'center'})
					})
				}
			}
		},

		removeKey(key) {
			let index = this.keymap.findIndex(row => row.key == key)
			if (this.keymap[index].key.startsWith('MACRO_')) {
				this.keymap = this.keymap.filter(row => !row.key.startsWith(this.keymap[index].key))
			} else {
				this.keymap[index].code = undefined
			}
			this.codeUsed = false
			this.keyOver = ''
		},

		async saveKeymap(trigger) {
			if( trigger) {
				this.saveing = true
				this.key = ''
				this.cancelReadkey()
			} else {
				let macros = []
				this.keymap.filter(k => k.key.startsWith('MACRO_') && k.code).forEach(row => {
					if (row.nr) {
						macros.push([row.code])
					} else if (row.code) {
						macros.at(-1).push(row.code)
					}
				})
				await this.$settings.remote.setMacros(this.device, macros)
				await this.$settings.remote.setRepeat(this.device, this.repeat)
				this.edit = !(await this.$settings.remote.setKeymap(this.device, this.protocol, this.keymap.filter(k => k.key.startsWith('KEY_'))))
			}
		},

		async cancelReadkey() {
			this.$socket.off('keycode', this.onKeycode)
			await this.$settings.remote.cancelReadkey(this.device)
		}
	},

	i18n: {}
}
</script>

<style lang="scss">
.security {
	position: absolute;
	font-size: 12px !important;
	margin: 12px 0 0 14px;
}

.keymap-edit {
	.q-card {
		width: 300px;
	}
	.key button {
		margin-top: 8px;
	}
	.keymap {
		.q-table thead tr {
			height: 0;
		}
		.disable {
			color: $grey-7;
		}
		height: calc(100vh - 30em);
	}
	.name {
		flex: 1 1 auto;
		label {
			max-width: 30em;
		}
	}
	.remove {
		margin: 12px 0 0 -24px;
    cursor: pointer;
	}
	.active {
		background: $grey-9;
	}
	.pressed {
		background: rgba(0, 255, 0, 0.05);
	}
	.macro {
		td {
			border-top: 1px solid $grey-6;
		}
	}
	.q-table__linear-progress {
    height: 4px;
	}
}

.gpiopin .q-menu .q-item {
    min-height: initial;
}

.slider {
	.label {
		padding-left: $space-base / 1.5;
		font-size: 10px;
	}
}
</style>