<template>
	<Group label="Samba" name="samba" :enable="enable">
		<Option label="Password">
			<div class="row">
				<q-input dark dense type="password" :label="$t('New password')" v-model="password" name="password" @keypress.enter="setPassword" @blur="setPassword" class="w50"/>
				<q-btn round icon="close" class="close" size="xs" color="grey-9" @click="password = ''; setPassword($event)"/>
			</div>
		</Option>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.Samba',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			password: ''
		}
	},

	methods: {
		setPassword(event) {
			this.$settings.samba.password = this.password
			event.target.blur()
		}
	},

	i18n: {}
}
</script>

<style lang="scss" scoped>
.close {
	margin: 12px 0 auto $space-base;
}
</style>