<template>
	<Group label="Services" name="services" :enable="enable && [...enable, ...services.length ? ['services'] : []]">
		<Option v-for="service in services" :key="service.name" :label="service.name" :description="service.description">
			<template v-slot:top>
				<q-btn color="grey-9" size="sm" :label="$t('Configure')" type="a" :to="service.page" :href="service.href && service.href.startsWith(':') ? origin + service.href : service.href" :target="service.href ? service.name : ''"/>
			</template>
		</Option>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.Services',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			origin: `${window.location.protocol}//${window.location.hostname}`,
			services: [],
		}
	},

	async created() {
		this.services = (await this.$settings.services.all).filter(service => service.running && (service.href || service.page))
	},

	i18n: {}
}
</script>

<style lang="scss">
.service .option .btn a {
	margin-top: -58px
}
</style>
