<template>
	<Group label="Snapshots" name="snapshot" :enable="enable">
		<Option label="Auto create">
			<q-checkbox v-model="$settings.snapshots.autoSnapshot" :label="$t('Create on package change')" class="q-mb--sm"/>
		</Option>

		<Option label="Manage">
			<div class="row">
				<q-select v-if="$settings.layout.isLiveSystem" dark dense v-model="device" :options="devices" class="w33" @filter="getDevices">
					<template v-slot:no-option>
						<q-item class="text-grey"><t>No devices found</t></q-item>
					</template>
					<template v-if="!device" v-slot:selected>
						<div :class="snapshot ? 'text-negative' : 'text-grey-6'"><t>Select device</t></div>
					</template>
				</q-select>
				<q-select dark dense v-model="snapshot" :options="snapshots" :class="$settings.layout.isLiveSystem ? 'w67' : 'w100'" @filter="getSnapshots">
					<template v-slot:no-option>
						<q-item class="text-grey"><t>No snapshots available</t></q-item>
					</template>
					<template v-if="!snapshot" v-slot:selected>
						<div class="text-grey-6"><t>Select snapshot</t></div>
					</template>
				</q-select>
			</div>
			<template v-slot:bottom>
				<q-btn color="grey-9" size="sm" :label="$t('Create')" @click="showCreate = true" class="q-mb-sm"/>
				<q-btn color="grey-9" size="sm" :label="$t('Restore')" :disable="!snapshot" @click="showRestore = true" class="q-ml-md q-mb-sm"/>
				<q-btn color="grey-9" size="sm" :label="$t('Delete')" :disable="!snapshot" @click="showDelete = true" class="q-ml-md q-mb-sm"/>
			</template>
		</Option>

		<q-dialog v-model="showCreate">
			<q-card style="min-width: 350px">
				<q-card-section class="q-pb-sm q-mx-xs">
					<div class="text-h5"><t>Create snapshot</t></div>
				</q-card-section>

				<q-card-section class="q-py-none q-mx-xs">
					<q-input dark dense v-model="createName" autofocus :label-color="createName ? '' : 'negative'" :label="$t('Snapshot name')" />
				</q-card-section>

				<q-card-actions align="right" class="q-ma-sm q-mx-md q-px-xs">
					<q-btn :label="$t('Cancel')" color="grey-9" v-close-popup />
					<q-btn :label="$t('Create')" :disable="!createName" color="grey-9" v-close-popup @click="createSnapshot" />
				</q-card-actions>
			</q-card>
		</q-dialog>

		<q-dialog v-model="showRestore">
			<q-card>
				<q-card-section class="row items-center">
					<q-avatar icon="launch"/>
					<div class="q-mx-sm">
						<t :values="{name: snapshot}">Restore the snapshot {name}?</t>
					</div>
				</q-card-section>

				<q-card-actions align="right">
					<q-btn :label="$t('Cancel')" color="grey-9" v-close-popup />
					<q-btn :label="$t('Restore')" color="grey-9" v-close-popup @click="restoreSnapshot" />
				</q-card-actions>
			</q-card>
		</q-dialog>

		<q-dialog v-model="showReboot">
			<q-card>
				<q-card-section class="row items-center">
					<q-avatar icon="replay"/>
					<div class="q-mx-sm">
						<t>Reboot required for activation</t>
					</div>
				</q-card-section>

				<q-card-actions align="right">
					<q-btn :label="$t('Cancel')" color="grey-9" v-close-popup />
					<q-btn :label="$t('Reboot')" color="grey-9" v-close-popup @click="reboot" />
				</q-card-actions>
			</q-card>
		</q-dialog>

		<q-dialog v-model="showDelete">
			<q-card>
				<q-card-section class="row items-center">
					<q-avatar icon="delete"/>
					<div class="q-mx-sm">
						<t :values="{name: snapshot}">Delete the snapshot {name}?</t>
					</div>
				</q-card-section>

				<q-card-actions align="right">
					<q-btn :label="$t('Cancel')" color="grey-9" v-close-popup />
					<q-btn :label="$t('Delete')" color="grey-9" v-close-popup @click="deleteSnapshot" />
				</q-card-actions>
			</q-card>
		</q-dialog>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.Snapshots',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			devices: [],
			device: null,
			snapshots: [],
			snapshot: '',
			createName: '',
			showCreate: false,
			showRestore: false,
			showReboot: false,
			showDelete: false
		}
	},

	methods: {
		async getSnapshots(val, done, abort) {
			this.snapshots = await this.$settings.snapshots.all(this.device?.value)
			done()
		},
		async getDevices(val, done, abort) {
			this.devices = (await this.$settings.disks.partitions).filter(dev => dev.fs=='btrfs').map(dev => ({
				value: dev.device,
				label: `${dev.name} &nbsp; <small>${dev.size}</small>`
			}))
			done()
		},
		async createSnapshot() {
			if (!await this.$settings.snapshots.create(this.device?.value, this.createName)) {
				this.$q.notify({
					position: 'top',
					icon: 'announcement',
					message: this.$t('Creation failed'),
				})
			} else {
				this.snapshot = this.createName
			}
		},
		async restoreSnapshot() {
			if (!await this.$settings.snapshots.restore(this.device?.value, this.snapshot)) {
				this.$q.notify({
					position: 'top',
					icon: 'announcement',
					message: this.$t('Restore failed'),
				})
			} else {
				this.snapshot = ''
				this.showReboot = true
			}
		},
		reboot() {
			this.$settings.system.reboot()
		},
		async deleteSnapshot() {
			if (!await this.$settings.snapshots.delete(this.device?.value, this.snapshot)) {
				this.$q.notify({
					position: 'top',
					icon: 'announcement',
					message: this.$t('Delete failed'),
				})
			} else {
				this.snapshot = ''
			}
		},
	},

	i18n: {}
}
</script>
