<template>
	<Group label="Squeeze" name="squeezeplay" :enable="enable">
		<Option label="Hide pointer">
			<q-checkbox v-model="$settings.squeezeplay.hideMousepointer" :label="$t('Hide the mouse pointer')" class="q-mb--sm"/>
		</Option>

		<Option label="Volume">
			<q-slider v-model="$settings.squeezeplay.startupVolume" :step="5" :min="0" :max="100"/>
		</Option>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.Squeeze',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	i18n: {}
}
</script>
