<template>
	<Group label="System" name="systemd" :enable="enable">
		<Option label="Hostname">
			<q-input dark dense v-model="hostname" name="hostname" @keypress.enter="$event.target.blur()" @blur="$settings.system.hostname = hostname"/>
		</Option>

		<Option label="Language">
			<Language class="row q-mb--sm"/>
		</Option>

		<Option label="Keymap">
			<q-select dark dense :value="noPromise($settings.system.keymap)" :options="noPromise($settings.system.keymaps)" @input="$settings.system.keymap = $event"/>
		</Option>

		<Option label="Timezone">
			<q-select dark dense :value="noPromise($settings.system.timezone)" :options="noPromise($settings.system.timezones)" @input="$settings.system.timezone = $event"/>
		</Option>

		<Option label="Password">
			<div class="row">
				<q-input dark dense type="password" :placeholder="hasPassword ? '***' : ''" :label="$t('New password')" :stack-label="hasPassword" v-model="password" name="password" @keypress.enter="setPassword" @blur="(password && password == password_repeat) && setPassword($event)" class="w50"/>
				<q-input dark dense type="password" :label="$t('Repeat password')" :stack-label="hasPassword" :label-color="password_repeat && password_repeat != password ? 'negative' : ''" v-model="password_repeat" name="password" @keypress.enter="setPassword" @blur="(password && password == password_repeat) && setPassword($event)" class="w50"/>
				<q-btn :disable="!hasPassword" round icon="close" class="close" size="xs" color="grey-9" @click="password = password_repeat = ''; setPassword($event)"/>
			</div>
			<q-checkbox :disable="!hasPassword" v-model="$settings.auth.required" :label="$t('Password required for setup')" class="q-mb--sm"/>
		</Option>

		<Option label="Persistent logging">
			<q-checkbox v-model="$settings.logs.persistent" :label="$t('Store the logs persistent')" class="q-mb--sm"/>
		</Option>

		<Option label="Announce system">
			<q-checkbox v-model="$settings.system.announce" :label="$t('Announce the system on the MLD server')" class="q-mb--sm"/>
		</Option>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'
import Language from 'components/Settings/Language'

export default {
	name: 'Settings.System',

	components: {
		Group,
		Option,
		Language,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			hostname: '',
			password: '',
			password_repeat: '',
			hasPassword: false
		}
	},

	async created() {
		this.hostname = await this.$settings.system.hostname
		this.hasPassword = !(await this.$settings.auth.login())
		this.$socket.on('system.hostname', (hostname) => {
			this.hostname = hostname || this.hostname
		})
	},

	methods: {
		set(event) {
			this.$settings.system[event.target.name] = event.target.value
		},
		setPassword(event) {
			if (event.target.name == 'password' && this.password != this.password_repeat) {
				return this.$q.notify({
					position: 'top',
					icon: 'announcement',
					message: this.$t('Passwords are not equal'),
				})
			}
			this.$settings.auth.password = this.password
			this.hasPassword = !!this.password
			if (!this.hasPassword) {
				this.$settings.auth.required = false
			}
			event.target.blur()
		}
	},

	i18n: {}
}
</script>

<style lang="scss" scoped>
.q-input.w50 {
	width: calc(50% - 38px) !important;
}
.close {
	margin: 12px 0 auto auto;
}
</style>