<template>
	<Group label="VDR" name="vdr" :enable="enable" class="vdr">
		<Option label="Channellist">
			<q-select ref="channellist" dark dense v-model="$settings.vdr.channels.active" :options="channellist.local.lists" @filter="getChannellists">
        <template v-slot:option="{ itemProps, itemEvents, opt, selected }">
          <q-item v-bind="itemProps" v-on="itemEvents">
            <q-item-section>
              <q-item-label v-html="opt"></q-item-label>
            </q-item-section>
            <q-item-section side>
							<q-btn size="xs" icon="clear" round flat style="margin:-4px 0" @click.stop="deleteChannellist(opt)"/>
            </q-item-section>
          </q-item>
        </template>
				<template v-if="!$settings.vdr.channels.active" v-slot:selected>
					<div class="text-negative"><t>no channellist</t></div>
				</template>
			</q-select>
			<template v-slot:bottom>
				<q-btn color="grey-9" size="sm" :label="$t('Fetch')" :title="$t('Fetch description')" @click="selectChannellist" class="q-mb-sm"/>
				<q-btn v-if="channellist.upload.available" color="grey-9" size="sm" :label="$t('Upload')" :title="$t('Upload description')" @click="channellist.upload.show = true" class="q-ml-md q-mb-sm"/>
				<q-btn color="grey-9" size="sm" :label="$t('Edit')" @click="editChannels" class="q-ml-md q-mb-sm"/>
			</template>
		</Option>

		<Option v-if="hasDvb" label="DiSEqC">
			<q-select dark dense clearable :value="noPromise($settings.vdr.diseqc.active)" :options="$settings.vdr.scr.active ? noPromise($settings.vdr.diseqc.configs)?.filter(name => name.startsWith('SCR')) : noPromise($settings.vdr.diseqc.configs)" @input="$settings.vdr.diseqc.active = $event">
				<template v-if="!$settings.vdr.diseqc.active" v-slot:selected>
					<div :class="$settings.vdr.scr.active ? 'text-negative' : 'text-grey-6'"><t>no DiSEqC</t></div>
				</template>
			</q-select>
			<template v-slot:bottom>
				<q-btn color="grey-9" size="sm" :label="$t('Edit')" @click="editDiseqc"/>
			</template>
		</Option>

		<Option v-if="hasDvb" label="SCR">
			<q-select dark dense clearable :value="noPromise($settings.vdr.scr.active)" :options="noPromise($settings.vdr.scr.configs)" @input="$settings.vdr.scr.active = $event">
				<template v-if="!$settings.vdr.scr.active" v-slot:selected>
					<div :class="noPromise($settings.vdr.diseqc.active)?.startsWith('SCR') ? 'text-negative' : 'text-grey-6'"><t>no SCR</t></div>
				</template>
			</q-select>
			<template v-slot:bottom>
				<q-btn color="grey-9" size="sm" :label="$t('Edit')" @click="editScr"/>
			</template>
		</Option>

		<Plugins :enable="enable" class="q-mt-md"/>


		<q-dialog v-model="channellist.online.show" content-class="channellist-online">
			<q-card style="min-width: 500px">
				<q-card-section class="q-pb-sm q-mx-xs">
					<div class="text-h5"><t>Select channellist</t></div>
				</q-card-section>

				<q-card-section class="q-py-none q-mx-xs">
					<q-scroll-area v-if="channellist.online.lists" style="height: calc(100vh - 20em)">
						<q-tree :nodes="channellist.online.lists" accordion node-key="key" :expanded.sync="channellist.online.expanded">
							<template v-slot:header-leaf="prop">
								<div tabindex="0" @keypress.enter="setChannellist(prop.node.name)" @click="setChannellist(prop.node.name)" class="leaf">
									{{ prop.node.label }}
								</div>
							</template>
						</q-tree>
					</q-scroll-area>
					<div class="row justify-center">
						<q-spinner-pie v-if="channellist.online.lists === null" size="sm" class="q-mt-md"/>
					</div>
				</q-card-section>

				<q-card-actions align="right" class="q-ma-sm q-mx-md q-px-xs">
					<q-btn color="grey-9" :label="$t('Cancel')" v-close-popup />
				</q-card-actions>
			</q-card>
		</q-dialog>

		<q-dialog v-model="channellist.upload.show">
			<q-card style="min-width: 350px">
				<q-card-section class="q-pb-sm q-mx-xs">
					<div class="text-h5"><t>Upload channellist file</t></div>
				</q-card-section>

				<q-card-section class="q-py-none q-mx-xs">
					<q-file dark dense v-model="channellist.upload.file" accept=".conf" :label-color="channellist.upload.file ? '' : 'negative'" :label="$t('Channellist file')">
						<template v-slot:append>
							<q-icon name="folder_open"/>
						</template>
					</q-file>
					<q-input dark dense v-model="channellist.upload.name" :label-color="channellist.upload.name ? '' : 'negative'" :label="$t('Channellist name')" />
				</q-card-section>

				<q-card-actions align="right" class="q-ma-sm q-mx-md q-px-xs">
					<q-btn color="grey-9" :label="$t('Cancel')" v-close-popup />
					<q-btn color="grey-9" :label="$t('Save')" @click="saveChannelsFile" />
				</q-card-actions>
			</q-card>
		</q-dialog>

		<q-dialog v-model="channellist.edit.show" persistent content-class="channellist-edit">
			<q-card>
				<q-card-section class="q-pb-sm q-mx-xs">
					<div class="text-h5"><t>Edit channellist</t></div>
				</q-card-section>

				<q-card-section class="q-py-none q-mx-xs">
					<q-input dense borderless v-model="channellist.edit.channels" :label-color="channellist.edit.channels ? '' : 'negative'" :label="$t('Channels')" type="textarea" />
				</q-card-section>

				<q-card-actions align="right" class="text-primary q-pt-none q-my-sm q-mx-md q-px-xs">
					<span class="name">
						<q-input dark dense v-model="channellist.edit.name" :label-color="channellist.edit.name ? '' : 'negative'" :label="$t('Channellist name')" class="q-mr-md" />
					</span>
					<q-btn color="grey-9" :label="$t('Sort')" @click="sortChannels" class="q-mr-md" />
					<q-btn color="grey-9" :label="$t('Cancel')" v-close-popup />
					<q-btn color="grey-9" :label="$t('Save')" @click="saveChannels" />
				</q-card-actions>
			</q-card>
		</q-dialog>

		<q-dialog v-model="diseqc.edit.show" persistent content-class="diseqc-edit">
			<q-card>
				<q-card-section class="q-pb-sm q-mx-xs">
					<div class="text-h5"><t>Edit DiSEqC configuration</t></div>
				</q-card-section>

				<q-card-section class="q-py-none q-mx-xs">
					<q-input dense borderless v-model="diseqc.edit.config" :label-color="diseqc.edit.config ? '' : 'negative'" :label="$t('Config')" type="textarea" />
				</q-card-section>

				<q-card-actions align="right" class="text-primary q-pt-none q-my-sm q-mx-md q-px-xs">
					<span class="name">
						<q-input dark dense v-model="diseqc.edit.name" :label-color="diseqc.edit.name ? '' : 'negative'" :label="$t('DiSEqC name')" class="q-mr-md" />
					</span>
					<q-btn color="grey-9" :label="$t('Cancel')" v-close-popup />
					<q-btn color="grey-9" :label="$t('Save')" @click="saveDiseqc" />
				</q-card-actions>
			</q-card>
		</q-dialog>

		<q-dialog v-model="scr.edit.show" persistent content-class="scr-edit">
			<q-card>
				<q-card-section class="q-pb-sm q-mx-xs">
					<div class="text-h5"><t>Edit SCR configuration</t></div>
				</q-card-section>

				<q-card-section class="q-py-none q-mx-xs">
					<q-input dense borderless v-model="scr.edit.config" :label-color="scr.edit.config ? '' : 'negative'" :label="$t('Config')" type="textarea" />
				</q-card-section>

				<q-card-actions align="right" class="text-primary q-pt-none q-my-sm q-mx-md q-px-xs">
					<span class="name">
						<q-input dark dense v-model="scr.edit.name" :label-color="scr.edit.name ? '' : 'negative'" :label="$t('SCR name')" class="q-mr-md" />
					</span>
					<q-btn color="grey-9" :label="$t('Cancel')" v-close-popup />
					<q-btn color="grey-9" :label="$t('Save')" @click="saveScr" />
				</q-card-actions>
			</q-card>
		</q-dialog>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'
import Plugins from 'components/Settings/VDR/Plugins'

export default {
	name: 'Settings.VDR',

	components: {
		Group,
		Option,
		Plugins,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			channellist: {
				local: {
					lists: []
				},
				online: {
					show: false,
					lists: null,
					expanded: [1]
				},
				upload: {
					available: window.location.hostname != 'localhost' || true,
					show: false,
					file: null,
					name: ''
				},
				edit: {
					show: false,
					channels: '',
					name: ''
				}
			},
			diseqc: {
				edit: {
					show: false,
					config: '',
					name: ''
				}
			},
			scr: {
				edit: {
					show: false,
					config: '',
					name: ''
				}
			},
			hasDvb: false
		}
	},

	watch: {
		'channellist.upload.file': function() {
			if (!this.channellist.upload.name) {
				this.channellist.upload.name = this.channellist.upload.file.name.replace(/\.[^.]*$/, '')
			}
		}
	},

	async created() {
		this.hasDvb = this.enable.includes('sundtek') || (await this.$settings.dvb.count)
	},

	methods: {
		async getChannellists(val, done, abort) {
			this.channellist.local.lists = await this.$settings.vdr.channels.getLocalLists()
			done()
			if (!this.channellist.local.lists.length) {
				this.selectChannellist()
			}
		},
		async selectChannellist() {
			this.channellist.online.show = true
			this.channellist.online.lists = null
			let key=1
			let addToTree = channellist => {
				let channellists = []
				for(let label in channellist) {
					if (typeof channellist[label] == 'object') {
						channellists.push({
							key: key++,
							label: label.replace(/DVB-I/, 'IPTV'),
							children: addToTree(channellist[label])
						})
					} else {
						channellists.push({
							key: key++,
							label: label.replace(/DVB-I/, 'IPTV'),
							name: channellist[label],
							header: 'leaf'
						})
					}
				}
				return channellists
			}
			this.channellist.online.lists = addToTree(await this.$settings.vdr.channels.getOnlineLists())
			this.$refs.channellist.hidePopup()
		},
		async setChannellist(name) {
			if (!this.$settings.vdr.channels.setOnlineList(name)) {
				this.$q.notify({
					position: 'top',
					icon: 'announcement',
					message: this.$t('Save failed'),
				})
			} else {
				this.channellist.online.show = false
				this.channellist.online.expanded = []
				this.$root.$emit('menu.add', {label: this.$t('Restart VDR'), handler: () => {this.$settings.services.restart('vdr')}})
			}
		},
		deleteChannellist(name) {
			this.$q.notify({
				position: 'top',
				icon: 'announcement',
				message: this.$t('Delete channellist {name}?', {name}),
				actions: [{ label: this.$t('Delete'), handler: async () => {
					if (!await this.$settings.vdr.channels.deleteList(name)) {
						this.$q.notify({
							position: 'top',
							icon: 'announcement',
							message: this.$t('Delete failed'),
						})
					} else {
						this.channellist.local.lists.splice(this.channellist.local.lists.indexOf(name), 1)
					}
				}}]
			})
		},
		async editChannels() {
			this.channellist.edit.show = true
			this.channellist.edit.channels = await this.$settings.vdr.channels.getChannels()
			this.channellist.edit.name = await this.$settings.vdr.channels.active
		},
		async sortChannels() {
			this.channellist.edit.channels = (await this.$settings.vdr.channels.sortChannels(this.channellist.edit.channels.split('\n'))).join('\n')
		},
		async saveChannels() {
			if (!this.channellist.edit.name) {
				this.$q.notify({
					position: 'top',
					icon: 'error',
					message: this.$t('Channellist name required'),
				})
			} else {
				if (!await this.$settings.vdr.channels.setChannels(this.channellist.edit.name, this.channellist.edit.channels)) {
					this.$q.notify({
						position: 'top',
						icon: 'announcement',
						message: this.$t('Save failed'),
					})
				} else {
					this.channellist.edit.show = false
					this.$root.$emit('menu.add', {label: this.$t('Restart VDR'), handler: () => {this.$settings.services.restart('vdr')}})
				}
			}
		},
		async saveChannelsFile() {
			if (!this.channellist.upload.file) {
				this.$q.notify({
					position: 'top',
					icon: 'error',
					message: this.$t('Channellist file required'),
				})
			} else if (!this.channellist.upload.name) {
				this.$q.notify({
					position: 'top',
					icon: 'error',
					message: this.$t('Channellist name required'),
				})
			} else {
				let reader = new FileReader()
				reader.onerror = (event) => {
					this.$q.notify({
						position: 'top',
						icon: 'announcement',
						message: this.$t('Save failed'),
					})
				}
				reader.onload = async (event) => {
					if (!await this.$settings.vdr.channels.setChannels(this.channellist.upload.name, event.target.result)) {
						reader.onerror()
					} else {
						this.channellist.upload.show = false
					}
				}
				reader.readAsBinaryString(this.channellist.upload.file)
			}
		},
		async editDiseqc() {
			this.diseqc.edit.show = true
			this.diseqc.edit.config = await this.$settings.vdr.diseqc.getConfig()
			this.diseqc.edit.name = await this.$settings.vdr.diseqc.active
		},
		async saveDiseqc() {
			if (!this.diseqc.edit.name) {
				this.$q.notify({
					position: 'top',
					icon: 'error',
					message: this.$t('DiSEqC name required'),
				})
			} else {
				if (!await this.$settings.vdr.diseqc.setConfig(this.diseqc.edit.name, this.diseqc.edit.config)) {
					this.$q.notify({
						position: 'top',
						icon: 'announcement',
						message: this.$t('Save failed'),
					})
				} else {
					this.diseqc.edit.show = false
					this.$root.$emit('menu.add', {label: this.$t('Restart VDR'), handler: () => {this.$settings.services.restart('vdr')}})
				}
			}
		},
		async editScr() {
			this.scr.edit.show = true
			this.scr.edit.config = await this.$settings.vdr.scr.getConfig()
			this.scr.edit.name = await this.$settings.vdr.scr.active
		},
		async saveScr() {
			if (!this.scr.edit.name) {
				this.$q.notify({
					position: 'top',
					icon: 'error',
					message: this.$t('SCR name required'),
				})
			} else {
				if (!await this.$settings.vdr.scr.setConfig(this.scr.edit.name, this.scr.edit.config)) {
					this.$q.notify({
						position: 'top',
						icon: 'announcement',
						message: this.$t('Save failed'),
					})
				} else {
					this.scr.edit.show = false
					this.$root.$emit('menu.add', {label: this.$t('Restart VDR'), handler: () => {this.$settings.services.restart('vdr')}})
				}
			}
		},
	},

	i18n: {}
}
</script>

<style lang="scss">
.channellist-online {
	.q-tree__node--child .q-tree__node-header:hover {
		cursor: pointer;
		background-color: #313131;
	}
	.leaf {
		width: 100%;
		&:focus-visible {
			background-color: $grey-9;
			width: 100%;
			border-radius: 1px;
			outline: 4px solid $grey-9;
		}
	}
}
.channellist-edit, .diseqc-edit, .scr-edit {
	.q-card {
		max-width: none;
	}
	textarea {
		width: 80vw;
		height: calc(80vh - 8em);
		margin-top: 8px;
		font-family: monospace;
		white-space: pre;
	}
	.name {
		flex: 1 1 auto;
		label {
			max-width: 30em;
		}
	}
}
</style>
