<template>
	<Group label="Webif" name="webif" :enable="enable">
		<Option label="Zoom">
			<q-slider v-model="$settings.webif.height" :step="50" :min="400" :max="1000" reverse/>
		</Option>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.Webif',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	i18n: {}
}
</script>
