<template>
	<Group label="Wifi" name="networkmanager-nmcli" :enable="enable">
		<Option label="Network">
			<template v-slot:top>
				<q-btn icon="refresh" :title="$t('Update')" @click="getConnections" color="grey-9" size="sm" />
			</template>
			<div class="row">
				<q-select dark dense clearable :class="network?.ssid && !network.iface && network.security ? 'w50' : 'w100'" :loading="loading" v-model="network" :options="networks" @filter="getNetworks">
					<template v-slot:selected-item="{opt}">
						<q-item v-if="!opt" class="text-grey"><t>Select network</t></q-item>
						<q-item v-if="opt">
							<q-item-section avatar>
								<q-icon :name="network?.iface && opt.ssid == network.ssid ? icons[Math.round(opt.quality/25)] : 'signal_wifi_off'" size="xs" />
								<q-icon v-if="opt.security" name="lock" class="security"/>
							</q-item-section>
							<q-item-section>
								<q-item-label>{{ opt.ssid }}</q-item-label>
							</q-item-section>
						</q-item>
					</template>
					<template v-slot:no-option>
						<q-item class="text-grey"><t>No networks found</t></q-item>
					</template>
					<template v-slot:option="{itemProps, itemEvents, opt}">
						<q-item v-bind="itemProps" v-on="itemEvents">
							<q-item-section avatar>
								<q-icon :name="icons[Math.round(opt.quality/25)]" />
								<q-icon v-if="opt.security" name="lock" class="security"/>
							</q-item-section>
							<q-item-section>
								<q-item-label>{{ opt.ssid }}</q-item-label>
								<q-item-label v-if="network?.iface && opt.ssid == network.ssid" caption><t>connected</t></q-item-label>
							</q-item-section>
						</q-item>
					</template>
				</q-select>

				<q-input dark dense :type="showPassword ? 'text' : 'password'" autocomplete="off" class="w50" v-model="password" name="password" v-if="network?.ssid && !network.iface && network.security" :label-color="network?.security && !password ? 'negative' : ''" :label="network?.security && !password ? $t('Password required') : $t('Password')" @keypress.enter="set" @blur="set">
					<template v-slot:append>
						<q-icon :name="showPassword ? 'visibility' : 'visibility_off'" class="cursor-pointer" @click="showPassword = !showPassword"/>
					</template>
				</q-input>
			</div>
		</Option>
	</Group>
</template>

<script>
import Group from 'components/SettingsGroup'
import Option from 'components/SettingsOption'

export default {
	name: 'Settings.Wifi',

	components: {
		Group,
		Option,
	},

	props: {
		enable: Array,
	},

	data() {
		return {
			connections: null,
			loading: false,
			network: '',
			networks: [],
			password: '',
			showPassword: false,
			icons: ['signal_wifi_statusbar_null', 'network_wifi_1_bar', 'network_wifi_2_bar', 'network_wifi_3_bar', 'signal_wifi_statusbar_4_bar']
		}
	},

	watch: {
		async 'network'(newValue, oldValue) {
			if (newValue?.ssid != oldValue?.ssid) {
				this.loading = true
				if(this.network && (!this.network.security || this.password) && !this.network.iface) {
					await this.$settings.wifi.connect(this.network.ssid, this.password)
					await this.getConnections()
				} else if (oldValue?.iface) {
					await this.$settings.wifi.disconnect(oldValue.iface)
				}
				this.loading = false
			}
		}
	},

	async created() {
		this.getConnections()
	},

	methods: {
		async getConnections() {
			this.connections = await this.$settings.wifi.connections()
			if (this.connections?.length) {
				this.network = this.network ? (this.connections.find(c => c.ssid == this.network.ssid) || this.network) : this.connections[0]
			}
		},
		async getNetworks(val, done, abort) {
			this.networks = (await this.$settings.wifi.networks())?.filter((n, i, s) => n.ssid && s.findIndex(n2 => n2.ssid == n.ssid) === i).map(n => ({...n, security: n.security == 'OWE' ? '' : n.security}))
			done()
		},
		async set(event) {
			event.target.blur()
			if(this.network && (!this.network.security || this.password)) {
				this.loading = true
				await this.$settings.wifi.connect(this.network.ssid, this.password)
				await this.getConnections()
				this.loading = false
			}
		}
	},

	i18n: {}
}
</script>

<style>
.security {
	position: absolute;
	font-size: 12px !important;
	margin: 12px 0 0 14px;
}
</style>